{% set _menu_active = 'recherche' %}
{% extends 'base.html.twig' %}
{% block title %}Recherche{% endblock title %}
{% block body %}
	<ol class="breadcrumb">
		<li><a href="{{ path('recherche') }}">Recherche</a></li>
	</ol>

	<form action="{{ path('recherche') }}" method="get" class="form-horizontal" style="margin-top: 20px; margin-bottom: 20px;">
		<div class="form-group">
			<div class="col-xs-12">
				<div class="input-group">
					<input type="text" name="q" placeholder="Rechercher une société, un établissement, un interlocuteur, une facture, un contrat" class="form-control input-lg" id="q" value="{{ query }}" />
		 			<span class="input-group-btn">
						<button type="submit" class="btn btn-default btn-lg">Rechercher</button>
					</span>
				</div>
			</div>
		</div>
	</form>
	{% if resultats is defined %}
		<ul class="nav nav-pills nav-justified">
	{% for key, items in resultats %}
	    <li class="{% if loop.first %}active{% endif %}" role="presentation"><a href="#{{ key }}" aria-controls="{{ key }}" role="tab" data-toggle="tab">{{ key }} <span class="badge">{{ items | length}}</span></a></li>
	{% endfor %}
	</ul>

	<div class="tab-content">
		{% for key, items in resultats %}
	    <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}" id="{{ key }}" style="margin-top: 20px;">
			{% include 'recherche/list'~key~'.html.twig' with {'items': items} only %}
		</div>
		{% endfor %}
	</div>
	{% endif %}
{% endblock %}
