{% set _menu_active = 'recherche' %}
{% extends 'base.html.twig' %}
{% block title %}Recherche{% endblock title %}
{% block body %}
	<ol class="breadcrumb">
		<li><a href="{{ path('recherche') }}">Recherche</a></li>
	</ol>

	<h3 style="margin-top: 20px;">Recherche avancée sur tous les documents</h3>

	<form action="{{ path('recherche') }}" method="get" class="form-horizontal" style="margin-top: 20px; margin-bottom: 20px;">
		<div class="form-group">
			<div class="col-xs-12">
				<div class="input-group">
					<input autofocus="autofocus" type="text" name="q" placeholder="Rechercher une société, un établissement, un interlocuteur, une facture, un contrat" class="form-control input-lg" id="q" value="{{ query }}" />
		 			<span class="input-group-btn">
						<button type="submit" class="btn btn-default btn-lg">Rechercher</button>
					</span>
				</div>
			</div>
		</div>
	</form>


	{% if resultats is defined and resultats | length %}
		<ul class="nav nav-pills nav-justified">
		{% set active = 1 %}
		{% for key, items in searchable %}
			{% if resultats[key] is defined %}
		    	<li class="{% if active %}active{% endif %}" role="presentation"><a href="#{{ key }}" aria-controls="{{ key }}" role="tab" data-toggle="tab">{{ key }} <span class="badge">{{ resultats[key] | length }}</span></a></li>
				{% set active = 0 %}
			{% else %}
		    	<li role="presentation"><p role="tab" data-toggle="tab" class="text-center text-muted" style="cursor: not-allowed;">{{ key }} <span class="badge">0</span></p></li>
		    {% endif %}
		{% endfor %}
		</ul>

		<div class="tab-content">
			{% for key, items in resultats %}
		    <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}" id="{{ key }}" style="margin-top: 20px;">
				{% include 'recherche/list'~key~'.html.twig' with {'items': items,'paiements' : paiements} only %}
			</div>
			{% endfor %}
		</div>
	{% endif %}

	{% if resultats is defined and not resultats | length %}
		Aucun résultat trouvé
	{% endif %}
{% endblock %}
