<div class="signature" data-role="page" id="signature_{{ planifiable.id }}" data-id="{{ planifiable.id }}">
  <div data-role="header" style="overflow:hidden;" data-position="fixed">
    <h1>Tournée {{ technicien.identite }}</h1>
    <a href="#rapport_{{ planifiable.id }}" class="signature_valider ui-btn ui-icon-arrow-l ui-btn-icon-left" data-id="{{ planifiable.id }}" >
          &nbsp;Retour
    </a>
    <a data-id="{{ planifiable.id }}" class="signature_vider ui-btn ui-icon-recycle ui-btn-icon-right" data-id="{{ planifiable.id }}" >
      vider&nbsp;
    </a>
    <div class="reloadWarning ui-bar ui-bar-b" style="display:none;"></div>
  </div>
    <div data-role="main" class="ui-content" style="padding:3px">
    {{ form_start(form, { 'attr': { 'class': 'form-horizontal'} }) }}
    {% set passageId = planifiable.id %}
      <div class="signature-pad ui-body ui-body-a ui-corner-all" id="signature_pad_content_{{ planifiable.id }}">
          {{ form_errors(form.signatureBase64) }}
          {{ form_widget(form.signatureBase64) }}
          <canvas id="signature_pad_{{ planifiable.id }}"></canvas>
      </div>
      <a  class="signature_valider ui-btn ui-icon-check ui-btn-icon-right rapport"  href="#rapport_{{ planifiable.id }}" data-id="{{ planifiable.id }}" >
          Valider la saisie&nbsp;
      </a>
    </form>
  </div>
</div>
