{% set _menu_active = 'tournee' %}
{% extends 'base.html.twig' %}
{% block title %}Tournées du {{ date | localizeddate("medium", "none", null, null, "d MMMM yyyy") }}{% endblock title %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('tournees') }}">Tournees</a></li>
    </ol>
    	<div class="row">
        <div class="col-xs-9">
            <h2>Tournées du {{ date | localizeddate("medium", "none", null, null, "d MMMM yyyy") }}</h2></span>
        </div>
        <div class="col-xs-3">
            <h3><div class="form-group">
                <div class='input-group date' id='tournees-choice-datetimepicker'>
                    <input type='text' class="form-control datepicker" value="{{ date | localizeddate("medium", "none", null, null, "dd/MM/yyyy") }}" data-url="{{path('tournees')}}" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
          </h3>
        </div>
      </div>
  {% for technicienId,passagesTechnicien in passagesByTechniciens %}
  <div class="panel panel-default">
  	<div class="panel-body">
    	<div class="row">
    		<div class="col-xs-2">
          <br/>
    			<h4>
            <i class="mdi mdi-face mdi-lg" ></i><br/><strong>{{ passagesTechnicien.technicien.identite }}</strong>
          </h4>
          <br/><br/>
          <a href="{{ path('calendar',{ 'technicien': passagesTechnicien.technicien.id, 'date': date | localizeddate('medium', 'none', null, null, 'yyyy-MM-dd') , 'id': '0' }) }}" ><span class="glyphicon glyphicon-calendar"></span>&nbsp;calendrier</a>
        </div>
    		<div class="col-xs-8">
          {% for passage in passagesTechnicien.passages %}
            <div class="list-group-item" {% if passage.isValideTechnicien() and passage.isSaisieTechnicien() %} style="background-color:{{ passage.rendezVous.getStatusColor() }}; color:{{ passage.rendezVous.getTextColor() }}" {% endif %}>
              <a data-toggle="modal" data-remote="false"
              data-target="#modal-calendrier-infos"
              href="{{ path('passage_visualisation', { 'id': passage.id, 'service': app.request.uri }) }}" class="deco-none">
              <div class="row">
                <div class="col-xs-2">{{passage.dateDebut | date("H") }}h{{passage.dateDebut | date("i") }}</div>
                <div class="col-xs-7"><strong>{% if passage.etablissement.societe.raisonSociale != passage.etablissementInfos.nom %}{{ passage.etablissement.societe.raisonSociale }}, {% endif %}{{ passage.etablissementInfos.nom }}</strong></div>
                <div class="col-xs-3"><small>{{ passage.contrat.commercial.identite }}</small></div>
              </div>
              <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-7">{{ passage.etablissementInfos.adresse.adresse }}
                    {{ passage.etablissementInfos.adresse.codePostal }}
                    {{ passage.etablissementInfos.adresse.commune }}</div>
                <div class="col-xs-3"></div>
              </div>
              <div class="row">
                <div class="col-xs-2">
                  {% if(passage.isGarantie or passage.isControle) %}
                    <span class="badge badge-warning">{% if(passage.isGarantie) %}ganrantie{% elseif(passage.isControle) %}contrôle{% endif %}</span>
                  {% endif %}
                  {% if(passage.mouvementDeclenchable) %}
                  <a href="{{ path('facture_societe', { 'id': passage.societe.id }) }}" class="deco-none"><span class="badge{% if (passage.isMouvementAlreadyFacture or passage.getContrat.getNbFacturesRestantes == 0) %} badge-success  {% else %} badge-inverse {% endif %}">{% if (passage.isMouvementAlreadyFacture or passage.getContrat.getNbFacturesRestantes == 0) %}facturé{% else %}facturant{% endif %}</span></a>
                  {% endif %}

                </div>
                <div class="col-xs-7">
                  {% for prestation in passage.prestations %}
                  {% if(prestation.wordToPicto) %}
                  <span class="step size-24" title="{{  prestation.nomToString }}"
                  data-toggle="tooltip"> <i class="mdi-{{prestation.wordToPicto}}"
                  style="cursor: pointer;">&nbsp;</i></span>
                  {% else %}
                  <span class="label label-xs label-primary">{{ prestation.nomToString }}</span>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="col-xs-3">
                      {% if(passage.duree) %}<span><i class="mdi mdi-schedule mdi-lg"></i>&nbsp;{{passage.duree }}</span>{% endif %}
                </div>
          </div>
        </a>
    </div>
  {% endfor %}
    		</div>
    		<div class="col-xs-2 text-right">
          <a title="Accéder à la tournée" href="{{ path('tournee_technicien', {'technicien': passagesTechnicien.technicien.id, 'date': date | localizeddate('medium', 'none', null, null, 'yyyy-MM-dd') })}}" class="btn btn-success">Tournée&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
    		</div>
    	</div>
    </div>
    </div>
  {% endfor %}
{% endblock %}
