{% set _menu_active = 'tournee' %}
{% extends 'base_mobile.html.twig' %}

{% block title %}Aurouze - {{ technicien.identite }} {% endblock title %}
{% block body %}
<div class="row">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-8 text-center">
        <h2>Intervention {{ technicien.identite }}</h2>
        <h3>{{ passage.dateDebut | localizeddate("medium", "none", null, null, "d MMMM yyyy") }} {{passage.dateDebut | date("H") }}h{{passage.dateDebut | date("i") }}</h3>
        <span><strong>Commercial : {{ passage.contrat.commercial.identite }}</strong></span>
  </div>
  <div class="col-xs-3 text-right">
    <br/>
    <a class="btn btn-default">TRANSMETTRE</a><br/><br/>
    <a class="btn btn-default">MODIFIER LE RAPPORT</a>
  </div>
</div>
<br/>
  <div class="panel panel-default">
  	<div class="panel-body">
      	<div class="row">
      		<div class="col-xs-12 text-left"><strong>{{ passage.etablissementInfos.nom }}</strong></div>
          <div class="col-xs-12 text-left">{{ passage.etablissementInfos.adresse.adresse }}<br/>
              {{ passage.etablissementInfos.adresse.codePostal }}&nbsp;{{ passage.etablissementInfos.adresse.commune }}
          </div>
          {% if passage.etablissementInfos.telephoneFixe or passage.etablissementInfos.telephonePortable %}
          <div class="col-xs-12 text-left">
              <i class="mdi mdi-call mdi-lg"></i>
              <a href="tel:{{ passage.etablissementInfos.telephoneFixe }}">{{ passage.etablissementInfos.telephoneFixe }}</a>
              {% if passage.etablissementInfos.telephoneFixe and passage.etablissementInfos.telephonePortable %}
                  /
              {% endif %}
              <a href="tel:{{ passage.etablissementInfos.telephonePortable }}">{{ passage.etablissementInfos.telephonePortable }}</a>
            </div>
          {% endif %}
        {% if(passage.commentaire) %}
          <div class="col-xs-12 text-left"> Commentaire : {{ passage.commentaire }}</div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 text-left">
              {{passage.libelle | capitalize }}
            </div>
            <div class="col-xs-12 text-left">
              <br/>
              Traitement :&nbsp;
              {% for prestation in passage.prestations %}
                <div class="btn btn-default btn-xs">
                  {% if(prestation.wordToPicto) %}
                    <span class="step size-18"><i class="mdi-{{prestation.wordToPicto}}" style="cursor: pointer;"></i></span>
                  {% endif %}
                  &nbsp;{{ prestation.getNomSimplifieToString | upper }}
                </div>
              {% endfor %}
            </div>

          <div class="col-xs-12 text-left">
            <br/>
            <span style="text-decoration: underline">Nomenclature</span><br/><br/>
            {{ passage.contrat.nomenclature | nl2br }}
          </div>
          <div class="col-xs-12 text-left">
            <br/>
            <a class="btn btn-lg btn-group btn-warning col-xs-12 text-center"><span class="pull-left glyphicon glyphicon-pencil"></span><span class="sr-only">Toggle Dropdown</span>SAISIR LE RAPPORT</a>
          </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 text-left">
            <h4>Historique</h4>
            <hr/>
          </div>
          {% for hPassage in historiquePassages %}
          <div class="col-xs-12 text-left">
            Passage du {{ hPassage.dateDebut | localizeddate("medium", "none", null, null, "d MMMM yyyy") }} {{hPassage.dateDebut | date("H") }}h{{hPassage.dateDebut | date("i") }}
            (
            {% for tech in hPassage.techniciens %}
            {{ tech.identite }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            )
          </div>
          <div class="col-xs-12 text-left">
            <br/>
            <span style="text-decoration: underline">Constat</span><br/><br/>
            {{ hPassage.description | nl2br }}
          </div>
          <div class="col-xs-12 text-left">
            <br/>
            {% for prestation in hPassage.prestations %}
              <div class="btn btn-default btn-xs">
                {% if(prestation.wordToPicto) %}
                  <span class="step size-18"><i class="mdi-{{prestation.wordToPicto}}" style="cursor: pointer;"></i></span>
                {% endif %}
                &nbsp;{{ prestation.getNomSimplifieToString | upper }}
              </div>
            {% endfor %}
          </div>

          <div class="col-xs-12 text-left">
            <br/>
            <table style="margin-top: 20px;" class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th class="col-xs-2 text-center">Quantité utilisée</th>
                        <th class="col-xs-8">Produit</th>
                        <th class="col-xs-2 text-center">Quantité totale</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produit in hPassage.produits  %}
                    <tr>
                        <td>{{ produit.nbUtilisePassage }}</td>
                        <td>{{ produit.nom }} {% if produit.conditionnement %}<small class="text-muted">({{ produit.conditionnement }})</small>{% endif %}</td>
                        <td class="text-right"> {{ produit.nbUtilisePassage }} {{ hPassage.getNbProduitsContrat(produit.identifiant)  }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br/>
            <hr/>
          </div>

        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
