{% set _menu_active = 'tournee' %}
{% extends 'base_mobile.html.twig' %}

{% block title %}{{ application.shortname }} - {{ technicien.identite }} {% endblock title %}
{% block body %}
<div id="version" data-version="{{version}}" data-url="{{ path('tournee_version',{ 'technicien' : technicien.id }) }}" ></div>
<div class="tournee_accueil" data-role="page" id="tournee_accueil">

<div data-role="header" style="overflow:hidden;" data-position="fixed">
<h1>Tournée {{ technicien.identite }}</h1>
<a href="{{path('tournee_technicien',{ 'technicien' : technicien.id })}}" class="ui-btn ui-icon-back ui-btn-icon-left" >
      &nbsp;Recharger
</a>


<div class="reloadWarning ui-bar ui-bar-b" style="display:none;">
	<h3>Votre tournée a été modifiée. Il est préférable de la recharger.&nbsp;
      <a onclick="window.location.reload()" class="ui-btn ui-icon-back ui-btn-icon-left" data-role="button" data-mini="true" >
        &nbsp;Recharger
      </a>
  </h3>
</div>
</div>

<div data-role="main" class="ui-content">
<ul data-role="listview" data-ajax="false" data-inset="true" data-theme="a">
  <li data-role="list-divider">
    <h3>  <input id="tourneesDate" data-url-cible="{{ path('tournee_technicien',{ 'technicien' : technicien.id }) }}" data-role="date" value="{{date | localizeddate("medium", "none", null, null, "dd/MM/yyyy") }}" data-inline="false" type="text" /></h3>
    <span class="ui-li-count">{{ rendezVousByTechnicien | length }}</span>
  </li>
  {% for rendezvous in rendezVousByTechnicien %}
      {% if rendezvous.planifiable %}
        {% set planifiable = rendezvous.planifiable %}
        {% set type = planifiable.getTypePlanifiable|lower %}
        <li>
        <a class="tournee_visualisation anchor-link {% if( planifiable.isTransmis ) %}transmis{% endif %}" href="#visualisation_{{ planifiable.id }}"  >
          <h2>{% if(planifiable.dateDebut | date('Ymd') < date | date('Ymd')) %}Début le {{planifiable.dateDebut | localizeddate("medium", "none", null, null, "dd MMMM")}}
              {% else %}{{planifiable.dateDebut | date("H") }}h{{planifiable.dateDebut | date("i") }}
              {% endif %}
              &nbsp;-&nbsp;{% if planifiable.etablissement.societe.raisonSociale != planifiable.etablissementInfos.nom %}{{ planifiable.etablissement.societe.raisonSociale }}, {% endif %}{{ planifiable.etablissementInfos.nom }}
          </h2>

          <p>
            <strong>{{ planifiable.etablissementInfos.adresse.adresse }}
            {{ planifiable.etablissementInfos.adresse.codePostal }}
            {{ planifiable.etablissementInfos.adresse.commune }}</strong>
          </p>
            <p>
            {% if planifiable.prestations is defined %}
            {% for prestation in planifiable.prestations %}

                {% if(prestation.wordToPicto) %}
                  <span class="step size-18"><i class="mdi-{{prestation.wordToPicto}}" style="cursor: pointer;"></i></span>
                {% endif %}
                &nbsp;<strong>{{ prestation.nom }}</strong>&nbsp;&nbsp;

              {% endfor %}
            {% endif %}
            </p>
        </a>
        </li>
      {% else %}
      <li class="notStatic" style="padding:15px">
        <h2>{{rendezvous.dateDebut | date("H") }}h{{rendezvous.dateDebut | date("i") }}</h2>
          <div class="row">
            <div class="col-xs-12">
              <strong>{{rendezvous.titre }}</strong>
            </div>
            <div class="col-xs-12">
              {{rendezvous.description | nl2br }}
            </div>
          </div>
        </li>
      {% endif %}
  {% endfor %}
</ul>
</div>
</div>
{% for rendezvous in rendezVousByTechnicien %}
  {% if rendezvous.planifiable %}
    {% set planifiable = rendezvous.planifiable %}
    {% set type = planifiable.getTypePlanifiable|lower %}

    <div class="visualisation" data-role="page" id="visualisation_{{ planifiable.id }}">
      <div data-role="main" class="ui-content">
        {% set historiquePassages = [] %}
        {% if historiqueAllPassages[planifiable.id] is defined %}
          {% set historiquePassages = historiqueAllPassages[planifiable.id] %}
        {% endif %}
          {{ include('tournee/'~type~'Visualisation.html.twig', { 'planifiable' : planifiable, "technicien" : technicien, "historiquePassages" : historiquePassages,'telephoneSecretariat' : telephoneSecretariat}) }}
      </div>
    </div>
  {{ include('tournee/'~type~'Rapport.html.twig', { 'planifiable' : planifiable, "technicien" : technicien, "form" : planifiableForms[planifiable.id]}) }}
  {{ include('tournee/'~type~'Signature.html.twig', { 'planifiable' : planifiable, "technicien" : technicien, "form" : planifiableForms[planifiable.id]}) }}
  {{ include('tournee/attachementAjout.html.twig', { 'planifiable' : planifiable, "technicien" : technicien, "attachementform" : attachementsForms[planifiable.etablissement.id]}) }}
  {% endif %}

{% endfor %}
{% endblock %}
