{% set _menu_active = 'tournee' %}
{% extends 'base_mobile.html.twig' %}

{% block title %}Aurouze - {{ technicien.identite }} {% endblock title %}
{% block body %}
<div class="tournee_accueil" data-role="page" id="tournee_accueil">
<div data-role="main" class="ui-content">
<h3 class="ui-bar ui-bar-a ui-corner-all">Tournée {{ technicien.identite }}</h3>
<ul data-role="listview" data-ajax="false" data-inset="true" data-theme="a">
  <li data-role="list-divider">
    <h3>{{ date | localizeddate("medium", "none", null, null, "d MMMM yyyy") }}</h3>
    <span class="ui-li-count">{{ passagesByTechnicien | length }}</span>
  </li>
  {% for passage in passagesByTechnicien %}
    <li>
        <a class="tournee_passage_visualisation anchor-link" href="#passage_visualisation_{{ passage.id }}"  >
          <div class="ui-grid-a">
            <div class="ui-block-a">
              <h2>{{passage.dateDebut | date("H") }}h{{passage.dateDebut | date("i") }}</h2>
            </div>
            <div class="ui-block-b">
                <h2>{{ passage.etablissementInfos.nom }}</h2>
            </div>
          </div>
          <p>
            <strong>{{ passage.etablissementInfos.adresse.adresse }}
            {{ passage.etablissementInfos.adresse.codePostal }}
            {{ passage.etablissementInfos.adresse.commune }}</strong>
          </p>
            <p>
            {% for prestation in passage.prestations %}

                {% if(prestation.wordToPicto) %}
                  <span class="step size-18"><i class="mdi-{{prestation.wordToPicto}}" style="cursor: pointer;"></i></span>
                {% endif %}
                &nbsp;<strong>{{ prestation.getNomSimplifieToString }}</strong>&nbsp;&nbsp;

              {% endfor %}
            </p>
        </a>
    </li>
{% endfor %}
</ul>
</div>
</div>
{% for passage in passagesByTechnicien %}
  <div class="passage_visualisation" data-role="page" id="passage_visualisation_{{ passage.id }}">
    <div data-role="main" class="ui-content">
      {{ include('tournee/passageVisualisation.html.twig', { 'passage' : passage, "technicien" : technicien, "historiquePassages" : historiqueAllPassages[passage.id]}) }}
    </div>
  </div>
  {{ include('tournee/passageRapport.html.twig', { 'passage' : passage, "technicien" : technicien, "form" : passagesForms[passage.id]}) }}
{% endfor %}
{% endblock %}
