{% set _menu_active = 'tournee' %}
{% extends 'base_mobile.html.twig' %}

{% block title %}{{ application.shortname }} - {{ technicien.identite }} {% endblock title %}
{% block body %}
<div id="version" data-version="{{version}}" data-url="{{ path('tournee_version',{ 'technicien' : technicien.id }) }}" ></div>
<div class="tournee_accueil" data-role="page" id="tournee_accueil">

<div data-role="header" style="overflow:hidden;" data-position="fixed">
<h1>Tournée {{ technicien.identite }}</h1>
<a href="{{path('tournee_technicien',{ 'technicien' : technicien.id })}}" class="ui-btn ui-icon-back ui-btn-icon-left" >
      &nbsp;Recharger
</a>


<div class="reloadWarning ui-bar ui-bar-b" style="display:none;">
	<h3>Votre tournée a été modifiée. Il est préférable de la recharger.&nbsp;
      <a onclick="window.location.reload()" class="ui-btn ui-icon-back ui-btn-icon-left" data-role="button" data-mini="true" >
        &nbsp;Recharger
      </a>
  </h3>
</div>
</div>

<div data-role="main" class="ui-content">
<ul data-role="listview" data-ajax="false" data-inset="true" data-theme="a">
  <li data-role="list-divider">
    <h3>  <input id="tourneesDate" data-url-cible="{{ path('tournee_technicien',{ 'technicien' : technicien.id }) }}" data-role="date" value="{{date | localizeddate("medium", "none", null, null, "dd/MM/yyyy") }}" data-inline="false" type="text" /></h3>
    <span class="ui-li-count">{{ rendezVousByTechnicien | length }}</span>
  </li>
  {% for rendezvous in rendezVousByTechnicien %}
      {% if rendezvous.passage %}
        {% set passage = rendezvous.passage %}
        <li>
        <a class="tournee_passage_visualisation anchor-link {% if( passage.isTransmis ) %}transmis{% endif %}" href="#passage_visualisation_{{ passage.id }}"  >
          <h2>{% if(passage.dateDebut | date('Ymd') < date | date('Ymd')) %}Début le {{passage.dateDebut | localizeddate("medium", "none", null, null, "dd MMMM")}}
              {% else %}{{passage.dateDebut | date("H") }}h{{passage.dateDebut | date("i") }}
              {% endif %}
              &nbsp;-&nbsp;{% if passage.etablissement.societe.raisonSociale != passage.etablissementInfos.nom %}{{ passage.etablissement.societe.raisonSociale }}, {% endif %}{{ passage.etablissementInfos.nom }}
          </h2>

          <p>
            <strong>{{ passage.etablissementInfos.adresse.adresse }}
            {{ passage.etablissementInfos.adresse.codePostal }}
            {{ passage.etablissementInfos.adresse.commune }}</strong>
          </p>
            <p>
            {% for prestation in passage.prestations %}

                {% if(prestation.wordToPicto) %}
                  <span class="step size-18"><i class="mdi-{{prestation.wordToPicto}}" style="cursor: pointer;"></i></span>
                {% endif %}
                &nbsp;<strong>{{ prestation.nom }}</strong>&nbsp;&nbsp;

              {% endfor %}
            </p>
        </a>
        </li>
      {% else %}
      <li class="notStatic" style="padding:15px">
        <h2>{{rendezvous.dateDebut | date("H") }}h{{rendezvous.dateDebut | date("i") }}</h2>
          <div class="row">
            <div class="col-xs-12">
              <strong>{{rendezvous.titre }}</strong>
            </div>
            <div class="col-xs-12">
              {{rendezvous.description | nl2br }}
            </div>
        </li>
      {% endif %}
  {% endfor %}
</ul>
</div>
</div>
{% for rendezvous in rendezVousByTechnicien %}
  {% if rendezvous.passage %}
    {% set passage = rendezvous.passage %}
    <div class="passage_visualisation" data-role="page" id="passage_visualisation_{{ passage.id }}">
      <div data-role="main" class="ui-content">
        {{ include('tournee/passageVisualisation.html.twig', { 'passage' : passage, "technicien" : technicien, "historiquePassages" : historiqueAllPassages[passage.id],'telephoneSecretariat' : telephoneSecretariat}) }}
      </div>
    </div>
  {{ include('tournee/passageRapport.html.twig', { 'passage' : passage, "technicien" : technicien, "form" : passagesForms[passage.id]}) }}
  {{ include('tournee/passageSignature.html.twig', { 'passage' : passage, "technicien" : technicien, "form" : passagesForms[passage.id]}) }}
  {{ include('tournee/attachementAjout.html.twig', { 'passage' : passage, "technicien" : technicien, "attachementform" : attachementsForms[passage.etablissement.id]}) }}
  {% endif %}

{% endfor %}
{% endblock %}
