{% set _menu_active = 'contrat' %}
{% extends 'base.html.twig' %}
{% block title %}Contrat n°{{ contrat.numeroArchive }} {{ societe.raisonSociale }}{% endblock title %}
{% block body %}
        <ol class="breadcrumb">
            <li><a href="{{ path('contrat') }}">Contrat</a></li>
            <li><a href="{{ path('contrats_societe',{ 'id' : societe.id }) }}">{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
            <li>
                <a href="{{ path('contrat_acceptation',{ 'id' : contrat.id }) }}">Saisie du contrat&nbsp;n° {{ contrat.numeroArchive }}</a>
            </li>
        </ol>

        <nav style="margin-top: 20px;" class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('contrat_modification',{ 'id' : contrat.id }) }}">1. Saisie des informations</a></li>
                <li class="active"><a href="{{ path('contrat_acceptation',{ 'id' : contrat.id }) }}">2. Acceptation du contrat</a></li>
            </ul>
        </nav>

        <div class="row" style="margin-bottom: 5px;">
            <div class="col-xs-8">
                <h3 style="margin-top: 0;">Acceptation du contrat de {{ contrat.dateDebut | localizeddate("medium", "none", null, null, "MMM yyyy") | capitalize }}{% if(contrat.dateDebut | localizeddate("medium", "none", null, null, "MMM yyyy")) != contrat.dateFin | localizeddate("medium", "none", null, null, "MMM yyyy") %}&nbsp;à&nbsp;{{ contrat.dateFin | localizeddate("medium", "none", null, null, "MMM yyyy") | capitalize }}{% endif %}
                    <small>&nbsp;n° {{ contrat.getNumeroArchive() }}</small> <span class="btn btn-sm btn-{{ contrat.statutCouleur }}">{{ contrat.getStatutLibelleLong | capitalize }}</span></h3>
            </div>
            <div class="col-xs-4 text-right">
                {% if contrat.isEnAttenteAcceptation() %}
                <a href="{{ path('contrat_suppression', {'id': contrat.getId()}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce contrat ?')" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;Supprimer le contrat</a>
                {% else %}
                <a href="{{ path('contrat_visualisation', {'id': contrat.getId()}) }}" class="btn btn-link">Retour à la visualisation du contrat</a>
                {% endif %}
            </div>
        </div>

        {{ include('contrat/contrat.html.twig', { 'contrat': contrat ,'form' : form, 'editionMode': true}) }}

        {{ form_start(form) }}

        <hr />

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    {{ form_label(form.referenceClient) }}
                    {{ form_errors(form.referenceClient) }}
                    {{ form_widget(form.referenceClient) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.factureDestinataire) }}
                    {{ form_errors(form.factureDestinataire) }}
                    {{ form_widget(form.factureDestinataire, { 'attr': {'placeholder': societe.raisonSociale }}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.commentaire) }}
                    {{ form_errors(form.commentaire) }}
                    {{ form_widget(form.commentaire) }}
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    {{ form_label(form.technicien) }}
                    {{ form_errors(form.technicien) }}
                    {{ form_widget(form.technicien) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.commercial) }}
                    {{ form_errors(form.commercial) }}
                    {{ form_widget(form.commercial) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.dateCreation) }}
                    {{ form_errors(form.dateCreation) }}
                    <div class="input-group">
                        {{ form_widget(form.dateCreation) }}
                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.dateAcceptation) }}
                    {{ form_errors(form.dateAcceptation) }}
                    <div class="input-group">
                        {{ form_widget(form.dateAcceptation) }}
                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.dateDebut) }}
                    {{ form_errors(form.dateDebut) }}
                    <div class="input-group">
                        {{ form_widget(form.dateDebut) }}
                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-xs-4 text-left">
                {% if contrat.isEnAttenteAcceptation %}
                <a href="{{ path('contrat_modification', {'id': contrat.getId()}) }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Retour à l'étape précédente</a>
                {% else %}
                <a href="{{ path('contrat_visualisation', {'id': contrat.getId()}) }}" class="btn btn-link"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Retour à la visualisation du contrat</a>
                {% endif %}
            </div>
            <div class="col-xs-4 text-center">
                <a class="btn btn-primary" href="{{ path('contrat_markdown', {'id': contrat.id }) }}"><span class="glyphicon glyphicon glyphicon-file"></span> Voir le PDF</a>

                {% if contrat.isEnAttenteAcceptation %}
                <button class="btn btn-default btn" name="{{ "brouillon" }}"  type="submit" value="1"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Enregistrer en brouillon</button>
                {% endif %}
            </div>
            <div id="contrat_acceptation_button_row" class="col-xs-4 text-right">
                {% if contrat.isEnAttenteAcceptation %}
                <button id="contrat_acceptation_save" onclick="return confirm('Êtes vous sûr de vouloir accepter ce contrat ?');" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Accepter le contrat</button>
                {% else %}
                <button id="contrat_acceptation_save" type="submit" class="btn btn-default">Modifier</button>
                {% endif %}
            </div>
        </div>
        <br/>
        <br/>
    {{ form_end(form) }}
{% endblock %}
