{% set _menu_active = 'contrat' %}
{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <h1>Contrat en attente d'acceptation <small>{{ contrat.getIdentifiant() }}</small> <a href="{{ path('contrat_modification', {'id': contrat.getId()}) }}" class="pull-right btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Modifier</a></h1>

        {{ include('contrat/contrat.html.twig', { 'contrat': contrat }) }}
        {{ form_start(form) }}
        <div class="row">
            <div class="form-group col-xs-6">
                {{ form_label(form.dateAcceptation) }}
                {{ form_errors(form.dateAcceptation) }}
                <div class="input-group">
                    {{ form_widget(form.dateAcceptation) }}
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                </div>
            </div>
            <div class="form-group col-xs-6">
                {{ form_label(form.dateDebut) }}
                {{ form_errors(form.dateDebut) }}
                <div class="input-group">
                    {{ form_widget(form.dateDebut) }}
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                {{ form_label(form.commentaire) }}
                {{ form_errors(form.commentaire) }}
                {{ form_widget(form.commentaire) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-left">
                <a href="{{ path('contrat_modification', {'id': contrat.getId()}) }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Retour aux contrats</a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="{{ path('contrat_suppression', {'id': contrat.getId()}) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;Supprimer</a>
            </div>
            <div class="col-xs-4 text-right">
                {{ form_widget(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
