<div class="panel panel-default">
	<div class="panel-heading">Contrat de type <strong>{{ contrat.getTypeContrat() }}</strong></div>
  	<div class="panel-body">
	  	<div class="rows">
	  		<div class="col-xs-6">
	  		{% if contrat.getCommercial() %}
	  		Commercial : <strong>{{ contrat.getCommercial().getIdentite() }}</strong><br />
	  		{% endif %}
	  		<strong>{{ contrat.getDateDebut()|date("d/m/Y") }}</strong> (<strong>{{ contrat.getDuree() }}</strong> mois)<br />
	  		Garantie : <strong>{{ contrat.getDureeGarantie() }}</strong> mois
	  		</div>
	  		<div class="col-xs-6">
	  		{% if contrat.getTechnicien() %}
	  		Technicien : <strong>{{ contrat.getTechnicien().getIdentite() }}</strong><br />
	  		{% endif %}
	  		<strong>{{ contrat.getNbPassage() }}</strong> passage{% if contrat.getNbPassage() > 1 %}s{% endif %} de <strong>{{ contrat.getDureePassage() }}</strong> min.
	  		</div>
		</div>
  	</div>
</div>

<h1 class="text-center">
	{{ contrat.getPrixHt() }}&nbsp;<small>€&nbsp;HT</small>&nbsp;
     
</h1>
<div class="panel panel-default">
	<div class="panel-heading">Nomenclature</div>
  	<div class="panel-body">
            {{ contrat.getNomenclature() }}
        </div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Interventions</div>
  	<div class="panel-body">
	  	{% for intervention in contrat.interventions %}
	  	<div class="row">
	  		<div class="col-xs-1">
				<span class="badge">{{ loop.index }}</span>
			</div>
	  		<div class="col-xs-10">
				{{ intervention.prestations|join(', ') }}
			</div>
	  		<div class="col-xs-1">{% if intervention.facturable %}<span class="glyphicon glyphicon-usd"></span>{% endif  %}</div>
		</div>
		{% if not loop.last %}
	  	<hr />
	  	{% endif %}
		{% endfor %}
  	</div>
</div>

