<div class="panel panel-default">
    <div class="panel-heading">Contrat de type <strong>{{ contrat.getTypeContratLibelle() }}</strong>{% if contrat.isTypeReconductionTacite or contrat.isTypeRenouvelableSurProposition %}
      <span style="cursor: pointer;" data-toggle="tooltip" title="{% if contrat.getReconduit %} Contrat reconduit {% else %} Contrat à reconduire {% endif %}" class=" pull-right badge {% if contrat.getReconduit %} badge-success {% else %} badge-danger {% endif %}">R</span>{% endif %}
    </div>
    <div class="panel-body">
        <div class="row">
            {% if contrat.referenceClient %}
            <div class="col-xs-12">
            	Numéro de commande : <strong>{{ contrat.referenceClient }}</strong>
            </div>
            {% endif %}
            <div class="col-xs-6">
                {% if contrat.getCommercial() %}Commercial : <strong>{{ contrat.getCommercial().getIdentite() }}</strong><br />{% endif %}
                <strong>{{ contrat.getDateDebut()|date("d/m/Y") }}</strong> (<strong>{{ contrat.getDuree() }}</strong> mois)<br />
                {% if contrat.getDureeGarantie() %}Garantie : <strong>{{ contrat.getDureeGarantie() }}</strong> mois{% endif %}
            </div>
            <div class="col-xs-6">
                {% if contrat.getTechnicien() %}
                    Technicien : <strong>{{ contrat.getTechnicien().getIdentite() }}</strong><br />
                {% endif %}
                <strong>{{ contrat.getNbPassages() }}</strong> passage{% if contrat.getNbPassages() > 1 %}s{% endif %} de <strong>{{ contrat.getHumanDureePassage() }}</strong>
            </div>
        </div>
    </div>
</div>



{%  if(contrat.isEnAttenteAcceptation() and contrat.contratPassages | length == 0 ) %}
    {{ include('contrat/contrat_previsionnel.html.twig', { 'contrat': contrat ,'form' : (form is defined)? form : null}) }}
{%  else %}
    {{ include('contrat/contrat_passages.html.twig', { 'contrat': contrat ,'form' : (form is defined)? form : null }) }}
{% endif %}


<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Produits</h3></div>
    <table class="table table-bordered table-condensed table-stripped">
        <thead>
            <tr>
                <th class="col-xs-2 text-center">  <strong>Nombre prévu</strong></th>
                <th class="col-xs-2 text-center">  <strong>Nb premier passage</strong></th>
                <th class="col-xs-4">Nom produit</th>
                <th class="col-xs-2">Prix d'achat</span></th>
                <th class="col-xs-2">Prix de vente prestation</span></th>
            </tr>
        </thead>
        <tbody>
            {% for produit in contrat.produits %}
                <tr>
                    <td class="col-xs-2 text-right">  <strong>{{ produit.nbTotalContrat }}</strong></td>
                    <td class="col-xs-2 text-right">  <strong>{{ produit.nbPremierPassage }}</strong></td>
                    <td class="col-xs-4">{{ produit.nom }} {% if(produit.conditionnement) %}<small class="text-muted">({{ produit.conditionnement }})</small>{% endif %}</td>
                    <td class="col-xs-2 text-right">{{ "%0.2f" | format(produit.prixHt) }}&nbsp;€&nbsp;HT</span></td>
                    <td class="col-xs-2 text-right">{{ "%0.2f" | format(produit.prixPrestation) }}&nbsp;€&nbsp;HT</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if(contrat.mouvements | length > 0 or factures | length > 0) %}
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Facturation</h3></div>
    <table class="table table-bordered table-condensed table-stripped">
        <thead>
            <tr>
                <th>Intitulé</th>
                <th class="text-right">Date</th>
                <th class="text-center">Facture</th>
                <th class="text-right">Montant HT</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
        {% for mouvement in facture.lignes %}
            <tr>
                <td>{{ mouvement.libelle }}</td>
                <td class="text-right">{{ facture.dateFacturation | localizeddate("medium", "none", null, null, "d MMM YYYY") }}</td>
                <td class="text-center"><a href="{{ path('facture_pdf', {'id': facture.id })}}"><span class="glyphicon glyphicon-file"></span>&nbsp;{{ facture.numeroFacture }}</a></td>
                <td class="text-right">{{ "%0.2f" | format(mouvement.montantHT) }} €</td>
            </tr>
        {% endfor %}
        {% endfor %}
        {% for mouvement in contrat.mouvements if not mouvement.facture %}
            <tr>
                <td>{{ mouvement.libelle }}</td>
                <td class="text-right"></td>
                <td class="text-center">En attente de génération</td>
                <td class="text-right">{{ "%0.2f" | format(mouvement.prixUnitaire) }} €</td>
            </tr>
        {% endfor %}
        </tbody>
        {% set mouvement = contrat.buildMouvement() %}
        {% if(mouvement) %}
        <tfoot style="opacity: 0.6">
            <tr>
                <td>{{ mouvement.libelle }}</td>
                <td class="text-right"></td>
                <td class="text-center"><a onclick="return confirm('Etes vous sûr de forcer la genération d\'un mouvement de facture directement (sans le faire via un passage) ?');" href="{{ path('contrat_generation_mouvement', {'id': contrat.id})}}">Générer un mouvement</a></td>
                <td class="text-right">{{ "%0.2f" | format(mouvement.prixUnitaire) }} €</td>
            </tr>
        </tfoot>
        {% endif %}
    </table>


</div>
{% endif %}
