<div class="panel panel-default">
    <div class="panel-heading">Contrat de type <strong>{{ contrat.getTypeContrat() }}</strong></div>
    <div class="panel-body">
        <div class="rows">
            <div class="col-xs-6">
                Commercial : <strong>{{ contrat.getCommercial().getIdentite() }}</strong><br />
                <strong>{{ contrat.getDateDebut()|date("d/m/Y") }}</strong> (<strong>{{ contrat.getDuree() }}</strong> mois)<br />
                {% if contrat.getDureeGarantie() %}Garantie : <strong>{{ contrat.getDureeGarantie() }}</strong> mois{% endif %}
            </div>
            <div class="col-xs-6">
                {% if contrat.getTechnicien() %}
                    Technicien : <strong>{{ contrat.getTechnicien().getIdentite() }}</strong><br />
                {% endif %}
                <strong>{{ contrat.getNbPassages() }}</strong> passage{% if contrat.getNbPassages() > 1 %}s{% endif %} de <strong>{{ contrat.getHumanDureePassage() }}</strong>
            </div>
        </div>
    </div>
</div>

<h1 class="text-center">
    {{ contrat.getPrixHt() }}&nbsp;<small>€&nbsp;HT{% if contrat.getTvaReduite() %} (TVA réduite){% endif %}</small>&nbsp;

</h1>
<br/>

<div class="panel panel-default">
    <div class="panel-heading">Lieux de passage : </div>
    <div class="panel-body">
        <ul class="list-unstyled">
            {% for etablissement in contrat.getEtablissements %}
                <li><span>{{ etablissement.intitule }}</span></li>
                    {% endfor %} 
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Nomenclature</div>
    <div class="panel-body">
        {{ contrat.getNomenclature() | nl2br }}
    </div>
</div>

{%  if(contrat.isEnAttenteAcceptation()) %}
    {{ include('contrat/contrat_previsionnel.html.twig', { 'contrat': contrat }) }}
{%  else %}
    {{ include('contrat/contrat_passages.html.twig', { 'contrat': contrat }) }}
{% endif %}


<div class="panel panel-default">
    <div class="panel-heading">Produits</div>
    <div class="panel-body">
        <table class="table-stripped">
            <thead>
                <tr>
                    <th class="col-xs-6">Nom produit</th>
                    <th class="col-xs-2">  <small class="text-muted">Prix d'achat</th>
                    <th class="col-xs-2">  <small class="text-muted">Prix de vente prestation</small></th>
                    <th class="col-xs-2 text-center">  <strong>Nombre prévu</strong></th>
                </tr>
            </thead>
            <tbody>
                {% for produit in contrat.produits %}
                    <tr>
                        <td class="col-xs-6">{{ produit.nom }}</td>
                        <td class="col-xs-2">  <small class="text-muted">{{ produit.prixHt }}&nbsp;€&nbsp;HT</small></td>
                        <td class="col-xs-2">  <small class="text-muted">{{ produit.prixPrestation }}&nbsp;€&nbsp;HT</small></td>
                        <td class="col-xs-2 text-center">  <strong>{{ produit.nbTotalContrat }}</strong></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </ul>
    </div>
</div>

