<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Nomenclature</h3></div>
    <div class="panel-body">      
        {{ contrat.getNomenclature() | nl2br }}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Interventions prévues</strong> <span class='pull-right'>Avec une date de début de contrat au <strong>{{ "now" | date("d/m/y")}}</strong></span></div>
    <div id="contrat-{{ contrat.id }}-passages" class="list-group">
        {% if contrat.previsionnel|length > 0 %}
                {% for date,passage in contrat.previsionnel %}
                    
                    <div class="list-group-item">
						<div class="row">
							<div class="col-xs-2">
								<div class="row">
									<div class="col-xs-3">
										<span style="cursor: help;" title=""
											data-toggle="tooltip"
											class="badge badge-default {% if(passage.mouvement_declenchable) %}badge-inverse{% endif %} btn-xs">{{ (loop.length - loop.index) + 1 }}</span>
									</div>
									<div class="col-xs-9">
									</div>
								</div>
							</div>
							<div class="col-xs-3">
								prévu le <strong>{{ date|date("d/m/Y") }}</strong>
							</div>
							<div class="col-xs-2">
								{% for prestation in passage.prestations %} {% if(prestation.wordToPicto)
								%} <span class="step size-24" title="{{  prestation.nomToString }}"
									data-toggle="tooltip"> <i class="mdi-{{prestation.wordToPicto}}"
									style="cursor: pointer;">&nbsp;</i></span> {%else%} <span
									class="label label-xs label-primary">{{ prestation.nomToString }}</span>
								{%endif%} {% endfor %}
							</div>
							<div class="col-xs-1">
								<span><i class="mdi mdi-schedule mdi-lg"></i>&nbsp;{{contrat.getDureePassageFormat() }}</span>
							</div>
							<div class="col-xs-2">
								{% if contrat.technicien %}
								<ul class="list-inline list-unstyled">
									<li><i class="mdi mdi-face mdi-lg"></i>&nbsp;{{ contrat.technicien.identite}}</li>
								</ul>
								{% endif %}
							</div>
							<div class="col-xs-2 text-right">
							</div>
						</div>
					</div>
                {% endfor %}
        {% else %}
            <p class="bg-warning" style="padding: 15px;">Attention, la saisie ne permet pas d'établir un prévisionnel d'intervention pour ce contrat.</p>
        {% endif %}
    </div>
</div>