<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Contrat</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-7">
                    	{% if contrat.isAnnule() %}
                        <p class="bg-danger" style="padding: 10px;">{{ contrat.commentaire }}</p>
                    	{% endif %}
                        <p class="lead text-center">
                            Contrat {{ contrat.getTypeContratLibelle() }} de {{ contrat.getDuree() }} mois
                        </p>
                        <p class="text-center">
                            Du {{ contrat.getDateDebut() | localizeddate("medium", "none", null, null, "d MMMM yyyy") }} au {{ contrat.getDateFin() | localizeddate("medium", "none", null, null, "d MMMM yyyy") }}
                        </p>
                        <p class="text-center">
                        {% for prestation in contrat.prestations %} {% if(prestation.wordToPicto)
            			%} <span class="step size-24" title="{{  prestation.nomToString }}"
            				data-toggle="tooltip"> <i class="mdi-{{prestation.wordToPicto}}"
            				style="cursor: pointer;">&nbsp;</i></span> {%else%} <span
            				class="label label-xs label-primary">{{ prestation.nomToString }}</span>
            			{%endif%} {% endfor %} ({{ contrat.getNbPassages() }} passages)
                        </p>
                        <p class="text-center">
                            {% if contrat.getDureeGarantie() %}Garantie {{ contrat.getDureeGarantie() }}  mois{% else %}Sans garantie{% endif %}
                        </p>
                    </div>
                    <div class="col-xs-5">
                        Date de création : <strong>{{ contrat.getDateAcceptation()|date("d/m/Y") }}</strong><br />
                        Date d'acceptation : <strong>{{ contrat.getDateAcceptation()|date("d/m/Y") }}</strong><br /><br />
                        Durée d'un passage : <strong>{{ contrat.getHumanDureePassage() }}</strong><br /><br />
                        Commercial : <strong>{{ contrat.getCommercial().getIdentite() }}</strong><br />
                        Technicien : <strong>{% if contrat.getTechnicien() %}{{ contrat.getTechnicien().getIdentite() }}{% else %}Non défini{% endif %}</strong><br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Facturation</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-7">
                        <p class="lead text-center">{{ contrat.getPrixHt()|number_format(2, '.', ' ') }} € HT soit {{ ((1+contrat.tva) * contrat.getPrixHt)|number_format(2, '.', ' ') }} TTC <small>(TVA à {{ contrat.tva | number_format(2, '.', ' ') }} %)</small></p>
                        <p class="text-center">En {{ contrat.nbFactures }} facture(s)</p>
                    </div>
                    <div class="col-xs-5">
                        Fréquence de paiement : <strong>{{ contrat.frequencePaiementLibelle }}</strong><br />
                    	Numéro de commande : <strong>{% if contrat.referenceClient %}{{ contrat.referenceClient }}{% else %}Non défini{% endif %}</strong><br />
                        Destinataire de la facture : <strong>{% if contrat.factureDestinataire %}{{ contrat.factureDestinataire }}{% else %}{{ contrat.societe.raisonSociale }}{% endif %}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Nomenclature</h3></div>
    <div class="panel-body">
        {% if (contrat.nomenclature) %}
        {{ contrat.nomenclature | nl2br }}
        {% else %}
        Aucune nomenclature définie
        {% endif %}
    </div>
</div>

{%  if(contrat.isEnAttenteAcceptation() and contrat.contratPassages | length == 0 ) %}
    {{ include('contrat/contrat_previsionnel.html.twig', { 'contrat': contrat ,'form' : (form is defined)? form : null}) }}
{%  else %}
    {{ include('contrat/contrat_passages.html.twig', { 'contrat': contrat ,'form' : (form is defined)? form : null }) }}
{% endif %}


<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Produits</h3></div>
    {% if(contrat.produits | length ) %}
    <table class="table table-bordered table-condensed table-stripped">
        <thead>
            <tr>
                <th class="col-xs-2 text-center">  <strong>Nombre prévu</strong></th>
                <th class="col-xs-2 text-center">  <strong>Nb premier passage</strong></th>
                <th class="col-xs-4">Nom produit</th>
                <th class="col-xs-2">Prix d'achat</span></th>
                <th class="col-xs-2">Prix de vente prestation</span></th>
            </tr>
        </thead>
        <tbody>
            {% for produit in contrat.produits %}
                <tr>
                    <td class="col-xs-2 text-right">  <strong>{{ produit.nbTotalContrat }}</strong></td>
                    <td class="col-xs-2 text-right">  <strong>{{ produit.nbPremierPassage }}</strong></td>
                    <td class="col-xs-4">{{ produit.nom }} {% if(produit.conditionnement) %}<small class="text-muted">({{ produit.conditionnement }})</small>{% endif %}</td>
                    <td class="col-xs-2 text-right">{{ "%0.2f" | format(produit.prixHt) }}&nbsp;€&nbsp;HT</span></td>
                    <td class="col-xs-2 text-right">{{ "%0.2f" | format(produit.prixPrestation) }}&nbsp;€&nbsp;HT</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="panel-body">
        Aucun produit défini
    </div>
    {% endif %}
</div>

{% if(contrat.mouvements | length > 0 or factures | length > 0) %}
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Factures</h3></div>
    <table class="table table-bordered table-condensed table-stripped">
        <thead>
            <tr>
                <th>Intitulé</th>
                <th class="text-right">Date</th>
                <th class="text-center">Facture</th>
                <th class="text-right">Montant HT</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
        {% for mouvement in facture.lignes %}
            <tr>
                <td>{{ mouvement.libelle }}</td>
                <td class="text-right">{{ facture.dateFacturation | localizeddate("medium", "none", null, null, "d MMM yyyy") }}</td>
                <td class="text-center"><a href="{{ path('facture_pdf', {'id': facture.id })}}"><span class="glyphicon glyphicon-file"></span>&nbsp;{{ facture.numeroFacture }}</a></td>
                <td class="text-right">{{ "%0.2f" | format(mouvement.montantHT) }} €</td>
            </tr>
        {% endfor %}
        {% endfor %}
        {% for mouvement in contrat.mouvements if not mouvement.facture %}
            <tr>
                <td>{{ mouvement.libelle }}</td>
                <td class="text-right"></td>
                <td class="text-center">En attente de génération</td>
                <td class="text-right">{{ "%0.2f" | format(mouvement.prixUnitaire) }} €</td>
            </tr>
        {% endfor %}
        </tbody>
        {% set mouvement = contrat.buildMouvement() %}
        {% if(mouvement) %}
        <tfoot style="opacity: 0.6">
            <tr>
                <td>{{ mouvement.libelle }}</td>
                <td class="text-right"></td>
                <td class="text-center"><a onclick="return confirm('Etes vous sûr de forcer la genération d\'un mouvement de facture directement (sans le faire via un passage) ?');" href="{{ path('contrat_generation_mouvement', {'id': contrat.id})}}">Générer un mouvement</a></td>
                <td class="text-right">{{ "%0.2f" | format(mouvement.prixUnitaire) }} €</td>
            </tr>
        </tfoot>
        {% endif %}
    </table>


</div>
{% endif %}
