<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Interventions prévues</strong> <span class='pull-right'>Avec une date de début de contrat au <strong>{{ "now" | date("d/m/y")}}</strong></span></div>
    <div class="panel-body">
    	{% if contrat.previsionnel|length > 0 %}
        <ul class="list-inline list-group">
            {% for date,passage in contrat.previsionnel %}
                {% set counter = loop.index %}

                <li class="col-xs-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><span class="badge pull-left">{{ counter }}</span>&nbsp;<span class="pull-right">prévu le <strong>{{ date|date("d/m/Y") }}</strong></span></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-8">
                                    {% for prestation in passage.prestations %}
                                        {% if(prestation.wordToPicto) %}
                                            <span class="step size-24" title="{{  prestation.nomToString }}" data-toggle="tooltip" >
                                                <i class="mdi-{{prestation.wordToPicto}}">&nbsp;</i></span>                                                          
                                            {%else%}
                                            <span class="label label-xs label-primary">{{  prestation.nomToString }}</span>
                                        {%endif%}
                                    {% endfor %}
                                </div>
                                <div class="col-xs-4 text-right">
                                    {% if(passage.mouvement_declenchable) %}
                                        <span class="label label-xs label-default">facture</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="bg-warning" style="padding: 15px;">Attention, la saisie ne permet pas d'établir un prévisionnel d'intervention pour ce contrat.</p>
        {% endif %}
    </div>
</div>