<h1 class="text-center">
    {% if(form is defined and not form is null and not contrat.hasMouvements())%}

        <div class="row">
            <div class="col-xs-5 text-right">
                <div class="row  ">
                    <div class="col-xs-8">
                        {{ form_errors(form.prixHt) }}
                        <small>{{ form_label(form.prixHt) }}</small>
                    </div>
                    <div class="col-xs-4 text-right">
                        <div class="input-group" style="padding-top: 10px;">
                            {{ form_widget(form.prixHt) }} <div class="input-group-addon">€</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 text-left">
                <div class="row">
                    <div class="col-xs-2 text-left">
                        {{ form_errors(form.nbFactures) }}
                        <small>{{ form_label(form.nbFactures) }}</small>
                    </div>
                    <div class="col-xs-3 text-left">
                        <div style="padding-top: 10px;">
                            {{ form_widget(form.nbFactures) }}
                        </div>
                    </div>
                    <small class="col-xs-3" style="padding-top: 12px;">&nbsp;facture(s)</small>
                </div>
            </div>
            <div class="col-xs-4 text-left">
                <div class="row">
                    <div class="col-xs-12 text-left">
                        <div style="margin-top:-8px">
                          {{ form_errors(form.tvaReduite) }}
                            {{ form_widget(form.tvaReduite) }}
                            {{ form_label(form.tvaReduite) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
      <div class="row">
        <div class="col-xs-6">
          {{ contrat.getPrixHt()}}&nbsp;<small>€&nbsp;HT{% if contrat.getTvaReduite() %} (TVA réduite){% endif %}</small> <small>en {{ contrat.nbFactures }} factures <small>(Paiement {% if (contrat.frequencePaiement) %}{{ contrat.frequencePaiementLibelle | lower }}{% else %}à récéption{% endif %})</small></small>
        </div>
        {% if(form is defined and not form is null)%}
          <div class="col-xs-6 text-left">
            <div class="row">
              <div class="col-xs-8">
                <small>{{ form_label(form.dureePassage) }}</small>
              </div>
              <div class="col-xs-3">
                  <div class="input-group" style="padding-top: 10px;">
                    {{ form_errors(form.dureePassage) }}
                    {{ form_widget(form.dureePassage) }}
                  </div>
              </div>
            </div>
          </div>
        {% endif %}
     </div>
    {% endif %}

</h1>
<br/>


<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Nomenclature</h3></div>
    <div class="panel-body">
        {% if(form is defined and not form is null)%}
            {{ form_errors(form.nomenclature) }}
            {{ form_widget(form.nomenclature) }}
        {% else %}
            {{ contrat.getNomenclature() | nl2br }}
        {% endif %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title"><strong>Lieux de passage et interventions</strong> (Acceptation du contrat le {{ contrat.dateAcceptation | date("d/m/y")}}) <span class='pull-right'>Date de début : <strong>{{ contrat.dateDebut | date("d/m/Y")}}</strong></h3></div>
    <ul class="list-group">
        {% for etablissement in contrat.getEtablissements %}
            <li class="list-group-item"><span>{{ etablissement.getNom(false) }} - {{ etablissement.adresse.intitule }}</span><a class="pull-right" href="{{ path('passage_etablissement', { 'id': etablissement.id }) }}">Voir tous les passage</a></li>
            {{ include('passage/listingPassages.html.twig', { 'passages': contrat.getPassagesEtablissementNode(etablissement).getPassagesDateSorted(true) }) }}
        {% endfor %}
    </ul>
</div>
