<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-xs-2">Client</th>
                    <th class="col-xs-1">Statut</th>
                    <th class="col-xs-1">Type</th>
                    <th class="col-xs-1">N°</th>
                    <th class="col-xs-2">Date</th>
                    <th class="col-xs-1" class="text-center">Prix</th>
                    <th class="col-xs-1">Prestations</th>
                    <th class="col-xs-3 text-center">Lieu de passage</th>
                </tr>
            </thead>
            {% for contrat in contrats %}

                <tr class="{{ contrat.statutCouleur }}">
                    <td><small><a href="{{ path('contrats_societe', {'id': contrat.societe.id }) }}">{{ contrat.societe.raisonSociale }}</a></small></td>
                    <td><small class="text-{{ contrat.statutCouleur }}">{{ contrat.statutLibelle }}</small></td>
                    <td><small>{{ contrat.typeContratLibelle }}</small></td>
                    <td class="text-center"><a href="{{ path('contrat_visualisation', {'id': contrat.id })}}">n°&nbsp;{{ contrat.numeroArchive }}</a>&nbsp;<a href="{{ path('contrat_pdf', {'id': contrat.id })}}"><small class="glyphicon glyphicon-file"></small></a></td>
                    <td><small>{{ contrat.dateDebut | localizeddate("medium", "none", null, null, "MMM yyyy") | capitalize }}{% if(contrat.dateDebut | localizeddate("medium", "none", null, null, "MMM yyyy")) != contrat.dateFin | localizeddate("medium", "none", null, null, "MMM yyyy") %}&nbsp;-&nbsp;{{ contrat.dateFin | localizeddate("medium", "none", null, null, "MMM yyyy") | capitalize }}{% endif %}</small></td>
                    <td class="text-right">{{ "%0.2f" | format(contrat.getPrixHt)  }}&nbsp;€&nbsp;</td>
                    <td>
                        {% for prestation in contrat.prestations %}
                            {% if(prestation.wordToPicto) %}
                                &nbsp;<span class="" title="{{  prestation.nomToString }} : {{ prestation.nbPassages }}" data-toggle="tooltip" >
                                    <i class="mdi-{{prestation.wordToPicto}}" style="cursor:pointer;">&nbsp;</i></span>
                                {% else %}
                                <span class="btn btn-xs label-primary">{{  prestation.nomToString }}&nbsp;<span>{{ prestation.nbPassages }}</span></span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-center">
                        {% if ((contrat.etablissements | length) > 1) %}
                            <a data-html="true" title="{% for etablissement in contrat.etablissements %} {{ etablissement.adresse.adresseFormatee }} <br/> {% endfor %}" data-toggle="tooltip" href="{{ path('contrat_visualisation', {'id': contrat.id }) }}">{{ contrat.etablissements | length }}&nbsp;établissements</a>
                        {% elseif ((contrat.etablissements | length) == 1) %}
                            <a title="{% for etablissement in contrat.etablissements %} {{ etablissement.nom }} - {{ etablissement.adresse.commune }} {% endfor %}" data-toggle="tooltip" href="{{ path('passage_etablissement', {'id': contrat.etablissements[0].id }) }}">
                          {% for etablissement in contrat.etablissements %}
                           {% if etablissement.adresse.adresseFormatee %}{{ etablissement.adresse.adresseFormatee }}{% else %}{{ etablissement.adresse.commune }}{% endif %}
                          {% endfor %}
                          </a>
                        {% else %}
                            <small>Aucun</small>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

      </div>
  </div>
