<div class="panel panel-default">
    <div class="panel-heading">Contrat de type <strong>{{ contrat.getTypeContrat() }}</strong></div>
    <div class="panel-body">
        <div class="rows">
            <div class="col-xs-6">
                Commercial : <strong>{{ contrat.getCommercial().getIdentite() }}</strong><br />
                <strong>{{ contrat.getDateDebut()|date("d/m/Y") }}</strong> (<strong>{{ contrat.getDuree() }}</strong> mois)<br />
                {% if contrat.getDureeGarantie() %}Garantie : <strong>{{ contrat.getDureeGarantie() }}</strong> mois{% endif %}
            </div>
            <div class="col-xs-6">
                {% if contrat.getTechnicien() %}
                    Technicien : <strong>{{ contrat.getTechnicien().getIdentite() }}</strong><br />
                {% endif %}
                <strong>{{ contrat.getNbPassages() }}</strong> passage{% if contrat.getNbPassages() > 1 %}s{% endif %} de <strong>{{ contrat.getHumanDureePassage() }}</strong>
            </div>
        </div>
    </div>
</div>

<h1 class="text-center">
    {{ contrat.getPrixHt() }}&nbsp;<small>€&nbsp;HT</small>&nbsp;

</h1>
<br/>

<div class="panel panel-default">
    <div class="panel-heading">Lieux de passage : </div>
    <div class="panel-body">
        <ul class="list-unstyled">
            {% for etablissement in contrat.getEtablissements %}
                <li><span>{{ etablissement.intitule }}</span></li>
                    {% endfor %} 
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Nomenclature</div>
    <div class="panel-body">
        {{ contrat.getNomenclature() }}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Interventions prévues</strong> <span class='pull-right'>Avec une date d'acceptation de contrat au <strong>{{ "now" | date("d/m/y")}}</strong></span></div>
    <div class="panel-body">
        <ul class="list-inline list-group">
            {% for date,passage in contrat.previsionnel %}
                {% set counter = loop.index %}

                <li class="col-xs-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><span class="badge pull-left">{{ counter }}</span>&nbsp;<span class="pull-right">prévu le <strong>{{ date|date("d/m/Y") }}</strong></span></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-8">
                                    {% for prestation in passage.prestations %}
                                        {% if(prestation.wordToPicto) %}
                                            <span class="step size-24" title="{{  prestation.nomToString }}" data-toggle="tooltip" >
                                                <i id="icon-{{prestation.wordToPicto}}" class="icon-{{prestation.wordToPicto}}">&nbsp;</i></span>                                                          
                                            {%else%}
                                            <span class="label label-xs label-primary">{{  prestation.nomToString }}</span>
                                        {%endif%}
                                    {% endfor %}
                                </div>
                                <div class="col-xs-4 text-right">
                                    {% if(passage.mouvement_declenchable) %}
                                        <span class="label label-xs label-default">facture</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Produits</div>
    <div class="panel-body">
        <table class="table-stripped">
            <thead>
                <tr>
                    <th class="col-xs-6">Nom produit</th>
                    <th class="col-xs-2">  <small class="text-muted">Prix d'achat</th>
                    <th class="col-xs-2">  <small class="text-muted">Prix de vente prestation</small></th>
                    <th class="col-xs-2 text-center">  <strong>Nombre prévu</strong></th>
                </tr>
            </thead>
            <tbody>
                {% for produit in contrat.produits %}
                    <tr>
                        <td class="col-xs-6">{{ produit.nom }}</td>
                        <td class="col-xs-2">  <small class="text-muted">{{ produit.prixHt }}&nbsp;€&nbsp;HT</small></td>
                        <td class="col-xs-2">  <small class="text-muted">{{ produit.prixPrestation }}&nbsp;€&nbsp;HT</small></td>
                        <td class="col-xs-2 text-center">  <strong>{{ produit.nbTotalContrat }}</strong></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </ul>
    </div>
</div>

