<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Nomenclature</h3></div>
    <div class="panel-body">
        {% if(form is defined and not form is null)%}
            {{ form_errors(form.nomenclature) }}
            {{ form_widget(form.nomenclature) }}
        {% else %}
            {{ contrat.getNomenclature() | nl2br }}
        {% endif %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Interventions</strong> (Acceptation du contrat le {{ contrat.dateAcceptation | date("d/m/y")}})  <span class='pull-right'>Date de début : <strong>{{ contrat.dateDebut | date("d/m/Y")}}</strong></span>
    </div>

    	<div id="contrat-{{ contrat.id }}-passages" class="list-group">
            {% if(contrat.contratPassages | length) %}
                {% set firstEtbPassages = contrat.contratPassages | first %}
                {{ include('passage/listingPassages.html.twig', { 'passages': firstEtbPassages.getPassagesDateSorted(true) }) }}
                <div class="modal fade" id="modal-passage" tabindex="-1" role="dialog">
                	<div class="modal-dialog modal-lg" role="document">
                		<div class="modal-content">
                			<div class="modal-header">
                				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                				<h4 class="modal-title" id="modal-title"></h4>
                			</div>
                			<div class="modal-body" id="modal-body"></div>
                		</div>
                	</div>
                </div>
            {% endif %}
        </div>
</div>
