{% if erreur %}{% set _menu_active = 'contrat_erreurs' %}{% else %}{% set _menu_active = 'contrat_decalage' %}{% endif %}
{% extends 'base.html.twig' %}

{% block title %}{{ erreurTitre }}{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('passage_erreurs') }}">{{ erreurTitre }}</a>&nbsp;<span class="badge">{{ contrats | length }}</span>&nbsp;</li>
	</ol>

	{{ include('contrat/listingContrats.html.twig', { 'contrats': contrats }) }}

{% endblock %}
