{% set _menu_active = 'contrat' %}
{% extends 'base.html.twig' %}
{% block title %}Contrats{% endblock title %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('contrat') }}">Contrat</a></li>
    </ol>

    <div class="row">
	    <div class="col-xs-12">
	        <h3 style="margin-top: 10px;">Rechercher par contrat</h3>
	        {{ form_start(form, {'attr': { 'novalidate': 'novalidate', 'class': 'form-horizontal' } }) }}
	        <div class="form-group">
	            <div class="col-xs-10">
	                {{ form_errors(form.contrats) }}
	                {{ form_widget(form.contrats) }}
	            </div>
	            <div class="col-xs-2 text-right">
	            	<button type="submit" class="btn btn-default" type="button">Rechercher</button>
	            </div>
	        </div>
	        {{form_end(form)}}
	    </div>
	</div>

	{% if search %}

	    <h3>{% if(result | length) > 0 %}{{ result|length }}{% else %}Aucun{% endif %} résultat{% if result|length > 1 %}s{% endif %} <small>pour la recherche "{{ query }}"</small></h3>

        {% if result | length > 0 %}
    	<table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="col-xs-3">Société</th>
                    <th class="col-xs-1">Statut</th>
                    <th class="col-xs-1">Type</th>
                    <th class="col-xs-1">N°</th>
                    <th class="col-xs-2">Date</th>
                    <th class="col-xs-1">Garantie</th>
                    <th class="col-xs-1" class="text-center">Prix</th>
                    <th class="col-xs-3">Prestations</th>
                </tr>
            </thead>
            <tbody>
            	{% for item in result %}
                    {% set contrat = item.doc %}
                    <tr>
                        <td><a href="{{ path('contrats_societe', {'id': contrat.societe.id}) }}">{{ contrat.societe.raisonSociale }}</a></td>
                        <td><small class="text-{{ contrat.statutCouleur }}">{{ contrat.statutLibelle }}</small></td>
                        <td><small>{{ contrat.typeContratLibelle }}</small></td>
                        <td><a href="{{ path('contrat_visualisation', {'id': contrat.id })}}">n°&nbsp;{{ contrat.numeroArchive }}</a></td>
                        <td>{{ contrat.dateDebut | localizeddate("medium", "none", null, null, "MMM YYYY") | capitalize }}{% if(contrat.dateDebut | localizeddate("medium", "none", null, null, "MMM YYYY")) != contrat.dateFin | localizeddate("medium", "none", null, null, "MMM YYYY") %}&nbsp;-&nbsp;{{ contrat.dateFin | localizeddate("medium", "none", null, null, "MMM YYYY") | capitalize }}{% endif %}</td>
                        <td class="text-right">{% if(contrat.dureeGarantie) %}{{ contrat.dureeGarantie }} mois{% else %}<small class="text-muted">Aucune</small>{% endif %}</td>
                        <td class="text-right">{{ "%0.2f" | format(contrat.getPrixHt)  }}&nbsp;€</td>
                        <td>
                            {% for prestation in contrat.prestations %}
                                {% if(prestation.wordToPicto) %}
                                    &nbsp;<span class="" title="{{  prestation.nomToString }}" data-toggle="tooltip" >
                                        <i class="mdi-{{prestation.wordToPicto}}">&nbsp;</i>&nbsp;<span>{{ prestation.nbPassages }}</span></span>
                                    {% else %}
                                    <span class="btn btn-xs label-primary">{{  prestation.nomToString }}&nbsp;<span>{{ prestation.nbPassages }}</span></span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    	</table>
        {% endif %}
	{% endif %}
{% endblock %}
