{% set _menu_active = 'contrat' %}
{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}{% if (contrat.id ) %}Contrat n°{{ contrat.numeroArchive }}{% else %}Création Contrat{% endif %} {{ societe.raisonSociale }}{% endblock title %}

{% block _contrat_prestations_entry_row %}
    <div class="row form-group dynamic-collection-item">
        <div class="col-xs-7">
            {{ form_widget(form.identifiant) }}
        </div>
        <div class="col-xs-2 text-right">
            {{ form_widget(form.nbPassages) }}
        </div>
        <div class="col-xs-1 text-right">
            <button type="button" tabindex="-1" class="btn btn-default dynamic-collection-remove"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
{% endblock %}

{% block _contrat_produits_entry_row %}
    <div class="row form-group dynamic-collection-item">
        <div class="col-xs-5">
            {{ form_widget(form.identifiant) }}
        </div>
        <div class="col-xs-2 text-right">
            {{ form_widget(form.nbTotalContrat) }}
        </div>
        <div class="col-xs-2 text-right">
            {{ form_widget(form.nbPremierPassage) }}
        </div>
        <div class="col-xs-1 text-right">
            <button type="button" tabindex="-1" class="btn btn-default dynamic-collection-remove"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <ol class="breadcrumb">
            <li><a href="{{ path('contrat') }}">Contrat</a></li>
            <li><a href="{{ path('contrats_societe',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
            <li>{% if (contrat.id ) %}<a href="{{ path('contrat_modification',{ 'id' : contrat.id }) }}">&nbsp;Contrat&nbsp;{{ contrat.numeroArchive }}</a>{% else %}Nouveau contrat{% endif %}</li>
        </ol>
        <h1>Création Contrat</h1>
        {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Informations</strong></div>
            <div class="panel-body col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.devisInterlocuteur) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        {{ form_row(form.commercial) }}
                    </div>
                    <div class="col-xs-5 bootstrap-timepicker timepicker">
                        <div class="form-group">
                            {{ form_label(form.dureePassage) }}
                            {{ form_errors(form.dureePassage) }}
                            <div class="input-group">
                                {{ form_widget(form.dureePassage) }}
                                <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            {{ form_label(form.duree) }}
                            {{ form_errors(form.duree) }}
                            <div class="input-group ">
                                {{ form_widget(form.duree) }}
                                <div class="input-group-addon">mois</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            {{ form_label(form.duree_garantie) }}
                            {{ form_errors(form.duree_garantie) }}
                            <div class="input-group">
                                {{ form_widget(form.duree_garantie) }}
                                <div class="input-group-addon">mois</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.etablissements) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.nomenclature) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><strong>Prestations</strong></div>
            <div class="panel-body col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-7">
                        <label class="control-label">Prestations :</label>
                    </div>
                    <div class="col-xs-2 text-center">
                        <label class="control-label">Nb passages :</label>
                    </div>
                </div>
                {{ form_widget(form.prestations, { 'attr': {'class': 'dynamic-collection'} }) }}
                <div class="row">
                    <div class="col-xs-10 text-right">
                        <a href="javascript:void(0);" data-collection-target="#contrat_prestations" class="btn btn-primary dynamic-collection-add"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><strong>Produits</strong></div>
            <div class="panel-body col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-5">
                        <label class="control-label">Produit :</label>
                    </div>
                    <div class="col-xs-2 text-center">
                        <label class="control-label">Qté total :</label>
                    </div>
                    <div class="col-xs-2 text-center">
                        <label class="control-label">Qté 1er passage :</label>
                    </div>
                </div>
                {{ form_widget(form.produits, { 'attr': {'class': 'dynamic-collection'} }) }}
                <div class="row">
                    <div class="col-xs-10 text-right">
                        <a href="javascript:void(0);" data-collection-target="#contrat_produits" class="btn btn-primary dynamic-collection-add"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><strong>Facturation</strong></div>
            <div class="panel-body col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-5">
                        {{ form_row(form.typeContrat) }}
                    </div>
                    <div class="col-xs-5">
                        {{ form_row(form.nbFactures) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        {{ form_row(form.frequencePaiement) }}
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            {{ form_label(form.prixHt) }}
                            {{ form_errors(form.prixHt) }}
                            <div class="input-group">
                                {{ form_widget(form.prixHt) }} <div class="input-group-addon">€</div>
                            </div>
                       	</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5"></div>
                    <div class="col-xs-5">
                        {{ form_row(form.tvaReduite) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
