{% set _menu_active = '' %}
{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <h1>Création Contrat</h1>
        {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Contrat</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-6">
                        {{ form_row(form.commercial) }}
                    </div>
                    <div class="form-group col-xs-6">
                        {{ form_row(form.technicien) }}
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-xs-12">
                        {{ form_row(form.nomenclature) }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-3">
                        {{ form_row(form.typeContrat) }}
                    </div>
                    <div class="form-group col-xs-3">
                        {{ form_label(form.prixHt) }}
                        {{ form_errors(form.prixHt) }}
                        <div class="input-group">
                            {{ form_widget(form.prixHt) }}
                            <div class="input-group-addon">€</div>
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        {{ form_row(form.nbPassage) }}
                    </div>
                    <div class="form-group col-xs-3">
                        {{ form_label(form.dureePassage) }}
                        {{ form_errors(form.dureePassage) }}
                        <div class="input-group">
                            {{ form_widget(form.dureePassage) }}
                            <div class="input-group-addon">min.</div>
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="form-group col-xs-3">
                        {{ form_label(form.duree) }}
                        {{ form_errors(form.duree) }}
                        <div class="input-group">
                            {{ form_widget(form.duree) }}
                            <div class="input-group-addon">mois</div>
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        {{ form_label(form.duree_garantie) }}
                        {{ form_errors(form.duree_garantie) }}
                        <div class="input-group">
                            {{ form_widget(form.duree_garantie) }}
                            <div class="input-group-addon">mois</div>
                        </div>
                    </div>
                </div>

                <div class="row"> 
                    <div class="form-group col-xs-12">
                        {{ form_row(form.nomenclature) }}
                    </div>
                </div>
            </div>
        </div>

		<style>
			#prestations li {
				margin: 0;
				padding: 10px 9px 10px 0;
				border-top: none;
			}
			.badge {
				background-color: #fff;
			}
			.glyphicon-remove-sign {
				font-size: 18px;
			}
		</style>
        <div class="panel panel-default" style="margin-bottom: 0;">
            <div class="panel-heading">Prestations <a href="javascript:void(0);" id="add_prestation_link" class="pull-right" style="font-size: 18px;"><span class="glyphicon glyphicon-plus-sign"></span></a></div>
        </div>
                <ul class="list-group" id="prestations" data-prototype="{% filter escape %}{{ include('contrat/prestation_prototype.html.twig', { 'form': form.prestations.vars.prototype }) }}{% endfilter %}">
                    {% for prestation in form.prestations %}
                         <li class="list-group-item row">
                            <div class="form-group col-xs-4">
                                {{ form_row(prestation.prestationType) }}
                            </div>
                            <div class="form-group col-xs-4">
                                {{ form_row(prestation.animal) }}

                            </div>
                            <div class="form-group">
                                {{ form_row(prestation.commentaire) }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
        
        {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
