{% set _menu_active = '' %}
{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block _contrat_prestations_entry_row %}
    <div class="row form-group dynamic-collection-item">
        <div class="col-xs-9">
            {{ form_widget(form.identifiant) }}
        </div>
        <div class="col-xs-2 text-right">
            {{ form_widget(form.nbPassages) }}
        </div>
        <div class="col-xs-1 text-right">
            <button type="button" tabindex="-1" class="btn btn-default dynamic-collection-remove"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
{% endblock %}

{% block body %}
	<style>
	label {
		font-weight: normal;
	}
	</style>
    <div id="wrapper">
        <h1>Création Contrat</h1>
        {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Contrat</strong></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.commercial) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.technicien) }}
                    </div>
                </div>
                <hr style="margin-top: 5px;" />
                <div class="row">
                    <div class="col-xs-9">
                        Prestations :
                    </div>
                    <div class="col-xs-2 text-center">
                        Nombre de passages :
                    </div>
                </div>
	            {{ form_widget(form.prestations, { 'attr': {'class': 'dynamic-collection'} }) }}
			    <div class="row">
			        <div class="col-xs-12 text-right">
			            <a href="javascript:void(0);" class="btn btn-primary dynamic-collection-add"><span class="glyphicon glyphicon-plus-sign"></span></a>
			        </div>
			    </div>
                            <hr style="margin-top: 20px;" />
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.nomenclature) }}
                    </div>
                </div>
                    <hr style="margin-top: 5px;" />
                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form.typeContrat) }}
                    </div>
                    <div class="col-xs-4">
                        {{ form_label(form.duree) }}
                        {{ form_errors(form.duree) }}
                        <div class="input-group">
                            {{ form_widget(form.duree) }}
                            <div class="input-group-addon">mois</div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        {{ form_label(form.duree_garantie) }}
                        {{ form_errors(form.duree_garantie) }}
                        <div class="input-group">
                            {{ form_widget(form.duree_garantie) }}
                            <div class="input-group-addon">mois</div>
                        </div>
                    </div>
                </div>
                <div class="row">                     
                    <div class="col-xs-4">
                        {{ form_row(form.nbFactures) }}
                    </div>
                    <div class="col-xs-4 bootstrap-timepicker timepicker">
                        {{ form_label(form.dureePassage) }}
                        {{ form_errors(form.dureePassage) }}
                        <div class="input-group">
                            {{ form_widget(form.dureePassage) }}
                            <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        {{ form_label(form.prixHt) }}
                        {{ form_errors(form.prixHt) }}
                        <div class="input-group">
                            {{ form_widget(form.prixHt) }}
                            <div class="input-group-addon">€</div>
                        </div>
                    </div>
                </div>

                <div class="row"> 
                    <div class="col-xs-12">
                        {{ form_row(form.nomenclature) }}
                    </div>
                </div>
            </div>
        </div>
        
        {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
