{% set _menu_active = 'contrat' %}
{% extends 'base.html.twig' %}
{% block title %}Contrats{% endblock title %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('contrat') }}">Contrat</a></li>
        <li><a href="{{ path('contrats_reconduction_massive') }}">Reconduction Massive au {{ dateRecondution | localizeddate('full', 'none') }}</a></li>
    </ol>

    {{ form_start(formContratsAReconduire) }}
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Critères de reconduction</h3>
            </div>
            <div class="panel-body  form-horizontal">
              <div class="row">
              	<div class="col-xs-6" id="searchable" data-type="societe" data-url="{{ path('recherche_societe')  }}" data-target="0">
	            	{{ form_errors(formContratsAReconduire.societe) }}
	            	{{ form_widget(formContratsAReconduire.societe) }}
                </div>
                <div class="col-xs-2">
	            	{{ form_errors(formContratsAReconduire.typeContrat) }}
	            	{{ form_widget(formContratsAReconduire.typeContrat) }}
              	</div>
              	<div class="col-xs-2">
	            	{{ form_errors(formContratsAReconduire.dateRenouvellement) }}
					{{ form_widget(formContratsAReconduire.dateRenouvellement) }}
                </div>
              	<div class="col-xs-2">
	                {{ form_widget(formContratsAReconduire.save) }}
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
{{ form_end(formContratsAReconduire) }}

{{ form_start(formReconduction) }}
  <div class="row">
      <div class="col-xs-8">
          <h3>{{  contratsAReconduire|length }} contrats à reconduire </h3>
      </div>
      <div class="col-xs-4 text-right">
        <a href="{{ path('contrats_reconduction_historique') }}">Historique des reconduction</a>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-3 pull-right">
      	<div class="input-group">
      			{{ form_widget(formReconduction.augmentation) }}
      			<span class="input-group-btn">
          		{{ form_widget(formReconduction.reconduire,  {'attr': {'class': 'btn-loading btn btn-primary pull-right', 'data-loading-text': "Reconduction en cours ..."}}) }}
          		</span>
        </div>
      </div>
  </div>
  <br/>
  <div class="row">
      <div class="col-xs-12">
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th class="col-xs-2">Client</th>
                      <th class="col-xs-1">Statut</th>
                      <th class="col-xs-1">Type</th>
                      <th class="col-xs-1">N°</th>
                      <th class="col-xs-2">Date</th>
                      <th class="col-xs-1" class="text-center">Prix</th>
                      <th class="col-xs-1">Prestations</th>
                      <th class="col-xs-2 text-center">Lieu de passage</th>
                      <th class="col-xs-1 text-center">Reconduire</th>
                      <th></th>
                  </tr>
              </thead>
              {% for contrat in contratsAReconduire %}
                  <tr class="{{ contrat.statutCouleur }}">
                      <td><small><a href="{{ path('contrats_societe', {'id': contrat.societe.id }) }}">{{ contrat.societe.raisonSociale }}</a></small></td>
                      <td><small class="text-{{ contrat.statutCouleur }}">{{ contrat.statutLibelle }}</small></td>
                      <td><small>{{ contrat.typeContratLibelle }}</small></td>
                      <td><a href="{{ path('contrat_visualisation', {'id': contrat.id })}}">n°&nbsp;{{ contrat.numeroArchive }}</a></td>
                      <td><small>{{ contrat.dateDebut | localizeddate("medium", "none", null, null, "MMM yyyy") | capitalize }}{% if(contrat.dateDebut | localizeddate("medium", "none", null, null, "MMM yyyy")) != contrat.dateFin | localizeddate("medium", "none", null, null, "MMM yyyy") %}&nbsp;-&nbsp;{{ contrat.dateFin | localizeddate("medium", "none", null, null, "MMM yyyy") | capitalize }}{% endif %}</small></td>
                      <td class="text-right">{{ "%0.2f" | format(contrat.getPrixHt)  }}&nbsp;€&nbsp;</td>
                      <td>
                          {% for prestation in contrat.prestations %}
                              {% if(prestation.wordToPicto) %}
                                  &nbsp;<span class="" title="{{  prestation.nomToString }} : {{ prestation.nbPassages }}" data-toggle="tooltip" >
                                      <i class="mdi-{{prestation.wordToPicto}}" style="cursor:pointer;">&nbsp;</i></span>
                                  {% else %}
                                  <span class="btn btn-xs label-primary">{{  prestation.nomToString }}&nbsp;<span>{{ prestation.nbPassages }}</span></span>
                              {% endif %}
                          {% endfor %}
                          <br/>
                          <span>{{ contrat.getDureePassageFormat }}</span>
                      </td>
                      <td class="text-center">
                          {% if ((contrat.etablissements | length) > 1) %}
                              <a data-html="true" title="{% for etablissement in contrat.etablissements %} {{ etablissement.adresse.adresseFormatee }} <br/> {% endfor %}" data-toggle="tooltip" href="{{ path('contrat_visualisation', {'id': contrat.id }) }}">{{ contrat.etablissements | length }}&nbsp;établissements</a>
                          {% elseif ((contrat.etablissements | length) == 1) %}
                              <a title="{% for etablissement in contrat.etablissements %} {{ etablissement.nom }} - {{ etablissement.adresse.commune }} {% endfor %}" data-toggle="tooltip" href="{{ path('passage_etablissement', {'id': contrat.etablissements[0].id }) }}">
                            {% for etablissement in contrat.etablissements %}
                                {% if etablissement.adresse.adresseFormatee %}{{ etablissement.adresse.adresseFormatee }}{% else %}{{ etablissement.adresse.commune }}{% endif %}
                            {% endfor %}
                            </a>
                          {% else %}
                              <small>Aucun</small>
                          {% endif %}
                      </td>
                        <td class="text-center">
                              {% set idCheckbox = contrat.id %}
                              {% set fieldFrom = attribute(formReconduction,idCheckbox) %}
                              {{ form_widget(fieldFrom) }}
                        </td>
                        <td>
                        	<div class="checkbox">
                                <a class="lien_pas_de_reconduction" href="{{ path('contrat_force_reconduction', {'id': contrat.id }) }}"><small class="glyphicon glyphicon-remove text-danger">&nbsp;</small></a>
                        	</div>
                        </td>
                  </tr>
              {% endfor %}
          </table>

    </div>
</div>
{{ form_end(formReconduction) }}
{% endblock %}
