{% set _menu_active = 'contrat' %}
{% extends 'base.html.twig' %}
{% block title %}Contrats{% endblock title %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('contrat') }}">Contrat</a></li>
        <li><a href="{{ path('contrats_reconduction_massive') }}">Reconduction Massive au {{ dateRecondution | localizeddate('full', 'none') }}</a></li>
    </ol>
    {{ include('societe/choixForm.html.twig', {'urlTarget': path('contrats_societe', {'id': '_id_'}), 'autofocus': true })}}
    {{ form_start(formContratsAReconduire,{'attr': {'id': 'formContratsAReconduire'}}) }}
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Critères de reconduction</h3>
            </div>
            <div class="panel-body  form-horizontal">
              <div class="row">
                <div class="col-xs-4">
                <div class="form-group">
                    {{ form_errors(formContratsAReconduire.typeContrat) }}
                    {{ form_label(formContratsAReconduire.typeContrat, "Type de contrat", {'label_attr': {'class': 'col-xs-5 control-label'}}) }}
                    <div class="col-xs-7">
                        {{ form_widget(formContratsAReconduire.typeContrat) }}
                    </div>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                    {{ form_errors(formContratsAReconduire.dateRenouvellement) }}
                    {{ form_label(formContratsAReconduire.dateRenouvellement, "Renouvelement au", {'label_attr': {'class': 'col-xs-6 control-label'}}) }}
                    <div class="col-xs-6">
                        {{ form_widget(formContratsAReconduire.dateRenouvellement) }}
                    </div>
                </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="form-group">
                        {{ form_errors(formContratsAReconduire.augmentation) }}
                        {{ form_label(formContratsAReconduire.augmentation, "Augmentation (en %)", {'label_attr': {'class': 'col-xs-6 control-label'}}) }}
                        <div class="col-xs-6">
                            {{ form_widget(formContratsAReconduire.augmentation) }}
                        </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>
  </div>
</div>
{{ form_end(formContratsAReconduire) }}

{{ form_start(formReconduction) }}
  <div class="row">
      <div class="col-xs-12">
          <h3>Liste des contrats à reconduire </h3>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
          {{ form_widget(formReconduction.reconduire) }}
      </div>
  </div>
  <br/>
  <div class="row">
      <div class="col-xs-12">
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th class="col-xs-2">Client</th>
                      <th class="col-xs-1">Statut</th>
                      <th class="col-xs-1">N°</th>
                      <th class="col-xs-2">Date de fin</th>
                      <th class="col-xs-1" class="text-center">Prix</th>
                      <th class="col-xs-1">Prestations</th>
                      <th class="col-xs-4 text-center">Lieu de passage</th>
                      <th class="col-xs-1 text-center">Reconduire</th>
                  </tr>
              </thead>
              {% for contrat in contratsAReconduire %}
                  <tr class="{{ contrat.statutCouleur }}">
                      <td><small>{{ contrat.societe.raisonSociale }}</small></td>
                      <td><small class="text-{{ contrat.statutCouleur }}">{{ contrat.statutLibelle }}</small></td>
                      <td><a href="{{ path('contrat_visualisation', {'id': contrat.id })}}">n°&nbsp;{{ contrat.numeroArchive }}</a></td>
                      <td><small>{{ contrat.dateFin | localizeddate('full', 'none') }}</small></td>
                      <td class="text-right"><small>{{ "%0.2f" | format(contrat.getPrixHt)  }}&nbsp;€&nbsp;</small>
                      {% if(contrat.dureeGarantie) %} <!-- <span class="badge badge-warning btn-xs" data-toggle="tooltip" title="" style="cursor: help;" data-original-title="Garantie : {{ contrat.dureeGarantie }} mois">G</span> -->
                      {% endif %}
                      </td>
                      <td>
                          {% for prestation in contrat.prestations %}
                              {% if(prestation.wordToPicto) %}
                                  &nbsp;<span class="" title="{{  prestation.nomToString }} : {{ prestation.nbPassages }}" data-toggle="tooltip" >
                                      <i class="mdi-{{prestation.wordToPicto}}" style="cursor:pointer;">&nbsp;</i></span>
                                  {% else %}
                                  <span class="btn btn-xs label-primary">{{  prestation.nomToString }}&nbsp;<span>{{ prestation.nbPassages }}</span></span>
                              {% endif %}
                          {% endfor %}
                      </td>
                      <td class="text-center">
                          {% if ((contrat.etablissements | length) > 1) %}
                              <a data-html="true" title="{% for etablissement in contrat.etablissements %} {{ etablissement.adresse.adresseFormatee }} <br/> {% endfor %}" data-toggle="tooltip" href="{{ path('contrat_visualisation', {'id': contrat.id }) }}">{{ contrat.etablissements | length }}&nbsp;établissements</a>
                          {% elseif ((contrat.etablissements | length) == 1) %}
                              <a title="{% for etablissement in contrat.etablissements %} {{ etablissement.nom }} - {{ etablissement.adresse.commune }} {% endfor %}" data-toggle="tooltip" href="{{ path('passage_etablissement', {'id': contrat.etablissements[0].id }) }}">
                            {% for etablissement in contrat.etablissements %}
                             {{ etablissement.adresse.adresseFormatee }}
                            {% endfor %}
                            </a>
                          {% else %}
                              <small>Aucun</small>
                          {% endif %}
                      </td>
                        <td class="text-center">
                              {% set idCheckbox = contrat.id %}
                              {% set fieldFrom = attribute(formReconduction,idCheckbox) %}
                              {{ form_widget(fieldFrom) }}
                              <a href="" class="pull-right"><span class="glyphicon glyphicon-tag"></span></a>&nbsp;
                        </td>
                  </tr>
              {% endfor %}
          </table>

    </div>
</div>
{{ form_end(formReconduction) }}
{% endblock %}
