{% set _menu_active = 'contrat' %}
{% extends 'base.html.twig' %}

{% block title %}Contrat n°{{ contrat.numeroArchive }} {{ societe.raisonSociale }}{% endblock title %}
{% block body %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="{{ path('contrat') }}">Contrat</a></li>
        <li><a href="{{ path('contrats_societe',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
        <li><a href="{{ path('contrat_modification',{ 'id' : contrat.id }) }}">&nbsp;Contrat&nbsp;{{ contrat.numeroArchive }}</a></li>
    </ol>
    <div class="row">
        <div class="col-xs-7">
            <h2>Contrat {{ contrat.getStatutLibelleLong }}&nbsp;<small>n° {{ contrat.getNumeroArchive() }}</small></h2>
        </div>
        <div class="col-xs-5 text-right" style="padding-top: 30px; ">
            <div class="btn-group">
                {%  if (contrat.isReconductible) %}
                    <a href="{{ path('contrat_reconduction', {'id': contrat.getId()}) }}" class="btn btn-sm btn-default" onclick="return confirm('Êtes-vous sûre de vouloir reconduire le contrat n° '+{{ contrat.numeroArchive }}+'?');"><span class="glyphicon glyphicon-log-in"></span> Reconduire</a>
                {% endif %}
                {%  if (contrat.isCopiable) %}
                    <a href="{{ path('contrat_copie', {'id': contrat.getId()}) }}" class="btn btn-sm btn-default" onclick="return confirm('Êtes-vous sûre de créer un nouveau contrat avec les infos de ce contrat ?');"><span class="glyphicon glyphicon-duplicate"></span> Dupliquer</a>
                {% endif %}
                {%  if (contrat.isAnnulable()) %}
                    <a href="{{ path('contrat_annulation', {'id': contrat.getId()}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûre de vouloir résilier le contrat n° '+{{ contrat.numeroArchive }}+'?');"><span class="glyphicon glyphicon-remove"></span> Résilier</a>
                {%  endif %}
                {%  if (contrat.isEnAttenteAcceptation() or contrat.isBrouillon()) %}
                    <a href="{{ path('contrat_suppression', {'id': contrat.getId()}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûre de vouloir supprimer le contrat n° '+{{ contrat.numeroArchive }}+'?');"><span class="glyphicon glyphicon-remove"></span>&nbsp;Supprimer</a>
                {%  endif %}
                <a class="btn btn-sm btn-primary" href="{{ path('contrat_markdown', {'id': contrat.id }) }}"><span class="glyphicon glyphicon glyphicon-file"></span> Visualiser</a>
                {%  if (contrat.isEnAttenteAcceptation()) %}
                    <a href="{{ path('contrat_acceptation', {'id': contrat.getId()}) }}" class="btn btn-sm btn-warning"><i class="mdi mdi-check-circle"></i>&nbsp;Accepter / Modifier</a>
                {%  elseif (contrat.isBrouillon()) %}
                    <a href="{{ path('contrat_modification', {'id': contrat.getId()}) }}" class="btn btn-sm btn-warning"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Modifier</a>
                {% else %}
                    <a href="{{ path('contrat_acceptation', {'id': contrat.getId()}) }}" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-pencil"></span> Modifier</a>
                {% endif %}
            </div>
        </div>
    </div>
    {{ include('contrat/contrat.html.twig', { 'contrat': contrat }) }}

{% endblock %}
