{% set _menu_active = 'contrat' %}
{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <ol class="breadcrumb">
            <li><a href="{{ path('contrat') }}">Contrat</a></li>
            <li><a href="{{ path('contrats_societe',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
            <li><a href="{{ path('contrat_modification',{ 'id' : contrat.id }) }}">&nbsp;Contrat&nbsp;{{ contrat.numeroArchive }}</a></li>
        </ol>
        <div class="row">
            <div class="col-xs-8">
                <h1>Contrat <small>n° {{ contrat.getNumeroArchive() }}</small></h1>
            </div>
            {%  if (contrat.isModifiable()) %}
                <div class="col-xs-4 text-right" style="padding-top: 30px; ">
                    <a href="{{ path('contrat_modification', {'id': contrat.getId()}) }}" class="btn btn-warning"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Modifier</a>
                </div>
            {% else %}
                <div class="col-xs-4 text-right" style="padding-top: 30px; ">
                    <a href="{{ path('passage_etablissement', {'id': contrat.getEtablissements().first().getId()}) }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Retour aux passages</a>
                </div>
            {% endif %}
        </div>
        {{ include('contrat/contrat.html.twig', { 'contrat': contrat }) }}

        <div class="text-center">
            {%  if (contrat.isModifiable()) %}
                <a href="{{ path('contrat_suppression', {'id': contrat.getId()}) }}" class="btn btn-danger pull-left" onclick="return confirm('Êtes-vous sûre de vouloir supprimer le contrat n° '+{{ contrat.numeroArchive }}+'?\nL\'ensemble de ses passages seront aussi supprimés! ')" ><span class="glyphicon glyphicon-remove"></span>&nbsp;Supprimer</a>
            {% endif %}
            <a class="btn btn-primary" href="{{ path('contrat_markdown', {'id': contrat.id }) }}">Visualiser</a>
        </div>

    </div>
{% endblock %}
