{% set _menu_active = 'configuration' %}
{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <h1>Configuration</h1>
        <div class="panel panel-default" style="margin-bottom: 0;">
            <div class="panel-heading">Type de prestations </div>

            <div class="panel-body">
                {% for prestation in configuration.prestations %}
                    <div class="row form-group">
                        <div class="col-xs-12 text-left">
                            {{ prestation.nom }}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-xs-12">
                <a href="{{ path('configuration_modification_prestations') }}" class="pull-right btn btn-warning">Modifier les prestation</a>
            </div>
        </div>
        <br/>  <br/>
        <div class="panel panel-default" style="margin-bottom: 0;">
            <div class="panel-heading">Liste des Produits </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Nom</td>
                        <td>Conditionnement</td>
                        <td>Prix d'achat HT</td>
                        <td>Prix de vente HT</td>
                        <td>Prix prestation HT</td>
                    </tr>
                </thead>
                <tbody>
                    {% for produit in configuration.produits %}
                    <tr>
                        <td>{{ produit.nom }}</td>
                        <td>{{ produit.conditionnement }}</td>
                        <td class="text-right">{{ produit.prixHt | number_format(2, '.', ' ') }}</td>
                        <td class="text-right">{{ produit.prixVente| number_format(2, '.', ' ') }}</td>
                        <td class="text-right">{{ produit.prixPrestation| number_format(2, '.', ' ') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-12">
                <a href="{{ path('configuration_modification_produits') }}" class="pull-right btn btn-warning">Modifier les produits</a>
            </div>
        </div>
        <br/>  <br/>
        <div class="panel panel-default" style="margin-bottom: 0;">
            <div class="panel-heading">Liste des Provenances </div>
            <div class="panel-body">
                {% for provenance in configuration.provenances %}
                    <div class="row form-group">
                        <div class="col-xs-12 text-left">
                            {{ provenance.nom }}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-12">
                <a href="{{ path('configuration_modification_provenances') }}" class="pull-right btn btn-warning">Modifier les provenances</a>
            </div>
        </div>
        <br/>  <br/>
    </div>
{% endblock %}
