{% set _menu_active = 'configuration' %}
{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <h1>Configuration</h1>
        <div class="panel panel-default" style="margin-bottom: 0;">
            <div class="panel-heading">Type de prestations </div>

            <div class="panel-body">
                {% for prestation in configuration.prestations %}
                    <div class="row form-group">
                        <div class="col-xs-12 text-left">
                            {{ prestation.nom }}
                        </div>
                    </div>
                {% endfor %}

            </div>     
        </div>
        <br/>

        <div class="row">
            <div class="col-xs-12">
                <a href="{{ path('configuration_modification_prestations') }}" class="pull-right btn btn-warning">Modifier les prestation</a>
            </div>
        </div>
        <br/>  <br/>
        <div class="panel panel-default" style="margin-bottom: 0;">
            <div class="panel-heading">Liste des Produits </div>

            <div class="panel-body">
                {% for produit in configuration.produits %}
                    <div class="row form-group">
                        <div class="col-xs-12 text-left">
                            {{ produit.nom }} <small class="text-muted">{{ produit.prixHt }}&nbsp;€&nbsp;HT</small>
                        </div>
                    </div>
                {% endfor %}

            </div>     
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-12">
                <a href="{{ path('configuration_modification_produits') }}" class="pull-right btn btn-warning">Modifier les produits</a>
            </div>
        </div>
        <br/>  <br/>
    </div>
{% endblock %}
