<table class="table table-bordered">
    <thead>
        <tr>
            <th class="col-xs-3">Nom</th>
            <th class="col-xs-3">Adresse</th>
            <th class="col-xs-3">Commune</th>
            <th class="col-xs-2">Contact</th>
    </thead>
    <tbody>
        {% for etablissement in etablissements %}
        <tr>
            <td><i class="mdi mdi-{{ etablissement.icon }} mdi-lg"></i> <a href="{{ path('passage_etablissement', {'id': etablissement.id }) }}">{{ etablissement.getNom(false) }}</a> {% if(modifLink is defined and modifLink) %}<a class="btn btn-xs btn-default pull-right" href="{{ path('etablissement_modification', {'societe': societe.id, 'id': etablissement.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</td>
            <td>{{ etablissement.adresse.adresse }}</td>
            <td>{{ etablissement.adresse.codePostal }} {{ etablissement.adresse.commune }}</td>
            <td>
            {% if(not etablissement.sameContactCoordonneeThanSociete) %}
            {%if(etablissement.contactCoordonnee.libelle is defined and etablissement.contactCoordonnee.libelle)%}{{ etablissement.contactCoordonnee.libelle }}<br />{%endif%}
            {% if(etablissement.contactCoordonnee.telephoneFixe is defined and etablissement.contactCoordonnee.telephoneFixe)%}
                <a href="callto:{{ etablissement.contactCoordonnee.telephoneFixe }}"><i class="glyphicon glyphicon-earphone"></i>&nbsp;{{ etablissement.contactCoordonnee.telephoneFixe }}</a><br />
            {% endif %}
            {% if(etablissement.contactCoordonnee.telephoneMobile is defined and etablissement.contactCoordonnee.telephoneMobile)%}
                <a href="callto:{{ etablissement.contactCoordonnee.telephoneMobile }}"><i class="glyphicon glyphicon-phone"></i>&nbsp;{{ etablissement.contactCoordonnee.telephoneMobile }}</a><br />
            {% endif %}
            {% if(etablissement.contactCoordonnee.fax is defined and etablissement.contactCoordonnee.fax)%}
                <a href="callto:{{ etablissement.contactCoordonnee.fax }}"><i class="glyphicon glyphicon-print"></i>&nbsp;{{ etablissement.contactCoordonnee.fax }}</a><br />
            {% endif %}&nbsp;
            {% if(etablissement.contactCoordonnee.email is defined and etablissement.contactCoordonnee.email)%}
                <a href="mailto:{{ etablissement.contactCoordonnee.email }}"><i class="glyphicon glyphicon-envelope"></i>&nbsp;{{ etablissement.contactCoordonnee.email }}</a><br />
            {% endif %}
            {% if(etablissement.contactCoordonnee.siteInternet is defined and etablissement.contactCoordonnee.siteInternet)%}
                <a href="{{ etablissement.contactCoordonnee.siteInternet }}"><i class="glyphicon glyphicon-globe"></i>&nbsp;{{ etablissement.contactCoordonnee.siteInternet }}</a><br />
            {% endif %}
            {% else %}
                <em class="text-muted">Même que la société</em>
            {% endif %}
            </td>
        </tr>
        <tr>
          <td colspan="4">
            <div class="row" style="padding: 15px">
              {% if(etablissement.attachements) %}
                      {% for attachement in etablissement.attachements %}
                      {{ include('attachement/attachementItem.html.twig', {'attachement' : attachement}) }}
                      {% endfor %}
                {% endif %}
                <div class="col-xs-12" >
                    <a class="btn btn-lg btn-default" data-toggle="modal" data-target="#document-modal-{{etablissement.id}}" ><span class="glyphicon glyphicon-plus"></span>&nbsp;Ajouter document</a>
                </div>
            </div>
          </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% for etablissement in etablissements %}
{{ include('attachement/attachementAjoutModal.html.twig', {'type' : 'etablissement', 'etablissement' : etablissement, 'uploadAttachementForm' : uploadEtbsAttachementForms[etablissement.id]}) }}
{% endfor %}
