{% set _menu_active = 'statistiques' %}
{% extends 'base.html.twig' %}
{% block title %}Statistiques{% endblock title %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('statistiques') }}">Statistiques</a></li>
    </ol>
    <h1>Exports statistiques</h1>
    <div class="row">
	    <div class="col-xs-12">
	      	{% for exportForm in exportForms %}
	      		{% if  exportForm.type not in ['factures', 'paiements', 'pca'] %}
	      		<a style="cursor: pointer; float:left; width:20%; background-color: #f5f5f5; color: #333; border: 1px solid #fff; height: 115px; line-height: 1.4; padding: 31px 10px 10px 10px; text-align: center;" data-toggle="modal" data-target="#datechoice{{ exportForm.type }}"><span class="{{exportForm.picto}}"></span><br />{{exportForm.libelle}}</a>
	      		{% endif %}
	      	{% endfor %}
	    </div>
    </div>
    <h1>Exports comptable</h1>
    <div class="row">
	    <div class="col-xs-12">
	      	{% for exportForm in exportForms %}
	      		{% if  exportForm.type in ['factures', 'paiements', 'pca'] %}
	      		<a style="cursor: pointer; float:left; width:20%; background-color: #f5f5f5; color: #333; border: 1px solid #fff; height: 115px; line-height: 1.4; padding: 31px 10px 10px 10px; text-align: center;" data-toggle="modal" data-target="#datechoice{{ exportForm.type }}"><span class="{{exportForm.picto}}"></span><br />{{exportForm.libelle}}</a>
	      		{% endif %}
	      	{% endfor %}
	    </div>
    </div>

          {% for exportForm in exportForms %}
<div  id="datechoice{{exportForm.type}}"  class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            {{ form_start(exportForm.form) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4>Export {{exportForm.type}}</h4>
            </div>
                <div class="modal-body form-horizontal">
                        {% if exportForm.form.dateFin is defined %}
                        <div class="form-group">
                            {{ form_errors(exportForm.form.dateDebut) }}
                            {{ form_label(exportForm.form.dateDebut, "Date début (incluse)", {'label_attr': {'class': 'col-xs-4 control-label'}}) }}
                            <div class="col-xs-8">
                                {{ form_widget(exportForm.form.dateDebut) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_errors(exportForm.form.dateFin) }}
                            {{ form_label(exportForm.form.dateFin, "Date fin (incluse)", {'label_attr': {'class': 'col-xs-4 control-label'}}) }}
                            <div class="col-xs-8">
                                {{ form_widget(exportForm.form.dateFin) }}
                            </div>
                        </div>
                        {% else %}
                        <div class="form-group">
                            {{ form_errors(exportForm.form.dateDebut) }}
                            {{ form_label(exportForm.form.dateDebut, "Date du mois", {'label_attr': {'class': 'col-xs-4 control-label'}}) }}
                            <div class="col-xs-8">
                                {{ form_widget(exportForm.form.dateDebut) }}
                            </div>
                        </div>
                        {% endif %}
                        {% if exportForm.form.commercial is defined %}
                        <div class="form-group">
                            {{ form_errors(exportForm.form.commercial) }}
                            {{ form_label(exportForm.form.commercial, "Choix du commercial", {'label_attr': {'class': 'col-xs-4 control-label'}}) }}
                            <div class="col-xs-8">
                                {{ form_widget(exportForm.form.commercial) }}
                            </div>
                        </div>
                        {% endif %}
                        {% if exportForm.form.societe is defined %}
                        <div class="form-group" id="searchable" data-type="societe" data-url="{{ path('recherche_societe')  }}" data-target="0">
                            {{ form_errors(exportForm.form.societe) }}
                            {{ form_label(exportForm.form.societe, "Choix de la société", {'label_attr': {'class': 'col-xs-4 control-label'}}) }}
                            <div class="col-xs-8">
                                {{ form_widget(exportForm.form.societe) }}
                            </div>
                        </div>
                        {% endif %}
                </div>
                <div class="modal-footer">
                    <div class="row">
                      <div class="col-xs-6 text-left">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                      </div>
                           {% if exportForm.pdf is defined and exportForm.pdf %}

                            <div class="col-xs-4 text-right">
                            {{ form_row(exportForm.form.pdf) }}
                          </div>
                            <div class="col-xs-2 text-right">
                                <button class="btn btn-primary" type="submit">Exporter</button>
                        </div>
                        {% else %}
                        <div class="col-xs-6 text-right">
                           <button class="btn btn-primary" type="submit">Exporter le CSV</button>
                        </div>
                            {% endif %}

                    </div>
                </div>
                    {{ form_end(exportForm.form) }}
            </div>
        </div>
      </div>
    {% endfor %}

{% endblock %}
