{% set _menu_active = 'calendar' %}
{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
    	
    	
    	<div class="modal fade" id="modal-calendrier-infos" tabindex="-1" role="dialog">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
      				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				<h4 class="modal-title" id="modal-title">Modal title</h4>
      				</div>
      				<div class="modal-body" id="modal-body"></div>
    			</div>
  			</div>
		</div>
    	
        <div id="container">
        	
        	<div class="row">
				<div id="fc-events" class="col-sm-12">
					{% if passage and not passage.dateFin %}
					<div class="event btn btn-sm btn-primary pull-right" data-duration="{{ passage.dureePrevisionnelle }}" data-title="{{ passage.intitule }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;{{ passage.intitule }}</div>
					{% endif %}
				</div>
			</div>
			<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 15px; font-size: 13px;">
				<li role="presentation"{% if not technicien %} class="active"{% endif %}><a href="{{ path('calendar') }}" role="tab" style="color: black;"><strong>Tous</strong></a></li>
            {% set i=0 %}
			{% for tech in techniciens if i < 8 %}
		        <li role="presentation"{% if tech == technicien %} class="active"{% endif %}><a href="{{ path('calendar',{'technicien': tech}) }}" role="tab" style="color: {{ colors[loop.index0] }};"><strong>{{ tech }}</strong></a></li>
                {% set i=loop.index %}
		    {% endfor %}
		    </ul>
        	<div class="row">
        		<div class="col-sm-12">
        			<div 
        				id="calendrier" 
        				data-url-populate="{{path('calendarPopulate', {'technicien': technicien})}}" 
        				data-url-read="{{path('calendarRead') }}"
        				{% if passage %}
        				data-url-update="{{path('calendarUpdate')}}" 
        				{% else %}
        				data-url-update="" 
        				{% endif %}
        			>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
{% endblock %}

