{% set _menu_active = 'calendar' %}
{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
    	
    	
    	<div class="modal fade" id="modal-calendrier-infos" tabindex="-1" role="dialog">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
      				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				<h4 class="modal-title" id="modal-title">Modal title</h4>
      				</div>
      				<div class="modal-body" id="modal-body"></div>
    			</div>
  			</div>
		</div>
    	
        <div id="container">
        	
            <div class="row" style="padding-bottom: 10px;">
				<div id="fc-events" class="col-sm-12">
					{% if passage and not passage.dateFin %}
					<div class="event btn btn-sm btn-primary pull-right" data-duration="{{ passage.dureePrevisionnelle }}" data-title="{{ passage.intitule }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;{{ passage.intitule }}</div>
					{% endif %}
				</div>
                                 <div class="col-sm-12 hidden" id="retour_technicien_btn" >
                    <a class="btn btn-sm btn-default pull-right" href="{{ path('passage')~'#filtre=["'~technicien~'"]' }}"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Retour aux passages prévus pour {{technicien}}</a>
                </div>
                <br/>
			</div>
			<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 15px; font-size: 13px;">
				<li role="presentation"{% if not technicien %} class="active"{% endif %}><a href="{{ path('calendar') }}" role="tab" style="color: black;"><strong>Tous</strong></a></li>
            {% set i=0 %}
			{% for tech in techniciens  if i < 8 %}
                <li role="presentation"{% if tech == technicien %} class="active"{% endif %}>
                    {% if passage %}
                    <a href="{{ path('calendar',{'passage': passage.passageIdentifiant(), 'technicien': tech}) }}" role="tab" style="color: {{ colors[i] }};"><strong>{{ tech }}</strong></a>
                    {% else %}
                    <a href="{{ path('calendar',{'technicien': tech}) }}" role="tab" style="color: {{ colors[i] }};"><strong>{{ tech }}</strong></a>
                    {% endif %}
                </li>
                {% set i=loop.index %}
		    {% endfor %}
		    </ul>
        	<div class="row">
        		<div class="col-sm-12">
        			<div 
        				id="calendrier{% if not technicien %}-light{% endif %}"
        				data-url-populate="{{path('calendarPopulate', {'technicien': technicien})}}" 
        				data-url-read="{{path('calendarRead', {'technicien': technicien})}}" 
        				{% if passage %}
        				data-url-update="{{path('calendarUpdate', {'passage': passage.passageIdentifiant(), 'technicien': technicien})}}" 
        				{% else %}
        				data-url-update="{{path('calendarUpdate', {'technicien': technicien})}}" 
        				{% endif %}
        			>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
{% endblock %}

