 <div class="row">
 	<div class="col-xs-12">
        <p class="text-right">
            {% if(passage.realise) %} <span class="label label-success">Réalisé</span>
            {% elseif(passage.planifie)  %} <span class="label label-default">Planifié non réalisé</span>
            {% elseif(passage.aPlanifie)  %} <span class="label label-warning">Non Planifié</span>
            {% endif %}
        </p>
 	</div>
 </div>
 <div class="row" style="margin-top: 20px;">
 	<div class="col-xs-6">
        <span><i class="mdi mdi-today mdi-lg"></i>&nbsp;{{ passage.dateDebut | localizeddate('full', 'none') }} <strong>{{ passage.dateDebut | localizeddate('none', 'short') }}</strong></span>
    </div>
    <div class="col-xs-6 text-right">
        <span>{{ passage.libelle }}</span>
    </div>
 </div>
  <div class="row">
 	<div class="col-xs-6">
        {% if(passage.duree) %}<span><i class="mdi mdi-schedule mdi-lg"></i>&nbsp;{{ passage.duree }}</span>{% endif %}
    </div>
    <div class="col-xs-6 text-right">
        <i class="mdi mdi-face mdi-lg"></i>&nbsp;{{ passage.technicien }}
    </div>
  </div>
<div class="row">
	<div class="col-xs-12">
	<p style="margin-top: 40px">
		 {{ passage.descriptionTransformed | nl2br }}
	</p>
	</div>
</div>
{% if not light %}
<hr />
<div class="row">
	<div class="col-xs-4">
		<a class="btn btn-danger" href="{{path('calendarDelete', {'passage': passage.passageIdentifiant, 'technicien': technicien})}}">Déplannifier</a>
    </div>
    <div class="col-xs-4 text-right">
		<button type="button" class="btn btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>&nbsp;Fermer</button>
	</div>
</div>
{% endif %}
