 <div class="row">
     <div class="col-xs-6">
         <p class="text-left">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default" disabled="disabled"><span class="glyphicon glyphicon-print"></span></button>
                <a class="btn btn-sm btn-default" href="{{ path('passage_pdf_bon', { id: passage.id })}}">Bon de passage</a>
                <a class="btn btn-sm btn-default" href="{{ path('passage_pdf_mission', { id: passage.id })}}">Fiche de suivi client</a>
            </div>
         </p>
  	</div>
 	<div class="col-xs-6">
        <p class="text-right">
            {% if(passage.realise) %} <span class="label label-success">Réalisé</span>
            {% elseif(passage.planifie)  %} <span class="label label-default">Planifié non réalisé</span>
            {% elseif(passage.aPlanifie)  %} <span class="label label-warning">Non Planifié</span>
            {% endif %}
        </p>
 	</div>
 </div>
 <div class="row" style="margin-top: 20px;">
 	<div class="col-xs-6">
        <span><i class="mdi mdi-today mdi-lg"></i>&nbsp;{{ passage.dateDebut | localizeddate('full', 'none') }} <strong>{{ passage.dateDebut | localizeddate('none', 'short') }}</strong></span>
    </div>
    <div class="col-xs-6 text-right">
        <span>{{ passage.libelle }}</span>
    </div>
 </div>
  <div class="row">
 	<div class="col-xs-6">
        {% if(passage.duree) %}<span><i class="mdi mdi-schedule mdi-lg"></i>&nbsp;{{ passage.duree }}</span>{% endif %}
    </div>
    <div class="col-xs-6 text-right">
    	{% for tech in passage.techniciens %}
        <i class="mdi mdi-face mdi-lg"></i>&nbsp;{{ tech.identite }}
        {% endfor %}
    </div>
  </div>
<div class="row">
	<div class="col-xs-12">
	<p style="margin-top: 40px">
		 {{ passage.descriptionTransformed | nl2br }}
	</p>
	</div>
</div>

{% if not passage.realise %}

{{ form_start(form) }}
<div class="row">
	<div class="form-group col-xs-8">
	    {{ form_label(form.dateDebut) }}
	    {{ form_errors(form.dateDebut) }}
	    <div class="input-group">
	        {{ form_widget(form.dateDebut) }}
	        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
	    </div>
	</div>
	<div class="col-xs-4 bootstrap-timepicker timepicker">
	    {{ form_label(form.timeDebut) }}
		{{ form_errors(form.timeDebut) }}
		<div class="input-group">
		    {{ form_widget(form.timeDebut) }}
		    <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
		</div>
    </div>
</div>
<div class="row">
	<div class="form-group col-xs-8">
		{{ form_label(form.dateFin) }}
	    {{ form_errors(form.dateFin) }}
	    <div class="input-group">
	        {{ form_widget(form.dateFin) }}
	        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
	    </div>
	</div>
	<div class="col-xs-4 bootstrap-timepicker timepicker">
    	{{ form_label(form.timeFin) }}
		{{ form_errors(form.timeFin) }}
		<div class="input-group">
		    {{ form_widget(form.timeFin) }}
		    <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading"><strong>Techniciens</strong></div>
	<div class="panel-body">
		{{ form_widget(form.techniciens) }}
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading"><strong>Prestations</strong></div>
	<div class="panel-body">
		{{ form_widget(form.prestations) }}
	</div>
</div>
<div class="text-right">
{{ form_widget(form.save) }}
</div>
{{ form_end(form) }}

{% endif %}

{% if not light %}
<hr />
<div class="row">
	<div class="col-xs-6">
		{% if not passage.realise %}
		<a class="btn btn-danger" href="{{path('calendarDelete', {'passage': passage.id, 'technicien': technicien})}}">Déplanifier</a>
		{% elseif passage.realise %}
		<a class="btn btn-danger deplanifier-link" href="{{path('passage_deplanifier', { 'id': passage.id })}}">Revenir "à planifier"</a>
		{% endif %}
    </div>
    <div class="col-xs-6 text-right">
		<button type="button" class="btn btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>&nbsp;Fermer</button>
	</div>
</div>
{% endif %}
