{% set _menu_active = 'calendar' %}
{% extends 'base.html.twig' %}
{% block body %}
    	
<div class="modal fade" id="modal-calendrier-infos" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="modal-title"></h4>
			</div>
			<div class="modal-body" id="modal-body"></div>
	</div>
	</div>
</div>

<div class="row">
	<div id="fc-events" class="col-sm-12">
		{% if passage  %}
		<div class="row">
	        <div class="col-xs-8">
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <div class="row">
	                        <div class="col-xs-6">
	                            <a href="{{ path('passage_etablissement', {id: etablissement.id }) }}"><strong>{{ etablissement.nom }}</strong></a>
	                        </div>
	                        <div class="col-xs-6">
	                            Société {{ etablissement.raisonsociale }}
	                        </div>
	                    </div>
	                </div>
	                <div class="panel-body">
	                    <div class="row">
	                        <div class="col-xs-10">
	                            {{ etablissement.adresse.intitule }}
	                        </div>
	                        <div class="col-xs-2">
	                            <i style="cursor: default;" class="pull-right mdi mdi-{{ etablissement.icon }} mdi-4x" title="{{ etablissement.type }}" data-toggle="tooltip" ></i>
	
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col-xs-6">
	                            Tél fixe : {{ etablissement.telephonefixe }}
	                        </div>
	                        <div class="col-xs-6">
	                            Tél portable : {{ etablissement.telephoneportable }}
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-4">
	            <div class="event btn btn-sm btn-warning pull-right" data-identifiant="{{ passage.passageIdentifiant() }}" data-duration="{{ passage.dureePrevisionnelle }}" data-title="{{ passage.intitule }}"><strong><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;{{ passage.etablissementInfos.nom }}</strong> <small>{{ passage.etablissementInfos.adresse.codePostal }} {{ passage.etablissementInfos.adresse.commune }} ({{ passage.etablissementInfos.adresse.adresse }})</small></div>
	        </div>
	    </div>
		{% endif %}
	</div>
    <div class="col-sm-12 hidden" id="retour_technicien_btn" >
        <a class="btn btn-sm btn-default pull-right" href="{{ path('passage')~'#filtre=["'~technicien~'"]' }}"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Retour aux passages prévus pour {{technicien}}</a>
    </div>
    <br/>
</div>

<ul class="nav nav-tabs nav-justified" role="tablist" style="margin-bottom: 15px; font-size: 13px;">
	<li role="presentation">
	{% if passage %}
		<a href="{{ path('calendarManuel',{'passage': passage.passageIdentifiant(), 'calendrier': calendarTool.getDateDebutSemaine('Y-m-d')}) }}" role="tab" style="color: black;"><strong>Tous</strong></a>
	{% else %}
        <a href="{{ path('calendarManuel', {'calendrier': calendarTool.getDateDebutSemaine('Y-m-d')}) }}" role="tab" style="color: black;"><strong>Tous</strong></a>
    {% endif %}
    </li>
{% set i=0 %}
{% for tech in techniciens %}
    <li role="presentation"{% if tech.getIdentite() == technicien %} class="active"{% endif %}>
        {% if passage %}
        <a href="{{ path('calendar',{'passage': passage.passageIdentifiant(), 'technicien': tech.getIdentite(), 'calendrier': calendarTool.getDateDebutSemaine('Y-m-d')}) }}" role="tab" style="color: {{ tech.getCouleur() }};"><strong>{{ tech.getInituleCourt() }}</strong></a>
        {% else %}
        <a href="{{ path('calendar',{'technicien': tech.getIdentite(), 'calendrier': calendarTool.getDateDebutSemaine('Y-m-d')}) }}" role="tab" style="color: {{ tech.getCouleur() }};"><strong>{{ tech.getInituleCourt() }}</strong></a>
        {% endif %}
    </li>
    {% set i=loop.index %}
{% endfor %}
</ul>
<div class="row">
	<div class="col-sm-12">
		<div 
			id="calendrier"
			data-goto-date="{{ calendarTool.getDateDebutSemaine('Y-m-d') }}"
			data-url-populate="{{path('calendarPopulate', {'technicien': technicien, 'calendrier': calendarTool.getDateDebutSemaine('Y-m-d')})}}" 
			data-url-read="{{path('calendarRead', {'technicien': technicien, 'calendrier': calendarTool.getDateDebutSemaine('Y-m-d')})}}" 
			{% if passage %}
			data-url-update="{{path('calendarUpdate', {'passage': passage.passageIdentifiant(), 'technicien': technicien, 'calendrier': calendarTool.getDateDebutSemaine('Y-m-d')})}}"
			data-url-prev="{{ path('calendar',{'passage': passage.passageIdentifiant(), 'technicien': technicien, 'calendrier': calendarTool.getSemainePrecedente('Y-m-d')}) }}" 
			data-url-next="{{ path('calendar',{'passage': passage.passageIdentifiant(), 'technicien': technicien, 'calendrier': calendarTool.getSemaineSuivante('Y-m-d')}) }}"  
			{% else %}
			data-url-update="{{path('calendarUpdate', {'technicien': technicien, 'calendrier': calendarTool.getDateDebutSemaine('Y-m-d')})}}"
			data-url-prev="{{ path('calendar',{'technicien': technicien, 'calendrier': calendarTool.getSemainePrecedente('Y-m-d')}) }}" 
			data-url-next="{{ path('calendar',{'technicien': technicien, 'calendrier': calendarTool.getSemaineSuivante('Y-m-d')}) }}"   
			{% endif %}
		>
		</div>
	</div>
</div>
{% endblock %}

