{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
    	
    	
    	<div class="modal fade" id="modal-calendrier-infos" tabindex="-1" role="dialog">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
      				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				<h4 class="modal-title" id="modal-title">Modal title</h4>
      				</div>
      				<div class="modal-body" id="modal-body"></div>
    			</div>
  			</div>
		</div>
    	
        <div id="container">
        	
        	<div class="row">
        		<div class="col-sm-8">
	        		{{ include('technicien/choixForm.html.twig', { 'form': form, 'technicien': technicien }) }}
	    		</div>
				<div id="fc-events" class="col-sm-4">
					{% if not passage.dateFin %}
					<div class="event btn btn-sm btn-primary pull-right" data-duration="{{ passage.dureePrevisionnelle }}" data-title="{{ passage.intitule }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;{{ passage.intitule }}</div>
					{% endif %}
				</div>
			</div>
			<hr />
        	<div class="row">
        		<div class="col-sm-12">
        			<div id="calendrier" data-url-populate="{{path('calendarPopulate', {'etablissement': etablissement,'passage': passage.identifiant,'technicien': technicien})}}" data-url-update="{{path('calendarUpdate', {'etablissement': etablissement,'passage': passage.identifiant,'technicien': technicien})}}" data-url-read="{{path('calendarRead', {'etablissement': etablissement,'passage': passage.identifiant,'technicien': technicien}) }}"></div>
        		</div>
        	</div>
        </div>
    </div>
{% endblock %}

