{% set _menu_active = 'calendar' %}
{% extends 'base.html.twig' %}
{% block title %}Calendrier Résumé{% endblock title %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('calendarManuel') }}">Calendrier global</a></li>
        <li><a href="{{ path('calendarManuel', {'date' : date}) }}">&nbsp;Semaine {{ calendarTool.getLibelle() }}</a></li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs nav-justified" role="tablist" style="margin: 15px 0; font-size: 13px;">
                <li role="presentation" class="active">
                    <a href="{{ path('calendarManuel', {'date': calendarTool.getDateDebut('Y-m-d'), 'passage': ((passage) ? passage.id : null), 'mode': calendarTool.mode }) }}" role="tab" style="color: black;"><i class="mdi mdi-apps mdi-lg"></i> Résumé</a>
                </li>
                {% set i=0 %}
                {% for tech in techniciens %}
                    <li role="presentation">
                        <a href="{{ path('calendar',{'technicien': tech.getId(), 'passage': ((passage) ? passage.id : null), 'id': ((passage) ? passage.etablissement.id : "0"), 'date': calendarTool.getDateDebut('Y-m-d'), 'mode': calendarTool.mode }) }}" role="tab" style="color: {{ tech.getCouleur() }};">
                            <i class="mdi mdi-face mdi-lg"></i> <strong>{% autoescape false %}{{ tech.getIdentiteCourt() | replace({' ' : '&nbsp;'})  }}{% endautoescape %}</strong>
                        </a>
                    </li>
                    {% set i=loop.index %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="btn-group">
                <div class="row">
                <div class="col-sm-2 text-left"><a href="{{ path('calendarManuel',{'passage': ((passage) ? passage.id : null), 'id': ((passage) ? passage.etablissement.id : "0"), 'date': calendarTool.getPrecedent() | date("Y-m-d"), 'mode': calendarTool.getMode() }) }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></a></div>
                <div class="col-sm-8 text-center"><a href="" style="font-size: 24px; padding-bottom:0; padding-top: 0; width: " class="btn btn-link">{{ calendarTool.getLibelle() }}</a></div>
                <div class="col-sm-2 text-center"><a href="{{ path('calendarManuel',{'passage': ((passage) ? passage.id : null), 'id': ((passage) ? passage.etablissement.id : "0"), 'date': calendarTool.getSuivant() | date("Y-m-d"), 'mode': calendarTool.getMode() }) }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            {% if passage and not passage.rendezvous %}
                <div class="event" data-passage="{{ passage.id }}" data-duration="{{ passage.dureePrevisionnelle }}" data-title="{{ passage.etablissementInfos.nom }} ({{ passage.etablissementInfos.adresse.codePostal }})">
                    <span class="btn btn-info disabled">
                        <span class="mdi mdi-today mdi-lg" aria-hidden="true"></span>&nbsp;{{ passage.etablissementInfos.nom }} <small>{{ passage.etablissementInfos.adresse.codePostal }} {{ passage.etablissementInfos.adresse.commune }}</small>
                    </span>
                </div>
            {% endif %}
        </div>
    	<div class="col-sm-4 text-right">
    	</div>
</div>
<div class="row" style="margin-top: 10px;">
	<div class="col-sm-12">
		<div class="fc fc-ltr fc-unthemed">
			<div class="fc-view-container">
				<div class="fc-view fc-agendaWeek-view fc-agenda-view">
					<table>
						<thead class="fc-head">
							<tr>
								<td class="fc-head-container fc-widget-header">
									<div class="fc-row fc-widget-header">
										<table>
											<thead>
												<tr>
													<th class="fc-axis fc-widget-header" style="width: 17px;"></th>
													{% for date, eventDate in eventsDates %}
													<th data-date="{{ date }}" class="fc-day-header fc-widget-header fc-mon">{{ calendarTool.getShortLibelleJour(date|date("N")) }} {{ date|date("j") }}/{{ date|date("n") }}
                                                    <br />
                                                    {% for technicien, events in eventDate %}<a href="{{ path('calendar',{'technicien': techniciens["COMPTE-"~technicien].id, 'passage': ((passage) ? passage.id : null), 'id': ((passage) ? passage.etablissement.id : "0"), 'date': calendarTool.getDateDebut('Y-m-d'), 'mode': calendarTool.mode }) }}" data-toggle="tooltip" title="{{ techniciens["COMPTE-"~technicien].identite }}" style="
                                                        display:inline-block;
                                                        margin-right: 1px;
                                                        border-radius: 0;
                                                        padding: 2px 8px 2px 2px;
                                                        text-align: center;
                                                        border: 0;
                                                        background-color: {{ techniciens["COMPTE-"~technicien].couleur }};
                                                        color: #fff;
                                                        width: {{ ((100 / nbTechniciens))|round(0, 'floor') - 5 }}%;"
                                                        class="fc-time-grid-event fc-v-event fc-event fc-start fc-end">
                                                        <strong>{{ techniciens["COMPTE-"~technicien].prenom | slice(0,2) | upper }}</strong>
                                                    </a>{% endfor %}
                                                    </th>
													{% endfor %}
												</tr>
											</thead>
										</table>
									</div>
								</td>
							</tr>
						</thead>
						<tbody class="fc-body">
							<tr>
								<td class="fc-widget-content">
									<div class="fc-time-grid-container" style="height: 680px; overflow: hidden;">
										<div class="fc-time-grid">
											<div class="fc-bg">
												<table>
													<tbody>
														<tr>
															<td class="fc-axis fc-widget-content" style="width: 17px;"></td>
															{% for date, eventDate in eventsDates %}
															<td data-date="" class="fc-day fc-widget-content{% if date == calendarTool.getAujourdhui('Y-m-d') %} fc-today fc-state-highlight{% endif %}"></td>
															{% endfor %}
														</tr>
													</tbody>
												</table>
											</div>
											<div class="fc-slats">
												<table>
													<tbody>
														{% for i in 6..19 %}
															<tr data-time="{{ "%02d:00:00"|format(i) }}">
																<td class="fc-axis fc-time fc-widget-content" style="width: 17px;"><span>{{ "%02d"|format(i) }}</span></td>
																<td class="fc-widget-content"></td>
															</tr>
															<tr class="fc-minor" data-time="{{ "%02d:30:00"|format(i) }}">
																<td class="fc-axis fc-time fc-widget-content" style="width: 17px;"></td>
																<td class="fc-widget-content"></td>
															</tr>
													    {% endfor %}
													</tbody>
												</table>
											</div>
											<div class="fc-content-skeleton">
												<table>
													<tbody>
														<tr>
															<td style="width:17px" class="fc-axis"></td>
															{% for date, eventDate in eventsDates %}
															<td class="{{ date }}">
																<div class="fc-content-col">
																	<div class="fc-event-container">
																		{% set index = 0 %}
																		{% for technicien, events in eventDate %}
																			{% for event in events %}
																			<a style="cursor: pointer;
																				background-color: {{ event.backgroundColor }};
                                                                                border: 1px dotted #fff;
																				color: {{ event.textColor }};
																				z-index: {{ index + 1 }};
																				top: {{ (event.coefStart * 26) + 1 }}px;
																				bottom: -{{ (event.coefEnd * 26) + 3 }}px;
																				left: {{ ((100 / nbTechniciens) * index)|round(0, 'floor') }}%;
																				width: {{ ((100 / nbTechniciens))|round(0, 'floor') - 5 }}%;"
																				class="fc-time-grid-event fc-v-event fc-event fc-start fc-end"
																				nb="{{ eventDate|keys|length }}" data-toggle="modal" data-remote="false" data-target="#modal-calendrier-infos" href="{{path('calendarRead', { 'id': event.id })}}" data-original-title="{{ event.resume }}" >
																			</a>
																			{% endfor %}
                                                                            <a style="
                                                                                display:inline-block;
                                                                                top: -10px;
																				z-index: {{ index - 1 }};
                                                                                border-radius: 0;
                                                                                bottom: -800px;
                                                                                left: {{ ((100 / nbTechniciens) * index)|round(0, 'floor') }}%;
                                                                                background-color: {{ techniciens["COMPTE-"~technicien].couleur }};
                                                                                border: 0;
                                                                                opacity: 0.2;
                                                                                padding: 0 5px;
                                                                                width: {{ ((100 / nbTechniciens))|round(0, 'floor') - 5 }}%;"
                                                                                class="fc-time-grid-event fc-v-event fc-event fc-start fc-end">
                                                                            </a>
																			{% set index = index + 1 %}
																		{% endfor %}
																	</div>
																</div>
															</td>
															{% endfor %}
														</tr>
													</tbody>
												</table>
											</div>
											<hr class="fc-divider fc-widget-header" style="display: block;">
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
	<script type="text/javascript">
	    //setTimeout(function () { document.location.reload();}, 20 * 1000);
	</script>
{% endblock %}
