{% if attachement.isPdf %}
    <div class="thumbnail thumbnail-overlayed" data-cible="modal-viewer-{{attachement.id }}">
      <object type="application/pdf" width="100%" height="100%" style="margin-bottom:0" class="vignette">
        <param name="src" value="{{ attachement.getBase64Src() }}" />
      </object>
      <div class="overlay">
      </div>
    </div>
{% elseif attachement.isImage %}
  <div class="thumbnail thumbnail-overlayed" data-cible="modal-viewer-{{attachement.id }}" >
    <img src="{{ attachement.getBase64Src() }}" alt="{{ attachement.originalName }}" class="img-thumbnail vignette" style="margin-bottom:0; max-width : 100px; max-height : 100px;"/>
    <div class="overlay">
    </div>
  </div> 
  {% endif %}

<!-- The Modal -->
<div id="modal-viewer-{{attachement.id }}" class="modal-viewer">
  <span class="modal-viewer-close">&times;</span>
  {% if attachement.isPdf %}
    <object type="application/pdf" width="100%" height="100%" style="margin-bottom:0" >
      <param name="src" value="{{ attachement.getBase64Src() }}" />
    </object>
  {% else %}
  <img class="modal-viewer-content" id="img">
  {% endif %}
</div>
