<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="{{ _charset }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../../favicon.ico">

        <title>{% block title %}Aurouze{% endblock title %}</title>

        <link rel="stylesheet" href="{{ asset('/component/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/component/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/component/bootstrap-timepicker/css/bootstrap-timepicker.css') }}" />
        <link rel="stylesheet" href="{{ asset('/component/bootstrap-switch/css/bootstrap-switch.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/component/fullcalendar/css/fullcalendar.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/component/select2/css/select2.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/component/select2/css/select2-bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/component/mervick/material-design-icons/css/material-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('/component/leaflet/leaflet.css') }}">
        <link rel="stylesheet" href="{{ asset('/component/aurouze/aurouze.css') }}">
        <link rel="stylesheet" href="{{ asset('/component/leaflet-extra-markers/css/leaflet.extra-markers.css') }}">
        <link rel="stylesheet" media="print" href="{{ asset('/component/fullcalendar/css/fullcalendar.print.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/main.css') }}?date=20170119" />
        <link rel="stylesheet" media="print" href="{{ asset('/css/print.css') }}?date=20160622" />

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div id="ajax_notifications">
            <div class="alert alert-info text-center" id="ajax_form_progress_notification">
                Traitement en cours...
            </div>
            <div class="alert alert-danger text-center alert-dismissible" id="ajax_form_error_notification">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Oops, une erreur est survenue ! <small>Vous pouvez <a href="javascript:location.reload();">recharger la page</a>(ou si le problème persiste contactez le 24eme)</small>
            </div>
        </div>

        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ path('accueil') }}" alt="aurouze" style="margin: 5px 10px 5px 0; height: 40px;"><img src="{{ asset('/images/logo.svg') }}" height="40" style="margin-top: 5px;"  /></a>
                </div>
                {% set retard = 0 %}
                {% if(app.request.get('societe')) %}
                  {% set retard = facture_manager.getRetardDePaiementBySociete(app.request.get('societe')) | length %}
                {% endif %}
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="{%if (_menu_active == 'societe') %}active{% endif %}"><a href="{% if(app.request.get('societe') and _menu_active != 'societe') %}{{ path('societe_visualisation', { id: app.request.get('societe').id }) }}{% else %}{{ path('societe') }}{% endif %}">Société</a>
                        </li>
                        <li class="{%if (_menu_active == 'contrat') %}active{% endif %}"><a href="{% if(app.request.get('societe') and _menu_active != 'contrat') %}{{ path('contrats_societe', { id: app.request.get('societe').id }) }}{% else %}{{ path('contrat') }}{% endif %}">Contrats</a>
                        </li>
                        <li class="{%if (_menu_active == 'passage') %}active{% endif %}">
                            <a href="{% if(app.request.get('etablissement') and _menu_active != 'passage') %}{{ path('passage_etablissement', { id: app.request.get('etablissement').id }) }}{% elseif(app.request.get('societe') and _menu_active != 'passage') %}{{ path('passage_societe', { id: app.request.get('societe').id }) }}{% else %}{{ path('passage') }}{% endif %}">Passages / Planif.</a>
                        </li>
                        <li class="{%if (_menu_active == 'facture') %}active{% endif %}"><a href="{% if(app.request.get('societe') and _menu_active != 'facture') %}{{ path('facture_societe', { id: app.request.get('societe').id }) }}{% else %}{{ path('facture') }}{% endif %}" >Factures</a>
                        </li>
                        <li class="{%if (_menu_active == 'paiements') %}active{% endif %}"><a href="{% if(app.request.get('societe') and _menu_active != 'paiements') %}{{ path('paiements_societe', { id: app.request.get('societe').id }) }}{% else %}{{ path('paiements_liste') }}{% endif %}">Paiements</a></li>
                        <li class="{%if (_menu_active == 'paiementsRetard') %}active{% endif %}"><a href="{% if(app.request.get('societe') and _menu_active != 'paiementsRetard') %}
                      {{ path('factures_retard_societe',{ id : app.request.get('societe').id }) }}
                      {% else %}  {{ path('factures_retard') }}{% endif %}"></span>Retard{% if(retard > 0) %}&nbsp;<span class="badge badge-danger">{{ retard }}</span>{% endif %}</a></li>
                    </ul>

                    {% if(app.request.get('etablissement')) %}<!--<p id="nav_nom_etablissement" class="navbar-text truncate visible-lg-block"><strong>{{ app.request.get('etablissement').societe.raisonSociale }}</strong></p>-->{% endif %}

                    <ul class="nav navbar-nav pull-right">
                        <li class="{%if (_menu_active == 'recherche') %}active{% endif %}"><a href="{{ path('recherche')}}"><span class="glyphicon glyphicon-search"></span></a></li>
                        <li class="{%if (_menu_active == 'calendar') %}active{% endif %}"><a href="{{ path('calendarManuel') }}"><span class="glyphicon glyphicon-calendar"></span> Calendrier</a></li>
                        <li class="{%if (_menu_active == 'statistiques') %}active{% endif %}"><a href="{{ path('statistiques') }}"><span class="glyphicon glyphicon-stats"></span></a></li>
                        <li class="dropdown {%if (_menu_active == 'configuration' or _menu_active == 'erreurs' ) %}active{% endif %}">

                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" ></span></a>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li class="{%if (_menu_active == 'configuration') %}active{% endif %}"><a href="{{ path('configuration') }}"><span class="glyphicon glyphicon-cog" ></span>&nbsp;&nbsp;Paramètres</a></li>
                            <li class="{%if (_menu_active == 'erreurs') %}active{% endif %}"><a href="{{ path('passage_erreurs') }}"><span class="mdi mdi-lg mdi-announcement"></span>&nbsp;Passages en erreur</li>
                            <li class="{%if (_menu_active == 'erreurs') %}active{% endif %}"><a href="{{ path('contrats_erreurs') }}"><span class="mdi mdi-lg mdi-announcement"></span>&nbsp;Contrats en erreur</li>
                            <li><a href="{{ path('contrats_reconduction_massive') }}" ><span class="glyphicon glyphicon-refresh"></span>&nbsp;Reconduction massive</a></li>
                          </ul>
                    </li>
                    <!-- <li class="{%if (_menu_active == 'tournee') %}active{% endif %}"><a href="{{ path('tournees') }}"><span class="glyphicon glyphicon-road" data-toggle="tooltip" title="Tournées"></span></a></li> -->
                  </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <div class="modal" id="modal-calendrier-infos" tabindex="-1" role="dialog"></div>

        <script type="text/javascript" src="{{ asset('/component/jquery/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/component/jquery-ui/js/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/component/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/component/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/component/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/component/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/component/bootstrap-timepicker/js/bootstrap-timepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/component/moment/js/moment.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/component/fullcalendar/js/fullcalendar.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/component/fullcalendar/js/fullcalendar-languages.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/component/select2/js/select2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/component/select2/js/i18n/fr.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/component/leaflet/leaflet.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/component/leaflet-extra-markers/js/leaflet.extra-markers.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/component/typeahead/typeahead.bundle.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/functions.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/calendar-settings.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/main.js?date=201703131625') }}"></script>

        {% block javascripts %}{% endblock %}

    </body>
</html>
