<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('/component/fullcalendar/css/fullcalendar.min.css') }}" />
        <link rel="stylesheet" media="print" href="{{ asset('/component/fullcalendar/css/fullcalendar.print.css') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        
        
        
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
		<script type="text/javascript" src="{{ asset('/component/jquery/js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('/component/moment/js/moment.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('/component/fullcalendar/js/fullcalendar.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('/component/fullcalendar/js/fullcalendar-languages.js') }}"></script>
		<script type="text/javascript" src="{{ asset('/js/calendar-settings.js') }}"></script>
    </body>
</html>
