{% set _menu_active = 'user' %}
{% extends 'base.html.twig' %}

{% block body %}
<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th></th>
			<th>Prénom</th>
			<th>Nom</th>
			<th>Tags</th>
			<th>Actif</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td><span class="glyphicon glyphicon-user" style="color: {{ user.couleur }};"></span></td>
			<td>{{ user.prenom }}</td>
			<td>{{ user.nom }}</td>
			<td>{% for tag in user.tags %}{{ tag.nom }}, {% endfor %}</td>
			<td><input class="switcher" type="checkbox" data-size="mini" data-url="{{ path('user_update_etat', {id: user.id }) }}" /></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
