{% for facture in facturesEnAttente|reverse(true) %}

            <td>{{ ((facture.isDevis) ? facture.dateDevis : facture.dateFacturation) | localizeddate("medium", "none", null, null, "d MMMM yyyy") }}</td>
            <td><a href="{{ path('facture_pdf', {'id': facture.id })}}">
           	<a data-toggle="tooltip" title="{% for ligne in facture.lignes %}{{ (ligne.libelle) ? ligne.libelle~"\n" : "Aucun" }}{% endfor %}" href="{{ path('facture_pdf', {'id': facture.id })}}">Facture prévue</a>&nbsp;<span class="glyphicon glyphicon-file"></span></td>
            <td>
                {% for origine in facture.origines %}
                    <a href="{{ path('contrat_visualisation', {'id': origine.id })}}">Contrat n° {{ origine.numeroArchive }}</a>
                {% endfor %}
            </td>
            <td class="col-xs-1">{{ facture.societe.raisonSociale}}</td>
            <td class="text-right">{{ "%0.2f" | format(facture.montantHT)  }}&nbsp;€</td>
            <td class="text-right">{{ "%0.2f" | format(facture.montantTTC)  }}&nbsp;€</td>


          </td>

            <td class="text-left">
                <a class="btn btn-default btn-xs " href="{{ path('facture_en_attente_facturer', { 'factureId': facture.id })}}">Facturer</a>
            </td>
        </tr>

{% endfor %}
