{% set _menu_active = 'facture' %}
{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block _facture_lignes_entry_row %}
    <tr class="dynamic-collection-item">
        <td>
            {{ form_widget(form.libelle) }}
        </td>
        <td >
            {{ form_widget(form.quantite) }}
        </td>
        <td>
            <div class="input-group">
                {{ form_widget(form.prixUnitaire, {'attr': {'class': 'text-right prix-unitaire form-control'}}) }}
                <div class="input-group-addon">€ HT</div>
            </div>
        </td>
        <td>
            {{ form_widget(form.tauxTaxe, {'value' : 0.2, 'attr': {'class': 'text-right form-control'}}) }}
        </td>
        <td style="width: 0;" class="text-right">
            <button type="button" tabindex="-1" class="btn btn-default dynamic-collection-remove"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
    </tr>
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('facture') }}">Facture</a></li>
        <li><a href="{{ path('facture_societe',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
        <li><a href="">{% if(facture.isDevis) %}Création d'un devis{% else %}Création d'une facture{% endif %}</a></li>
    </ol>

    <div id="factureLibre" class="form-horizontal" data-produits="{{ produitsSuggestion | json_encode }}">
        {{ form_start(form) }}
        <h3>{% if(not facture.id and facture.isDevis) %}Création d'un devis{% elseif(facture.id and facture.numeroDevis) %}Transformation du devis n° {{ facture.numeroDevis }} en facture{% else %}Création d'une facture{% endif %}</h3>
        <hr />
        <div class="row">
            <div class="col-xs-5">
                {% if (form.dateFacturation is defined) %}
                <div class="form-group">
                    {{ form_errors(form.dateFacturation) }}
                    {{ form_label(form.dateFacturation, "Date de facturation", {'label_attr': {'class': 'col-xs-5 control-label'}}) }}
                    <div class="col-xs-7">
                        <div class="input-group">
                            {{ form_widget(form.dateFacturation) }}
                            <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if (form.dateDevis is defined) %}
                <div class="form-group">
                    {{ form_errors(form.dateDevis) }}
                    {{ form_label(form.dateDevis, "Date du devis", {'label_attr': {'class': 'col-xs-5 control-label'}}) }}
                    <div class="col-xs-7">
                        <div class="input-group">
                            {{ form_widget(form.dateDevis) }}
                            <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="form-group">
                    {{ form_errors(form.frequencePaiement) }}
                    {{ form_label(form.frequencePaiement, "Fréquence de paiement", {'label_attr': {'class': 'col-xs-5 control-label'}}) }}
                    <div class="col-xs-7">
                        {{ form_widget(form.frequencePaiement) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-5 col-xs-offset-2">
                <span class="lead">{{ facture.destinataire.nom }}</span><br />
                {{ facture.destinataire.adresseFormatee }}<br />
                {{ facture.destinataire.codePostal }} {{ facture.destinataire.commune }}<br />
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-xs-7">Libellé</th>
                    <th class="col-xs-2">Quantité</th>
                    <th class="col-xs-2">Prix Unitaire</th>
                    <th class="col-xs-1">Taux&nbsp;de&nbsp;TVA</th>
                    <th style="width: 0;"></th>
                </tr>
            </thead>
            <tbody id="facture_lignes_collection" class="dynamic-collection" data-prototype="{{ form_row(form.lignes.vars.prototype)|e('html_attr') }}">
                {{ form_widget(form.lignes, { 'attr': {'class': 'dynamic-collection'} }) }}
            </tbody>
            <tfoot>
                <th colspan="5" class="text-right"><a href="javascript:void(0);" data-collection-target="#facture_lignes_collection"  class="btn btn-primary dynamic-collection-add"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
            </tfoot>
        </table>
        <div class="form-group">
            {{ form_errors(form.description) }}
            {{ form_label(form.description, "Informations complémentaires", {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
            <div class="col-xs-10">
                {{ form_widget(form.description) }}
            </div>
        </div>
        <hr />
        <div class="row form-group">
            <div class="col-xs-4 text-left">
                <a class="btn btn-default" href="{{ path('facture_societe',{ 'id' : societe.id }) }}">Annuler</a>
            </div>
            <div class="col-xs-4 text-center">
                <button type="submit" name="previsualiser" value="previsualiser" class="btn btn-default"><span class="glyphicon glyphicon-file"></span> Prévisualiser {% if(facture.isDevis) %}le devis{% else %}la facture{% endif %}</button>
            </div>
            <div class="col-xs-4 text-right">
                <button type="submit" class="btn btn-success">{% if(facture.isDevis) %}Générer le devis{% else %}Générer la facture{% endif %}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
