{% set _menu_active = 'facture' %}
{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block _facture_lignes_entry_row %}
    <div class="row form-group dynamic-collection-item">
        <div class="col-xs-5">
            {{ form_widget(form.libelle) }}
        </div>
        <div class="col-xs-2">
            {{ form_widget(form.quantite) }}
        </div>
        <div class="col-xs-2">
            <div class="input-group">
                {{ form_widget(form.prixUnitaire) }}
                <div class="input-group-addon">€ HT</div>
            </div>
        </div>
        <div class="col-xs-2">
            {{ form_widget(form.tauxTaxe, {'value' : 0.2}) }}
        </div>
        <div class="col-xs-1 text-right">
            <button type="button" tabindex="-1" class="btn btn-default dynamic-collection-remove"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="factureLibre" data-produits="{{ produitsSuggestion | json_encode }}">
        {{ form_start(form) }}
        <h2>Création d'une facture</h2>
        {{ form_widget(form.lignes, { 'attr': {'class': 'dynamic-collection'} }) }}
        <div class="row form-group">
            <div class="col-xs-12 text-right">
                <a href="javascript:void(0);" data-collection-target="#facture_lignes"  class="btn btn-primary dynamic-collection-add"><span class="glyphicon glyphicon-plus-sign"></span></a>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 text-right">
                {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success' }}) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
