{% extends 'base_pdf.html.twig' %}

{% block body %}
{% for lignes in pages %}
<div class="row">
    <div class="col-xs-6">
        <br />
        <p>
            <span class="lead">{{ facture.emetteur.nom }}</span><br />
            {% if(facture.emetteur) %}
            {{ facture.emetteur.adresse }}<br />
            {{ facture.emetteur.codePostal }}, {{ facture.emetteur.commune }}<br />
            {% endif %}
            Tél : {{ facture.emetteur.telephone }}<br />
            E-mail: {{ facture.emetteur.email }}
        </p>
    </div>
    <div class="col-xs-6">
        <div class="text-right">
        {% if facture.isDevis %}
        <h3>DEVIS {% if(facture.numeroDevis) %}N°&nbsp;{{ facture.numeroDevis }}{% else %}BROUILLON{% endif %}</h3>
        <span>Du {{ facture.dateDevis|date("d/m/Y") }}</span>
        <br /><br />
        {% else %}
        <h3>{%if(facture.isAvoir)%}AVOIR{%else%}FACTURE{%endif%} {% if(facture.numeroFacture) %}N°&nbsp;{{ facture.numeroFacture }}{% else %}BROUILLON{% endif %}</h3>
        <span>Du {{ facture.dateFacturation|date("d/m/Y") }}</span><br />
        {% if (facture.numeroDevis) %}
        À partir du devis n° {{ facture.numeroDevis }}
        {% elseif (facture.origineAvoir) %}
        Sur facture n°{{ facture.origineAvoir.numeroFacture }}
        {% else %}
        <br /><br />
        {% endif %}
        {% endif %}
        </div>
        <br />
        <br />
        <p>
        	<small>
            {{ facture.destinataire.nomFormatee | nl2br }}<br />
            {{ facture.destinataire.adresseFormatee | nl2br }}<br />
            {{ facture.destinataire.codePostal }} {{ facture.destinataire.commune }}<br />
            </small>
        </p>
    </div>
</div>
{% if loop.length > 1 %}
<p class="text-center"><small>Page {{ loop.index }} / {{ loop.length }}</small></p>
{% else %}
    <br />
    <br />
{% endif %}
<table class="table table-bordered table-condensed" style="border-bottom: 0 !important; border-right: 0 !important;  border-left: 0 !important;">
    <thead>
        <tr>
            <th class="col-xs-7">Libellé</th>
            <th class="text-center col-xs-1">Qté</th>
            <th class="text-right col-xs-2">Prix&nbsp;unit.&nbsp;HT</th>
            <th class="text-right col-xs-2">Sous-total&nbsp;HT</th>
        </tr>
    </thead>
    <tbody>
    {% for ligne in lignes %}
        <tr>
            <td>
                {% if(ligne.libelle is defined) %}{{ ligne.libelle }}<br />{% endif %}
                {% if ligne.referenceClient is defined and ligne.referenceClient %}<small><small>Votre Réf CDE : {{ ligne.referenceClient }}</small><br /></small>{% endif %}
                {% if ligne.details is defined %}
                <small>
                    <small>
                    {% for libelle, details in ligne.details %}
                        {% if details is iterable %}
                        {{ libelle }} :
                        <ul class="list-unstyled" style="padding-left: 10px; margin-bottom: 0">
                        	{% for detailLigne in details %}
                            <li>- {{ detailLigne }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            {{ details | nl2br }}
                        {% endif %}
                    {% endfor %}
                    </small>
                </small>
                {% endif %}
            </td>
            <td class="text-center">{% if ligne.quantite is defined %}{{ ligne.quantite }}{% endif %}</td>
            <td class="text-right">{% if ligne.prixUnitaire is defined %}{{ ligne.prixUnitaire|number_format(2, ',', ' ')  }} €{% endif %}</td>
            <td class="text-right">{% if ligne.montantHT is defined %}{{ ligne.montantHT|number_format(2, ',', ' ')  }} €{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
    {% if loop.last %}
    <tfoot class="lead">
        <tr>
            <td style="height: 15px; border: 0 !important;"></td>
            <td colspan="4" style="height: 15px; border-left: 0 !important; border-right: 0 !important;"></td>
        </tr>
        <tr>
            <td rowspan="3" style="border: 0 !important; padding: 0;">{% if(not facture.isDevis) %}
            <p class="well" style="padding: 5px; margin-bottom: 0; line-height: 10px; width: 92%;">
            <small><small style="font-size: 60%;">
            La loi n°2012-387 du 22 mars 2012 (art. L. 441-3 du C.Cce) nous fait l'obligation de vous indiquer :<br />
            Application du taux minimum de pénalités de retard : trois fois le taux d'intérêt légal en vigueur (art. L. 441-6 du C.Cce)<br />
            Indemnité forfaitaire pour frais de recouvrement : 40 euros (art. D. 441-5 du C.Cce)<br />
            Sanction en cas de non respect des modalités ci-dessus :<br />
             - amende de 75 000 euros pour les personnes physiques / 375 000 euros pour les personnes morales.
         </small></small></p>
            {% endif %}</td>
            <td colspan="2">Total HT</td>
            <td colspan="2" class="text-right">{{ facture.montantHT|number_format(2, ',', ' ')  }} €</td>
        </tr>
        <tr>
            <td colspan="2">TVA {{ (facture.tva * 100)|number_format(2, ',', ' ') }}%</td>
            <td colspan="2" class="text-right">{{ facture.montantTaxe|number_format(2, ',', ' ') }} €</td>
        </tr>
        <tr>
            <td colspan="2">Total TTC</td>
            <td colspan="2" class="text-right">{{ facture.montantTTC|number_format(2, ',', ' ')  }} €</td>
        </tr>
    </tfoot>
    {% endif %}
</table>
{% if not loop.last %}
    <div style="page-break-after: always;"></div>
{% endif %}
{% endfor %}

{% if (facture.isDevis) %}
<p>
Condition de réglement : {{ facture.frequencePaiementLibelle }}
</p>
{% endif %}

{% if (facture.description) %}
<p>
    {{ facture.description  | nl2br }}
</p>
{% endif %}

<small>
<p class="text-center" style="line-height: 13px;">
    <small>
    {{ parameters.emetteur.infos }}<br />
    {{ parameters.emetteur.banque }}<br />
    {{ parameters.emetteur.virement }}<br />
    Agrément du Ministère de l'Agriculture A. I. F. 00131<br />
    </small>
</p>
</small>
{% if(not facture.isFacture and not facture.isAvoir) %}
<div style="border-top: 1px dashed #ccc; margin-top: 15px;">
    <div class="row">
        <div class="col-xs-12 text-center">
            <small><small><small>Coupon à joindre avec votre règlement</small></small></small>
        </div>
        <div class="col-xs-6">
            <p>
            <span class="lead" style="font-size: 15px;">Facture n°&nbsp;{{ facture.numeroFacture }} du {{ facture.dateFacturation|date("d/m/Y") }}</span><br />
            <small>Client : {{ facture.destinataire.raisonSociale }} ({{ facture.destinataire.codeComptable }})</small>
            </p>
        </div>
        <div class="col-xs-6 text-right">
            <p>
            <span class="lead" style="font-size: 15px;">Montant dû : {{ facture.montantTTC|number_format(2, ',', ' ')  }}&nbsp;€</span><br />
            <small>Date limite de règlement : {{ facture.dateLimitePaiement|date("d/m/Y") }}</small>
            </p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
