{% extends 'base_pdf.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-7">
        <br />
        <p>
            <span class="lead">{{ facture.emetteur.nom }}</span><br />
            {% if(facture.emetteur) %}
            {{ facture.emetteur.adresse }}<br />
            {{ facture.emetteur.codePostal }}, {{ facture.emetteur.commune }}<br />
            {% endif %}
            Tél : {{ facture.emetteur.telephone }}<br />
            Fax: {{ facture.emetteur.fax }}
        </p>
    </div>
    <div class="col-xs-5">
        <div class="text-right">
        <h3>FACTURE N° {{ facture.numeroFacture }}</h3>
        <span>Du {{ facture.dateFacturation  | localizeddate("medium", "none", null, null, "d/MM/YYYY") }}</span>
        </div>
        <br />
        <br />
        <br />
        <br />
        <p>
            {{ facture.destinataire.nom }}<br />
            {{ facture.destinataire.adresseFormatee }}<br />
            {{ facture.destinataire.codePostal }} {{ facture.destinataire.commune }}<br />
        </p>
    </div>
</div>
<br />
<br />
<table class="table table-bordered table-condensed" style="border-bottom: 0 !important; border-right: 0 !important;  border-left: 0 !important;">
    <thead>
        <tr>
            <th class="col-xs-7">Libellé</th>
            <th class="text-center col-xs-1">Qté</th>
            <th class="text-right col-xs-1">Prix&nbsp;unit.&nbsp;HT</th>
            <th class="text-right col-xs-2">Sous-total&nbsp;HT</th>
        </tr>
    </thead>
    <tbody>
    {% for ligne in facture.lignes %}
        <tr>
            <td>
                {% if(ligne.libelle) %}{{ ligne.libelle }}<br />{% endif %}
                {% if ligne.origineContrat %}
                <small>
                	{% if ligne.origineDocument.referenceClient %}
                    <small>Votre Réf CDE {{ ligne.origineDocument.referenceClient }}</small><br />
                    {% endif %}
                    <small>
                    Prestations :
                    <ul class="list-unstyled" style="padding-left: 10px; margin-bottom: 0">
                        <li>- Dératisation de rats</li>
                        <li>- Dératisation de surmulots</li>
                        <li>- Dératisation de souris</li>
                        <li>- Désinsectisation de blattes germaniques</li>
                    </ul>
                    Lieu{% if(ligne.origineDocument.contratPassages | length > 1) %}x{% endif %} d'application{% if(ligne.origineDocument.contratPassages | length > 1) %}s{% endif %} :
                        <ul class="list-unstyled" style="padding-left: 10px;">
                            {% for p in ligne.origineDocument.contratPassages %}
                            <li>- {{ p.etablissement.adresse.adresse }}, {{ p.etablissement.adresse.codePostal }} {{ p.etablissement.adresse.commune }}</li>
                            {% endfor %}
                        </ul>
                    </small>
                </small>
                {% elseif (ligne.description) %}
                <small>{{ ligne.description | nl2br }}</small>
                {% endif %}
            </td>
            <td class="text-center">{{ ligne.quantite }}</td>
            <td class="text-right">{{ ligne.prixUnitaire|number_format(2, ',', ' ')  }} €</td>
            <td class="text-right">{{ ligne.montantHT|number_format(2, ',', ' ')  }} €</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot class="lead">
        <tr>
            <td style="height: 25px; border: 0 !important;"></td>
            <td colspan="4" style="height: 20px; border-left: 0 !important; border-right: 0 !important;"></td>
        </tr>
        <tr>
            <td style="border: 0 !important;"></td>
            <td colspan="2">Total HT</td>
            <td colspan="2" class="text-right">{{ facture.montantHT|number_format(2, ',', ' ')  }} €</td>
        </tr>
        <tr>
            <td style="border: 0 !important;"></td>
            <td colspan="2">TVA {{ (facture.tva * 100)|number_format(2, ',', ' ') }}%</td>
            <td colspan="2" class="text-right">{{ facture.montantTaxe }} €</td>
        </tr>
        <tr>
            <td style="border: 0 !important;"></td>
            <td colspan="2">Total TTC</td>
            <td colspan="2" class="text-right">{{ facture.montantTTC|number_format(2, ',', ' ')  }} €</td>
        </tr>
    </tfoot>
</table>

<small>
<p class="well" style="padding: 5px; margin-bottom: 0;">
<small>
La loi n°2012-387 du 22 mars 2012 (art. L. 441-3 du C.Cce) nous fait l’obligation de vous indiquer :<br />
Date de règlement : voir mention sur facture<br />
Mode de règlement : par chèque ou virement<br />
Application du taux minimum de pénalités de retard : trois fois le taux d’intérêt légal en vigueur (art. L. 441-6 du C.Cce)<br />
Indemnité forfaitaire pour frais de recouvrement : 40 euros (art. D. 441-5 du C.Cce)<br />
Sanction en cas de non respect des modalités ci-dessus :<br />
 - amende de 75 000 euros pour les personnes physiques / 375 000 euros pour les personnes morales.
</small>
</p>
<p class="text-center">
    <small>
    <br />
    {{ parameters.emetteur.infos }}<br />
    {{ parameters.emetteur.banque }}<br />
    {{ parameters.emetteur.virement }}<br />
    Agrément du Ministère de l'Agriculture A. I. F. 00131<br />
    </small>
</p>
</small>

<div style="border-top: 1px dashed #ccc; margin-top: 20px;">
    <div class="row">
        <div class="col-xs-12 text-center">
            <small><small><small>Coupon à joindre avec votre règlement</small></small></small>
        </div>
        <div class="col-xs-6">
            <p>
            Facture n° {{ facture.numeroFacture }} du {{ facture.dateEmission | localizeddate("medium", "none", null, null, "d/MM/YYYY") }} <br />
            Client : {{ facture.destinataire.nom }} ({{ facture.destinataire.codeComptable }})
            </p>
        </div>
        <div class="col-xs-6 text-right">
            <p class="lead">
            Montant dû : {{ facture.montantTTC|number_format(2, ',', ' ')  }} €
            </p>
        </div>
    </div>
</div>
{% endblock %}
