{% extends 'base_pdf.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-6">
        <br />
        <p>
            <span class="lead">{{ facture.emetteur.nom }}</span><br />
            {% if(facture.emetteur) %}
            {{ facture.emetteur.adresse }}<br />
            {{ facture.emetteur.codePostal }}, {{ facture.emetteur.commune }}<br />
            {% endif %}
            Tél : {{ facture.emetteur.telephone }}<br />
            E-mail: {{ facture.emetteur.email }}
        </p>
    </div>
    <div class="col-xs-6">
        <div class="text-right">
        {% if facture.isDevis %}
        <h3>DEVIS {% if(facture.numeroDevis) %}N°&nbsp;{{ facture.numeroDevis }}{% else %}BROUILLON{% endif %}</h3>
        <span>Du {{ facture.dateDevis|date("d/m/Y") }}</span>
        <br /><br />
        {% else %}
        <h3>{%if(facture.isAvoir)%}AVOIR{%else%}FACTURE{%endif%} {% if(facture.numeroFacture) %}N°&nbsp;{{ facture.numeroFacture }}{% else %}BROUILLON{% endif %}</h3>
        <span>Du {{ facture.dateFacturation|date("d/m/Y") }}</span><br />
        {% if (facture.numeroDevis) %}
        À partir du devis n° {{ facture.numeroDevis }}
        {% else %}
        <br /><br />
        {% endif %}
        {% endif %}
        </div>
        <br />
        <br />
        <p>
        	<small>
            {{ facture.destinataire.nomFormatee | nl2br }}<br />
            {{ facture.destinataire.adresseFormatee | nl2br }}<br />
            {{ facture.destinataire.codePostal }} {{ facture.destinataire.commune }}<br />
            </small>
        </p>
    </div>
</div>
<br />
<br />
<br />
<table class="table table-bordered table-condensed" style="border-bottom: 0 !important; border-right: 0 !important;  border-left: 0 !important;">
    <thead>
        <tr>
            <th class="col-xs-7">Libellé</th>
            <th class="text-center col-xs-1">Qté</th>
            <th class="text-right col-xs-1">Prix&nbsp;unit.&nbsp;HT</th>
            <th class="text-right col-xs-2">Sous-total&nbsp;HT</th>
        </tr>
    </thead>
    <tbody>
    {% for ligne in facture.lignes %}
        <tr>
            <td>
                {% if(ligne.libelle) %}{{ ligne.libelle }}<br />{% endif %}
                {% if ligne.referenceClient %}<small><small>Votre Réf CDE : {{ ligne.referenceClient }}</small><br /></small>{% endif %}
                {% if ligne.origineContrat %}
                <small>
                    <small>
                    Prestation{% if ligne.origineDocument.prestations|length > 1 %}s{% endif %} :
                    <ul class="list-unstyled" style="padding-left: 10px; margin-bottom: 0">
                    	{% for prestation in ligne.origineDocument.prestations %}
                        <li>- {{ prestation.nom }}</li>
                        {% endfor %}
                    </ul>
                    Lieu{% if(ligne.origineDocument.contratPassages | length > 1) %}x{% endif %} d'application{% if(ligne.origineDocument.contratPassages | length > 1) %}s{% endif %} :
                        <ul class="list-unstyled" style="padding-left: 10px;">
                            {% for p in ligne.origineDocument.contratPassages %}
                            <li>- {{ p.etablissement.adresse.adresse }}, {{ p.etablissement.adresse.codePostal }} {{ p.etablissement.adresse.commune }}</li>
                            {% endfor %}
                        </ul>
                    </small>
                </small>
                {% elseif (ligne.description) %}
                <small>{{ ligne.description | nl2br }}</small>
                {% endif %}
            </td>
            <td class="text-center">{{ ligne.quantite }}</td>
            <td class="text-right">{{ ligne.prixUnitaire|number_format(2, ',', ' ')  }} €</td>
            <td class="text-right">{{ ligne.montantHT|number_format(2, ',', ' ')  }} €</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot class="lead">
        <tr>
            <td style="height: 20px; border: 0 !important;"></td>
            <td colspan="4" style="height: 20px; border-left: 0 !important; border-right: 0 !important;"></td>
        </tr>
        <tr>
            <td rowspan="3" style="border: 0 !important; padding: 0;">{% if(not facture.isDevis) %}
            <p class="well" style="padding: 5px; margin-bottom: 0; line-height: 10px; width: 92%;">
            <small><small style="font-size: 60%;">
            La loi n°2012-387 du 22 mars 2012 (art. L. 441-3 du C.Cce) nous fait l'obligation de vous indiquer :<br />
            Application du taux minimum de pénalités de retard : trois fois le taux d'intérêt légal en vigueur (art. L. 441-6 du C.Cce)<br />
            Indemnité forfaitaire pour frais de recouvrement : 40 euros (art. D. 441-5 du C.Cce)<br />
            Sanction en cas de non respect des modalités ci-dessus :<br />
             - amende de 75 000 euros pour les personnes physiques / 375 000 euros pour les personnes morales.
         </small></small></p>
            {% endif %}</td>
            <td colspan="2">Total HT</td>
            <td colspan="2" class="text-right">{{ facture.montantHT|number_format(2, ',', ' ')  }} €</td>
        </tr>
        <tr>
            <td colspan="2">TVA {{ (facture.tva * 100)|number_format(2, ',', ' ') }}%</td>
            <td colspan="2" class="text-right">{{ facture.montantTaxe|number_format(2, ',', ' ') }} €</td>
        </tr>
        <tr>
            <td colspan="2">Total TTC</td>
            <td colspan="2" class="text-right">{{ facture.montantTTC|number_format(2, ',', ' ')  }} €</td>
        </tr>
    </tfoot>
</table>

{% if (facture.isDevis) %}
<p>
Condition de réglement : {{ facture.frequencePaiementLibelle }}
</p>
{% endif %}

{% if (facture.description) %}
<p>
    {{ facture.description  | nl2br }}
</p>
{% endif %}

<small>
<p class="text-center">
    <small style="line-height: 12px;">
    <br />
    {{ parameters.emetteur.infos }}<br />
    {{ parameters.emetteur.banque }}<br />
    {{ parameters.emetteur.virement }}<br />
    Agrément du Ministère de l'Agriculture A. I. F. 00131<br />
    </small>
</p>
</small>
{% if(not facture.isDevis) %}
<div style="border-top: 1px dashed #ccc; margin-top: 20px;">
    <div class="row">
        <div class="col-xs-12 text-center">
            <small><small><small>Coupon à joindre avec votre règlement</small></small></small>
        </div>
        <div class="col-xs-6">
            <p>
            Facture n°&nbsp;{{ facture.numeroFacture }} du {{ facture.dateFacturation|date("d/m/Y") }} <br />
            Client : {{ facture.destinataire.raisonSociale }} ({{ facture.destinataire.codeComptable }})
            </p>
        </div>
        <div class="col-xs-6 text-right">
            <p>
            <span class="lead">Montant dû : {{ facture.montantTTC|number_format(2, ',', ' ')  }}&nbsp;€</span><br />
            <small>Date limite de règlement : {{ facture.dateLimitePaiement|date("d/m/Y") }}</small>
            </p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
