<div class="row">
    <div class="col-xs-6">
        <br />
        <p>
            <span class="lead">{{ facture.emetteur.nom }}</span><br />
            {% if(facture.emetteur) %}
            {{ facture.emetteur.adresse }}<br />
            {{ facture.emetteur.codePostal }}, {{ facture.emetteur.commune }}<br />
            {% endif %}
            Tél : {{ facture.emetteur.telephone }}<br />
            E-mail: {{ facture.emetteur.email }}
        </p>
    </div>
    <div class="col-xs-6">
        <div class="text-right">
        <h3>Mise en demeure</h3>
        <br /><br />
        </div>
        <br />
        <br />
        <p>
        	<small>
            {{ facture.destinataire.nomFormatee | nl2br }}<br />
            {{ facture.destinataire.adresseFormatee | nl2br }}<br />
            {{ facture.destinataire.codePostal }} {{ facture.destinataire.commune }}<br />
            </small>
        </p>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-xs-12">
        <br />
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        <h3>Objet : mise en demeure<br/>Lettre recommandée avec accusé de réception</h3>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-xs-12">
    {% for ligne in lignes %}
            {% if ligne.referenceClient is defined and ligne.referenceClient %}<small><small>Votre Réf CDE : {{ ligne.referenceClient }}</small><br /></small>{% endif %}
            {% if ligne.details is defined %}
            <small>
                <small>
                {% for libelle, details in ligne.details %}
                    {% if details is iterable %}
                    {{ libelle }} :
                    <ul class="list-unstyled" style="padding-left: 10px; margin-bottom: 0">
                      {% for detailLigne in details %}
                        <li>- {{ detailLigne }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        {{ details | nl2br }}
                    {% endif %}
                {% endfor %}
                </small>
            </small>
            {% endif %}
          {% endfor %}
      </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        Madame, Monsieur,
      </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        Nous constatons avec regret qu'en dépit de courriers de relance, vous n'avez toujours pas procédé au reglement
      </div>
</div>
<div class="row">
    <div class="col-xs-12">
        de notre facture n° {{ facture.numeroFacture }} du {{ facture.dateEmission | localizeddate("medium", "none", null, null, "d/MM/yyyy")  }} échue le {{ facture.dateLimitePaiement | localizeddate("medium", "none", null, null,  "d/MM/yyyy")  }}.
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        <br />
        En conséquence, nous vous mettons en demeure de nous régler la somme de :
        </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <br />
        <div class="text-center">
          <strong>{{ facture.restantAPayer|number_format(2, ',', ' ') }} €</strong>
        </div>
      </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <br />
        dans un délai de huit jours à réception de la présente.
      </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-12">
        A défaut, notre service contentieux se chargera d'en obtenir le recouvrement par voie de justice.
      </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Nous vous rappelons que le présent courrier fait courrir les intérêts légaux et conventionnels.
      </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-12">
        Nous vous prions de croire, Madame, Monsieur, en l'assurance de notre considération distinguée.
      </div>
</div>
<br /><br />
<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
        Le service Comptabilité Client
        <br/>
        PARIS le {{ "now" | localizeddate("medium", "none", null, null,  "d/MM/yyyy") }}
        </div>
      </div>
</div>
<br /><br />
<small>
<p class="text-center" style="line-height: 13px;">
    <small>
    {{ parameters.emetteur.infos }}<br />
    {{ parameters.emetteur.banque }}<br />
    {{ parameters.emetteur.virement }}<br />
    Agrément du Ministère de l'Agriculture A. I. F. 00131<br />
    </small>
</p>
</small>
<br /><br />
<div style="border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc; margin-top: 15px;">
    <div class="row">
        <div class="col-xs-12 text-center">
            <small><small><small>Coupon à joindre avec votre règlement</small></small></small>
        </div>
        <div class="col-xs-6">
            <p>
            <span class="lead" style="font-size: 15px;">Facture n°&nbsp;{{ facture.numeroFacture }} du {{ facture.dateFacturation|date("d/m/Y") }}</span><br />
            <small>Client : {{ facture.destinataire.raisonSociale }} ({{ facture.destinataire.codeComptable }})</small>
            </p>
        </div>
        <div class="col-xs-6 text-right">
            <p>
            <span class="lead" style="font-size: 15px;">Montant dû : {{ facture.restantAPayer|number_format(2, ',', ' ')  }}&nbsp;€</span><br />
            </p>
        </div>
    </div>
</div>
