{% extends 'base_pdf.html.twig' %}

{% block body %}
{% set facture = null %}

{% for facturesPages in facturesForPdf %}
  {% for facturesObj in facturesPages %}
    {% if facturesObj.facture %}
      {% set facture = facturesObj.facture %}
    {% endif %}
  {% endfor %}
{% endfor %}
<div class="row">
    <div class="col-xs-6">
        <br />
        <p>
            <span class="lead">{{ facture.emetteur.nom }}</span><br />
            {% if(facture.emetteur) %}
            {{ facture.emetteur.adresse }}<br />
            {{ facture.emetteur.codePostal }}, {{ facture.emetteur.commune }}<br />
            {% endif %}
            Tél : {{ facture.emetteur.telephone }}<br />
            {% if(facture.emetteur.email) %}
            E-mail: {{ facture.emetteur.email }}
            {% endif %}
        </p>
    </div>
    <div class="col-xs-6">
        <br />
        <br />
        <p>
        	<small>
            {{ facture.destinataire.nomFormatee | nl2br }}<br />
            {{ facture.destinataire.adresseFormatee | nl2br }}<br />
            {{ facture.destinataire.codePostal }} {{ facture.destinataire.commune }}<br />
            </small>
        </p>
    </div>
</div>
<br/>
<h4>Export des Factures de la société {{ societe.raisonSociale }} du {{ dateDebut | date('d/m/Y') }} au {{ dateFin | date('d/m/Y') }}</h4>


{% for facturePages in facturesForPdf %}
<table class="table table-bordered table-condensed" style="border-bottom: 0 !important; border-right: 0 !important;  border-left: 0 !important;">
    <thead>
        <tr>
            <th class="col-xs-2">Date</th>
            <th class="text-center col-xs-1">Pièce</th>
            <th class="text-right col-xs-2">Type de Règlement</th>
            <th class="text-right col-xs-1">Echéance</th>
            <th class="text-right col-xs-2">Débit</th>
            <th class="text-right col-xs-2">Crédit</th>
            <th class="text-right col-xs-2">Mode de réglement</th>
        </tr>
    </thead>
    <tbody>
    {% for factureRow in facturePages %}
        {% if factureRow.facture %}
         	<tr style="page-break-inside: avoid;" class="active">
            {% for field in factureRow.row %}
              <td class="{% if loop.index != 1 %}text-right{% endif %}">
								{{field}}
							</span>
						</td>
            {% endfor %}
          </tr>
        {% endif %}
      </tbody>
    {% endfor %}
    {% if loop.last %}
    <tfoot class="lead">
    {% for factureRow in facturePages %}
      {% if loop.last or loop.index == loop.length - 1 %}
            <tr>
                <td style="border: 0 !important; padding: 0;"></td>
                <td style="border: 0 !important; padding: 0;"></td>
                {% if not loop.last %}
                  <td style="border: 0 !important; padding: 0;"></td>
                {% endif %}

                <td {% if loop.last %} colspan="2"  {% endif %} style="border: 0 !important; padding: 0;" class="text-right">{{ factureRow.row.3 }}</td>
                <td style="border: 0 !important; padding: 0;" class="text-right">{{ factureRow.row.4|number_format(2, ',', ' ') }} €</td>
                <td style="border: 0 !important; padding: 0;" class="text-right">{% if factureRow.row.5 %}{{ factureRow.row.5|number_format(2, ',', ' ') }} €{% endif %}</td>
                <td style="border: 0 !important; padding: 0;"></td>
            </tr>
      {% endif %}
   {% endfor %}
    </tfoot>
{% endif %}
 </table>
 {% if not loop.last %}
     <div style="page-break-after: always;"></div>
 {% endif %}
  {% endfor %}

<table class="table table-bordered table-condensed" style="border: 0 !important;">
    <tbody class="lead">
      <tr style="page-break-inside: avoid;" >
        <td style="border: 0 !important; padding: 0;">
         <p class="well" style="padding: 5px; margin-bottom: 0; line-height: 10px; width: 92%;">
         <small>
           <small style="font-size: 60%;">
         La loi n°2012-387 du 22 mars 2012 (art. L. 441-3 du C.Cce) nous fait l'obligation de vous indiquer :<br />
         Application du taux minimum de pénalités de retard : trois fois le taux d'intérêt légal en vigueur (art. L. 441-6 du C.Cce)<br />
         Indemnité forfaitaire pour frais de recouvrement : 40 euros (art. D. 441-5 du C.Cce)<br />
         Sanction en cas de non respect des modalités ci-dessus :<br />
          - amende de 75 000 euros pour les personnes physiques / 375 000 euros pour les personnes morales.
           </small>
         </small>
         </p>
       </td>
     </tr>
     <tr style="page-break-inside: avoid;" >
       <td style="border: 0 !important; padding: 0;">
         <small>
         <p class="text-center" style="line-height: 13px;">
             <small>
            {{ parameters.emetteur.infos }}<br />
            {{ parameters.emetteur.banque }}<br />
            {{ parameters.emetteur.virement }}<br />
    		Agrément du Ministère de l'Agriculture A. I. F. {{ parameters.emetteur.numero_agrement }}<br />
             </small>
         </p>
         </small>
       </td>
     </tr>
   </tbody>
 </table>
{% endblock %}
