{% set _menu_active = 'paiementsRetard' %}
{% extends 'base.html.twig' %}

{% block title %}Passages en erreurs{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('factures_retard') }}">Factures en retard de paiements</a></li>
	</ol>

	<div class="row">
	  <div class="col-xs-12">
	    <h3>{{ facturesEnRetard | length }} factures en retard de paiements </h3>
	  </div>
	</div>
	{{ form_start(formFacturesARelancer) }}
	<br/><br/>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Critères factures en retard de paiements</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-6" id="searchable" data-type="societe" data-url="{{ path('recherche_societe')  }}" data-target="0">
							{{ form_label(formFacturesARelancer.societe) }}
							{{ form_errors(formFacturesARelancer.societe) }}
							{{ form_widget(formFacturesARelancer.societe) }}
							</div>
							<div class="col-xs-6">
									{{ form_label(formFacturesARelancer.nbRelances) }}
								{{ form_errors(formFacturesARelancer.nbRelances) }}
								{{ form_widget(formFacturesARelancer.nbRelances) }}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
							{{ form_label(formFacturesARelancer.dateFactureBasse) }}
							{{ form_errors(formFacturesARelancer.dateFactureBasse) }}
							{{ form_widget(formFacturesARelancer.dateFactureBasse) }}
							</div>
							<div class="col-xs-6">
								{{ form_label(formFacturesARelancer.dateFactureHaute) }}
							{{ form_errors(formFacturesARelancer.dateFactureHaute) }}
							{{ form_widget(formFacturesARelancer.dateFactureHaute) }}
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-xs-12 text-right">
									<a class="btn btn-default" href="{{ path('factures_retard') }}"><span class="glyphicon glyphicon-repeat"></span>&nbsp;Ré-initialiser</a>&nbsp;&nbsp;
								{{ form_widget(formFacturesARelancer.save) }}
							</div>
					</div>
			</div>
		</div>
</div>
</div>
{{ form_end(formFacturesARelancer) }}


{{ form_start(formRelance) }}

<div class="row">
    <div class="col-xs-3 pull-right">
      <div class="input-group">
          <span class="input-group-btn">
            {{ form_widget(formRelance.relancer,  {'attr': {'class': 'btn-loading btn btn-success pull-right', 'data-loading-text': "Relances en cours de génération..."}}) }}
            </span>
      </div>
    </div>
</div>
<br/>
  <div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-xs-2">Date</th>
              <th class="col-xs-3">Client</th>
              <th class="col-xs-3">Facture</th>
              <th class="col-xs-1">Montant TTC</th>
              <th class="col-xs-1">Montant Payé</th>
              <th class="col-xs-1">Relance(s)</th>
              <th class="col-xs-1">Relance</th>
            </tr>
          </thead>
          <tbody>
            {% for factureEnRetard in facturesEnRetard %}
            <tr style="{{ factureEnRetard.getRelanceColor }}" >
              {{factureEnRetard.isDevis }}
              <td><small>{{ factureEnRetard.dateFacturation | localizeddate("medium", "none", null, null, "d MMM YYYY") | capitalize }}</small></td>
              <td>
								<small><a href="{{ path('facture_societe', {'id': factureEnRetard.societe.id }) }}">{{ factureEnRetard.societe.raisonSociale }}</a></small>
								{% if factureEnRetard.societe.contactCoordonnee.email %}
									<small><a href="mailto:{{ factureEnRetard.societe.contactCoordonnee.email }}">{{ factureEnRetard.societe.contactCoordonnee.email }}</a></small>
								{% endif %}
							</td>
              <td>
								<a href="{{ path('facture_pdf', {'id': factureEnRetard.id })}}"><span class="glyphicon glyphicon-file"></span>&nbsp;Facture n° {{ factureEnRetard.numeroFacture }}</a>
							</td>
              <td class="text-right">{{ "%0.2f" | format(factureEnRetard.montantTTC)  }}&nbsp;€</td>
              <td class="text-right">{{ "%0.2f" | format(factureEnRetard.montantPaye)  }}&nbsp;€</td>
              <td class="text-left">
								{% if factureEnRetard.has1ereRelance %}
										<a data-toggle="tooltip" title="1ère relance" href="{{ path('facture_relance_pdf', {'id': factureEnRetard.id , 'numeroRelance': 1 })}}"><span class="glyphicon glyphicon-file text-info"></span></a>&nbsp;
								{% endif %}
								{% if factureEnRetard.has2ndRelance %}
									<a data-toggle="tooltip" title="2nd relance" href="{{ path('facture_relance_pdf', {'id': factureEnRetard.id , 'numeroRelance': 2 })}}"><span class="glyphicon glyphicon-file text-warning"></span></a>&nbsp;
								{% endif %}
								{% if factureEnRetard.has3emeRelance %}
									<a data-toggle="tooltip" title="mise en demeure avec AR" href="{{ path('facture_relance_pdf', {'id': factureEnRetard.id , 'numeroRelance': 3 })}}"><span class="glyphicon glyphicon-file text-danger"></span></a>&nbsp;
								{% endif %}
							</td>
              <td class="text-center">
                    {% set idCheckbox = factureEnRetard.id %}
                    {% set fieldFrom = attribute(formRelance,idCheckbox) %}
                    {{ form_widget(fieldFrom) }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
      {{ form_end(formRelance) }}
{% endblock %}
