{% set _menu_active = 'facture' %}
{% extends 'base.html.twig' %}

{% block title %}Factures {{ societe.raisonSociale }}{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('contrat') }}">Facture</a></li>
        <li><a href="{{ path('contrats_societe',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
    </ol>

    {{ include('societe/choixForm.html.twig', {'urlTarget': path('facture_societe', {'id': '_id_'})}) }}

    <h3>
        Mouvements à facturer
        <div class="col-xs-8 pull-right text-right">
            <form action="{{ path('facture_societe_generation', { 'id': societe.id })}}" method="GET" class="form-inline">
                {% if(mouvements | length > 0) %}
                <span>{{ mouvements | length }} facture{% if(mouvements | length > 1) %}s{% endif %} à éditer :</span>
                {% endif %}
                <div class="form-group">
                    <div class="input-group">
                        <input {% if(mouvements | length == 0) %}disabled="disabled"{% endif %} data-provide="datepicker" class="form-control datepicker" type="text" value="{{ "now"|date("d/m/Y") }}" data-date-format="dd/mm/yyyy" required="required" name="dateFacturation" />
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                <button {% if(mouvements | length == 0) %}disabled="disabled"{% endif %} class="btn btn-primary btn" type="submit">Facturer</button>
            </form>
        </div>
    </h3>
    {% if(mouvements | length > 0) %}
        <table style="margin-top: 20px;" class="table table-bordered">
            <thead>
                <tr>
                    <th>Document d'origine</th>
                    <th>Intitulé</th>
                    <th class="text-right">Montant HT</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for mouvement in mouvements %}
                    <tr>
                        <td><a href="{{ path('contrat_visualisation', {'id': mouvement.document.id })}}">Contrat n° {{ mouvement.document.numeroArchive }}</a></td>
                        <td>{{ mouvement.libelle }}</td>
                        <td class="text-right">{{ "%0.2f" | format(mouvement.prixUnitaire)  }} €</td>
                        <td class="text-center"><a onclick="return confirm('Êtes vous sûr de vouloir supprimer ce mouvement de facture ?')" href="{{ path('facture_defacturer', {'id': mouvement.document.id, 'identifiant': mouvement.identifiant}) }}"><span class="text-danger glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-muted"><i>Aucun mouvement</i></p>
    {% endif %}

    <h3>Liste des Factures et Devis <div class="btn-group pull-right"><a href="{{ path('facture_creation', { 'societe': societe.id, 'type': 'devis' })}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Créer un devis</a><a href="{{ path('facture_creation', { 'societe': societe.id, 'type': 'facture' })}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Créer une facture</a></div></h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-xs-2">Date</th>
                <th class="col-xs-2">Document</th>
                <th class="col-xs-4">Contenu</th>
                <th class="col-xs-1 text-right">Montant&nbsp;TTC</th>
                <th class="col-xs-1 text-right">Montant&nbsp;payé</th>
                <th class="col-xs-2 text-right"></th>
            </tr>
        </thead>
        <tbody>
            {% for facture in factures %}
                <tr class="{% if(facture.paye or facture.isAvoir) %} success
                    {% elseif(facture.isRedressee()) %} warning
                    {% elseif(facture.isEnRetardPaiement()) %} danger {% endif %}">
                            <td>{{ ((facture.isDevis) ? facture.dateDevis : facture.dateFacturation) | localizeddate("medium", "none", null, null, "d MMMM YYYY") }}</td>
                            <td><a href="{{ path('facture_pdf', {'id': facture.id })}}"><span class="glyphicon glyphicon-file"></span> {% if facture.isDevis %}Devis n° {{ facture.numeroDevis }}{% elseif(facture.isAvoir) %}Avoir n° {{ facture.numeroFacture }}{% else %}Facture n° {{ facture.numeroFacture }}{% endif %}</a></td>
                            <td>
                                <a data-toggle="tooltip" title="{% for ligne in facture.lignes %}{{ (ligne.libelle) ? ligne.libelle~"\n" : "Aucun" }}{% endfor %}" href="{{ path('facture_pdf', {'id': facture.id })}}">{{ facture.lignes | length}} ligne(s)</a>
                                {% for origine in facture.origines %}
                                    - <a href="{{ path('contrat_visualisation', {'id': origine.id })}}">Contrat n° {{ origine.numeroArchive }}</a>
                                {% endfor %}
                            </td>
                            <td class="text-right">{{ "%0.2f" | format(facture.montantTTC)  }}&nbsp;€</td>
                            <td class="text-right {% if facture.isDevis %}active{% endif %}">
                            {% if facture.isFacture %}
                              {% if(facture.isAvoir) %}<span class="text-muted">-</span>
                              {% elseif(facture.isRedressee) %}
                              <span data-toggle="tooltip" title="{{ facture.avoir }}" class="pull-left label label-xs label-warning">R</span>
                              &nbsp;<span class="text-muted">{{ "%0.2f" | format(facture.montantPaye)  }}&nbsp;€</span>
                              {% else %}<span class="text-muted">{{ "%0.2f" | format(facture.montantPaye)  }}&nbsp;€</span>{% endif %}
                            {% endif %}
                          </td>
                            <td class="text-left">
                                <div class="btn-group">
                                    {% if facture.isDevis %}
                                        <a href="{{ path('facture_creation', { 'societe': societe.id, 'type': 'devis', 'id': facture.id })}}" class="btn btn-default btn-xs">Modifier</a>
                                        <a href="{{ path('facture_creation', { 'societe': societe.id, 'type': 'facture', 'id': facture.id })}}" class="btn btn-primary btn-xs">Créer la facture</a>
                                    {% else %}
                                        <!-- <a href="" class="btn btn-default btn-xs">&nbsp;<span class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Regénerer"></span></a> -->
                                            {% if(facture.numeroFacture and facture.isEditable) %}
                                                <a href="{{ path('facture_creation', { 'societe': societe.id, 'type': 'facture', 'id': facture.id })}}" class="btn btn-default btn-xs">Modifier</a>
                                            {% endif %}
                                            {% if(not facture.isAvoir and not facture.isRedressee) %}
                                            <a onclick="return confirm('Êtes vous sûr de vouloir faire un avoir sur cette facture ?')"  href="{{ path('facture_avoir', { 'id': societe.id, 'type': 'facture', 'factureId': facture.id })}}" class="btn btn-default btn-xs">Avoir</a>
                                            {% if(not facture.iscloture) %}
                                                <a onclick="return confirm('Êtes vous sûr de vouloir cloturer cette facture ?')" href="{{ path('facture_cloturer', {'id': facture.societe.id, 'factureId': facture.id }) }}" class="btn btn-default btn-xs">Cloturer</a>
                                            {% endif %}
                                            {% if(facture.iscloture and facture.isDecloturable) %}
                                                <a onclick="return confirm('Êtes vous sûr de vouloir décloturer cette facture ?')" href="{{ path('facture_decloturer', {'id': facture.societe.id, 'factureId': facture.id }) }}" class="btn btn-default btn-xs">Déclot.</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% endblock %}
