<div class="row" id="searchable" data-type="societe" data-url="{{ path('recherche_societe')  }}" data-target="{{ urlTarget }}">
    <div class="col-xs-12">
        <h3 style="margin-top: 10px;">Rechercher par société</h3>
        {{ form_start(form, {'attr': { 'novalidate': 'novalidate', 'class': 'form-horizontal' } }) }}
        <div class="form-group">
            <div class="col-xs-12">
                {{ form_errors(form.societes) }}
                {{ form_widget(form.societes, {'attr': {'autofocus': (autofocus is defined and autofocus) ? "autofocus" : false}}) }}
                {{ form_widget(form.actif) }}
            </div>
        </div>
        {{form_end(form)}}
    </div>
</div>
