{% set _menu_active = 'societe' %}
{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <h1>Création Société</h1>
        {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Informations</strong></div>
            <div class="panel-body col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.type) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.raisonSociale) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        {{ form_row(form.codeComptable) }}
                    </div>
                    <div class="col-xs-5">
                        {{ form_row(form.provenance) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.commentaire) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.tags) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                    	<div class="col-xs-6" style="padding-top: 15px;">
                    		<label>Actif :</label>
                    	</div>
                    	<div class="text-right col-xs-6">
                        	{{ form_row(form.actif) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Adresse</strong></div>
            <div class="panel-body col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.adresse.adresse) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        {{ form_row(form.adresse.codePostal) }}
                    </div>
                    <div class="col-xs-7">
                        {{ form_row(form.adresse.commune) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Contact</strong></div>
            <div class="panel-body col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form.contactCoordonnee.telephoneFixe) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.contactCoordonnee.email) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form.contactCoordonnee.telephoneMobile) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.contactCoordonnee.siteInternet) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form.contactCoordonnee.fax) }}
                    </div>
                </div>
            </div>
        </div>
        {% if isNew %}
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Options</strong></div>
            <div class="panel-body col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.generer) }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
        	<div class="col-xs-12">
            	{{ form_widget(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}