{% set _menu_active = 'societe' %}
{% extends 'base.html.twig' %}
{% block body %}
<div class="page-title">
	<span class="title">Nouvelle société</span>
	<div class="description">Données relatives aux éléments de facturation.</div>
</div>

{{ form_start(form) }}

<div class="row">
	<div class="col-xs-12">
		
		<div class="card">
			<div class="card-header">
				<div class="card-title"><div class="title">Informations</div></div>
			</div>
			<div class="card-body">
				<div class="form-group">
                        {{ form_row(form.raisonSociale) }}
                 </div>
                 <div class="form-group">
                        {{ form_row(form.provenance) }}
                 </div>
                 <div class="form-group">
                        {{ form_row(form.codeComptable) }}
                 </div>
			</div>
		</div>
		
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
	
		<div class="card">
			<div class="card-header">
				<div class="card-title"><div class="title">Adresse</div></div>
			</div>
			<div class="card-body">
				<div class="form-group">
                        {{ form_row(form.adresse.adresse) }}
                 </div>
                 <div class="form-group">
                        {{ form_row(form.adresse.codePostal) }}
                 </div>
                 <div class="form-group">
                        {{ form_row(form.adresse.commune) }}
                </div>
			</div>
		</div>
		
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
	
		<div class="card">
			<div class="card-header">
				<div class="card-title"><div class="title">Contact</div></div>
			</div>
			<div class="card-body">
				<div class="form-group">
                        {{ form_row(form.contactCoordonnee.telephoneFixe) }}
                 </div>
                 <div class="form-group">
                        {{ form_row(form.contactCoordonnee.telephoneMobile) }}
                 </div>
                 <div class="form-group">
                        {{ form_row(form.contactCoordonnee.fax) }}
                 </div>
                 <div class="form-group">
                        {{ form_row(form.contactCoordonnee.email) }}
                 </div>
                 <div class="form-group">
                        {{ form_row(form.contactCoordonnee.siteInternet) }}
                </div>
			</div>
		</div>
		
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
	
		<div class="card">
			<div class="card-header">
				<div class="card-title"><div class="title">Complément</div></div>
			</div>
			<div class="card-body">
				<div class="form-group">
                        {{ form_row(form.commentaire) }}
                 </div>
                 <div class="form-group">
                        {{ form_row(form.tags) }}
                </div>
			</div>
		</div>

		
	</div>
</div>




        
            <div class="row">
        		<div class="col-xs-12">
            		{{ form_widget(form.save) }}
            	</div>
            </div>
            
		{{ form_end(form) }}
{% endblock %}