{% set _menu_active = 'societe' %}
{% extends 'base.html.twig' %}
{% block title %}{% if societe.id %}Modification {{ societe.raisonSociale }}{% else %}Création société{% endif %}{% endblock title %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('societe') }}">Societe</a></li>
        {% if societe.id %}
        <li><a href="{{ path('societe_visualisation',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
        {% else %}
        <li><small>Nouveau</small></li>
        {% endif %}
    </ol>

    <div id="wrapper">
        <h1>{% if isNew %}Création Société{% else %}Modification {{ societe.raisonSociale }}{% endif %}</h1>
        {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Informations</strong><div class="pull-right">{{ form_row(form.actif) }}</div></div>
            <div class="panel-body col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.type) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.raisonSociale) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        {{ form_row(form.codeComptable) }}
                    </div>
                    <div class="col-xs-5">
                        {{ form_row(form.provenance) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.commentaire) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.tags) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.frequencePaiement) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Adresse</strong></div>
            <div class="panel-body col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.adresse.adresse) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        {{ form_row(form.adresse.codePostal) }}
                    </div>
                    <div class="col-xs-7">
                        {{ form_row(form.adresse.commune) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Sepa</strong><div class="pull-right">{{ form_row(form.sepa.actif) }}</div></div>
            <div class="panel-body col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_row(form.sepa.nomBancaire) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form.sepa.bic) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.sepa.iban) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
	    	                {{ form_errors(form.sepa.date) }}
	                        {{ form_label(form.sepa.date, "Date SEPA :", {'label_attr': {'class': 'control-label'}}) }}
	        	            <div class="input-group">
	        	                {{ form_widget(form.sepa.date) }}
	        	            	<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
	        	        	</div>
	    	            </div>
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.sepa.rum,{attr: { "readonly" : "readonly"}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Contact</strong></div>
            <div class="panel-body col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form.contactCoordonnee.telephoneFixe) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.contactCoordonnee.email) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form.contactCoordonnee.telephoneMobile) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.contactCoordonnee.siteInternet) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form.contactCoordonnee.fax) }}
                    </div>
                    <div class="col-xs-6">
                    	{{ form_row(form.contactCoordonnee.libelle) }}
                    </div>
                </div>
            </div>
        </div>
        {% if isNew %}
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Options</strong></div>
                <div class="panel-body col-xs-offset-2">
                    <div class="row">
                        <div class="col-xs-10">
                            {{ form_row(form.generer) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                {{ form_widget(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
