{% set _menu_active = 'societe' %}
{% block title %}{{ societe.raisonSociale }}{% endblock title %}
{% extends 'base.html.twig' %}
{% block body %}
 <ol class="breadcrumb">
        <li><a href="{{ path('societe') }}">Societe</a></li>
        <li><a href="{{ path('societe_visualisation',{ 'id' : societe.id }) }}">&nbsp;{{ societe.raisonSociale }}&nbsp;<small>{{societe.adresse.intitule }}</small></a></li>
    </ol>

     {{ include('societe/choixForm.html.twig', {'form': form}) }}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="list-group">
                    <div class="list-group-item">
                        <h3 style="margin-top:0; margin-bottom: 0;">
                        	<i class="mdi mdi-business mdi-lg"></i>
                            {{  societe.raisonSociale }}
                        	{% if not societe.actif %} <small><label class="label label-xs label-danger">SUSPENDU</label></small>{% endif %}
                            <a class="btn btn-sm btn-default pull-right" href="{{ path('societe_modification', {'id': societe.id}) }}">Modifier</a>
                            <small class="pull-right" style="padding-top: 5px; padding-right: 10px;">
                                        <label class="label label-xs label-info ">{{  nbContratsSociete }} contrat(s)</label>
                            </small>&nbsp;
                        </h3>
                    </div>
                    <div class="list-group-item text-center">
                        <span class="lead" style="font-size: 19px;">
                            {{ societe.adresse.adresseFormatee | nl2br }} <br />
                            {{ societe.adresse.codePostal }} {{ societe.adresse.commune }}
                        </span>
                    </div>
                    <div class="list-group-item">
                        {% if (societe.contactCoordonnee.telephoneFixe or societe.contactCoordonnee.telephoneMobile or societe.contactCoordonnee.fax or societe.contactCoordonnee.email or societe.contactCoordonnee.siteInternet)  %}
                            {% if (societe.contactCoordonnee.telephoneFixe is defined and societe.contactCoordonnee.telephoneFixe)%}
                                <i class="glyphicon glyphicon-earphone"></i>&nbsp;{{ societe.contactCoordonnee.telephoneFixe }}&nbsp;
                            {%endif%}
                            {% if (societe.contactCoordonnee.telephoneMobile is defined and societe.contactCoordonnee.telephoneMobile)%}
                                <i class="glyphicon glyphicon-phone"></i>&nbsp;{{ societe.contactCoordonnee.telephoneMobile }}&nbsp;
                            {% endif %}
                            {% if (societe.contactCoordonnee.fax is defined and societe.contactCoordonnee.fax)%}
                                <i class="glyphicon glyphicon-print"></i>&nbsp;{{ societe.contactCoordonnee.fax }}&nbsp;
                            {% endif %}
                            {% if(societe.contactCoordonnee.email is defined and societe.contactCoordonnee.email)%}
                                <i class="glyphicon glyphicon-envelope"></i>&nbsp;{{ societe.contactCoordonnee.email }}&nbsp;
                            {% endif %}
                            {% if(societe.contactCoordonnee.siteInternet is defined and societe.contactCoordonnee.siteInternet)%}
                                <i class="glyphicon glyphicon-globe"></i>&nbsp;{{ societe.contactCoordonnee.siteInternet }}&nbsp;
                            {% endif %}
                        {% else %}
                            <em class="text-muted">Aucune information de contact définie</em>
                        {% endif %}
                    </div>

                    <div class="list-group-item">
                        <ul class="list-inline" style="margin-bottom: 0">
                            {% if(societe.provenance) %}
                                <li>Provenance : {{ societe.provenance }}</li>
                                {% endif %}
                            <li>Code comptable : {{ societe.codeComptable }}</li>
                        </ul>
                    </div>
                    {% if(societe.tags | length > 0) %}
                        <div class="list-group-item">
                            {% for tag in societe.tags %}
                                <span type="button" class="btn btn-info btn-xs">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if(societe.commentaire) %}
                        <div class="list-group-item">
                            {{ societe.commentaire }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <h3 style="margin-top: 0;"><a class="btn btn-sm btn-default pull-right" href="{{ path('etablissement_modification', {'societe': societe.id}) }}"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span>&nbsp;Ajouter un établissement</a>Etablissements <span class="badge">{{ societe.getEtablissementsByStatut(true) | length }}</span></h3>

    {{ include('etablissement/list.html.twig', {'etablissements': societe.getEtablissementsByStatut(true)}) }}

    <h3 style="margin-top: 0;"><a class="btn btn-sm btn-default pull-right" href="{{ path('compte_modification', {'societe': societe.id}) }}"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span>&nbsp;Ajouter un interlocuteur</a>Interlocuteurs <span class="badge">{{ societe.getComptesByStatut(true) | length }}</span></h3>

    {{ include('compte/list.html.twig', {'comptes': societe.getComptesByStatut(true)}) }}

    {% if (societe.getEtablissementsByStatut(false) | length > 0)%}
    <h3 style="margin-top: 0;">Etablissements inactifs <span class="badge">{{ societe.getEtablissementsByStatut(false) | length }}</span></h3>
    <div style="opacity: 0.4;">
    {{ include('etablissement/list.html.twig', {'etablissements': societe.getEtablissementsByStatut(false)}) }}
    </div>
    {% endif %}
    {% if (societe.getComptesByStatut(false) | length > 0) %}
    <h3 style="margin-top: 0;">Interlocuteurs inactifs <span class="badge">{{ societe.getComptesByStatut(false) | length }}</span></h3>
    <div style="opacity: 0.4;">
    {{ include('compte/list.html.twig', {'comptes': societe.getComptesByStatut(false)}) }}
    </div>
    {% endif %}

{% endblock %}
