{% set _menu_active = 'societe' %}
{% extends 'base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-xs-12">

            <div class="panel panel-default">

                <div class="list-group">
                    <div class="list-group-item">
                        <h3 style="margin-top:0; margin-bottom: 0;">{{  societe.raisonSociale }}<a class="btn btn-sm btn-default pull-right" href="{{ path('societe_modification', {'id': societe.id}) }}"><strong><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>&nbsp;Modifier</strong></a></h3>
                    </div>
                    <div class="list-group-item text-center">
                        <span class="lead" style="font-size: 19px;">
                            {{ societe.adresse.adresse }} <br />
                            {{ societe.adresse.codePostal }} {{ societe.adresse.commune }}
                        </span>
                    </div>
                    <div class="list-group-item">
                            {% if (societe.contactCoordonnee.telephoneFixe is defined and societe.contactCoordonnee.telephoneFixe)%}
                                <i class="glyphicon glyphicon-earphone"></i>&nbsp;{{ societe.contactCoordonnee.telephoneFixe }}&nbsp;
                            {%endif%}
                            {% if (societe.contactCoordonnee.telephoneMobile is defined and societe.contactCoordonnee.telephoneMobile)%}
                                <i class="glyphicon glyphicon-phone"></i>&nbsp;{{ societe.contactCoordonnee.telephoneMobile }}&nbsp;
                            {% endif %}
                            {% if (societe.contactCoordonnee.fax is defined and societe.contactCoordonnee.fax)%}
                                <i class="glyphicon glyphicon-print"></i>&nbsp;{{ societe.contactCoordonnee.fax }}&nbsp;
                            {% endif %}
                            {% if(societe.contactCoordonnee.email is defined and societe.contactCoordonnee.email)%}
                                <i class="glyphicon glyphicon-envelope"></i>&nbsp;{{ societe.contactCoordonnee.email }}&nbsp;
                            {% endif %}
                            {% if(societe.contactCoordonnee.siteInternet is defined and societe.contactCoordonnee.siteInternet)%}
                                <i class="glyphicon glyphicon-globe"></i>&nbsp;{{ societe.contactCoordonnee.siteInternet }}&nbsp;
                            {% endif %}
                    </div>

                    <div class="list-group-item">
                        <ul class="list-inline" style="margin-bottom: 0">
                        {% if(societe.provenance) %}
                        <li>Provenance : {{ societe.provenance }}</li>
                        {% endif %}
                        <li>Code comptable : {{ societe.codeComptable }}</li>
                        </ul>
                    </div>
                    {% if(societe.tags | length > 0) %}
                    <div class="list-group-item">
                        {% for tag in societe.tags %}
                            <span type="button" class="btn btn-info btn-xs">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if(societe.commentaire) %}
                    <div class="list-group-item">
                            {{ societe.commentaire }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for etablissement in societe.etablissements %}
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="list-group">
                        <div class="list-group-item">
                            <a class="btn btn-xs btn-default pull-right" href="{{ path('etablissement_modification', {'societe': societe.id, 'id': etablissement.id }) }}"><strong><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> Modifier</strong></a>
                            <h3 style="margin-top: 0;margin-bottom: 0;"><i class="mdi mdi-{{ etablissement.icon }} mdi-lg"></i> {{ etablissement.nom }}</h3>
                        </div>
                        <div class="list-group-item text-center">
                            {% if (not etablissement.sameAdresseThanSociete) %}
                            {{ etablissement.adresse.adresse }} <br />
                            {{ etablissement.adresse.codePostal }} {{ etablissement.adresse.commune }}
                            {% else %}
                                <em class="text-muted">Même adresse que la société</em>
                            {% endif %}
                        </div>
                        <div class="row">
                            {% if(not etablissement.sameContactCoordonneeThanSociete) %}
                            <div class="col-xs-12">
                                {%if(etablissement.contactCoordonnee.telephoneFixe is defined and etablissement.contactCoordonnee.telephoneFixe)%}
                                    <i class="glyphicon glyphicon-earphone"></i>&nbsp;{{ etablissement.contactCoordonnee.telephoneFixe }}&nbsp;
                                {%endif%}
                                {%if(etablissement.contactCoordonnee.telephoneMobile is defined and etablissement.contactCoordonnee.telephoneMobile)%}
                                    <i class="glyphicon glyphicon-phone"></i>&nbsp;{{ etablissement.contactCoordonnee.telephoneMobile }}&nbsp;
                                {%endif%}
                                {%if(etablissement.contactCoordonnee.fax is defined and etablissement.contactCoordonnee.fax)%}
                                    <i class="glyphicon glyphicon-print"></i>&nbsp;{{ etablissement.contactCoordonnee.fax }}&nbsp;
                                {%endif%}&nbsp;
                            </div>
                            {% else %}
                            <div class="col-xs-12"><em class="text-muted">Même contact que la société</em></div>
                            {% endif %}
                        </div>
                        {% if(not etablissement.sameContactCoordonneeThanSociete) %}
                        <div class="row">
                            <div class="col-xs-12">
                                {%if(etablissement.contactCoordonnee.email is defined and etablissement.contactCoordonnee.email)%}
                                    <i class="glyphicon glyphicon-envelope"></i>&nbsp;{{ etablissement.contactCoordonnee.email }}&nbsp;
                                {%endif%}
                                {%if(etablissement.contactCoordonnee.siteInternet is defined and etablissement.contactCoordonnee.siteInternet)%}
                                    <i class="glyphicon glyphicon-globe"></i>&nbsp;{{ etablissement.contactCoordonnee.siteInternet }}&nbsp;
                                {%endif%}&nbsp;
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="btn btn-sm btn-default pull-right" href="{{ path('etablissement_modification', {'societe': societe.id}) }}"><strong><span aria-hidden="true" class="glyphicon glyphicon-plus"></span>&nbsp;Ajouter un établissement</strong></a>
{% endblock %}
