{% set _menu_active = 'paiements' %}
{% extends 'base.html.twig' %}
{% block title %}Liste des 10 dernières campagnes de paiements{% endblock title %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('paiements_liste') }}">Paiements</a></li>

    </ol>
    <div class="btn-group">
      {% for exportForm in exportForms %}
        <a data-toggle="modal" data-target="#datechoice{{ exportForm.type }}" class="btn btn-sm btn-default" ><span class="{{exportForm.picto}}"></span> {{exportForm.libelle}}</a>
      {% endfor %}
    </div>

    <a class="btn btn-sm btn-default pull-right" href="{{ path('paiements_nouveau') }}" style="margin-bottom: 10px;"><strong><span aria-hidden="true" class="glyphicon glyphicon-plus"></span>&nbsp;Créer une nouvelle saisie</strong></a>
    <br/>
    <div id="wrapper">
        <h1>Liste des 10 dernières campagnes de paiements</h1>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-xs-2">Date</th>
                    <th class="col-xs-1 text-right">Nombre</th>
                    <th class="col-xs-7">Societes</th>
                    <th class="col-xs-2 text-right">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for paiements in paiementsDocs %}
                    <tr class="" {% if(paiements.isImprime) %} style="opacity:0.7" {% endif %}>
                        <th class="col-xs-2">
                          {% if(not paiements.isImprime) %}<a href="{{ path('paiements_modification', {'id': paiements.id })}}">{% endif %}
                            {{ paiements.dateCreation | localizeddate("medium", "none", null, null, "d MMM YYYY") }}
                          {% if(not paiements.isImprime) %}</a>{% endif %}
                          {% if(paiements.isImprime) %}
                          <br/>
                          <br/>
                          <a class="btn btn-sm btn-default" href="{{ path('paiements_export_banque', {'id': paiements.id }) }}">
                              <span class="glyphicon glyphicon-print"></span>
                              {% if(paiements.isRemiseEspece) %}
                                Imprimé de 1 espèce
                              {% else %}
                              Imprimé de {{ paiements.nbPaiementUniqueParMoyen }} chèque(s)

                              {% endif %}
                          </a>{% endif %}
                          </a>
                        </th>
                        <th class="col-xs-1 text-right">{{ paiements.paiement | length }}</th>
                        <th class="col-xs-7">
                            {% for paiement in paiements.paiement %}
                                <div class="row">
                                    <div class="col-xs-10" style="height: 30px;">
                                        <a title="Voir la société" href="{{ path('societe_visualisation', {'id': paiement.facture.societe.id })}}">
                                            {% if paiement.facture.societe.raisonSociale | length > 40 %}{{ paiement.facture.societe.raisonSociale | slice(0, 40)~"..." }}{%else%}{{ paiement.facture.societe.raisonSociale }}{%endif%}</a>&nbsp(Facture n°{{ paiement.facture.numeroFacture }})
                                            {% if paiement.moyenPaiement == 'CHEQUE' %}&nbsp<span class="label label-warning">Chèque</span>{% endif %}
                                    </div>
                                    <div class="col-xs-2 text-right">
                                        {{ paiement.montant | number_format(2, ',', ' ')}}&nbsp;€&nbsp;
                                    </div>
                                </div>
                            {% endfor %}
                        </th>
                        <th class="col-xs-2 text-right">{{ paiements.getMontantTotal | number_format(2, ',', ' ') }}&nbsp;€&nbsp;<br/>
                        (Chèques : {{ paiements.getMontantTotalByMoyenPaiement('CHEQUE') | number_format(2, ',', ' ')}}&nbsp;€&nbsp;)</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
      {% for exportForm in exportForms %}
<div  id="datechoice{{exportForm.type}}"  class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            {{ form_start(exportForm.form) }}
            <div class="modal-header">
              <h4>Êtes-vous sûre de vouloir faire l'export {{exportForm.type}}?</h4>
            </div>
                <div class="modal-body form-horizontal">
                        {% if exportForm.form.dateFin is defined %}
                        <div class="form-group">
                            {{ form_errors(exportForm.form.dateDebut) }}
                            {{ form_label(exportForm.form.dateDebut, "Date début (incluse)", {'label_attr': {'class': 'col-xs-4 contral-label'}}) }}
                            <div class="col-xs-8">
                                {{ form_widget(exportForm.form.dateDebut) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_errors(exportForm.form.dateFin) }}
                            {{ form_label(exportForm.form.dateFin, "Date fin (incluse)", {'label_attr': {'class': 'col-xs-4 contral-label'}}) }}
                            <div class="col-xs-8">
                                {{ form_widget(exportForm.form.dateFin) }}
                            </div>
                        </div>
                        {% else %}
                        <div class="form-group">
                            {{ form_errors(exportForm.form.dateDebut) }}
                            {{ form_label(exportForm.form.dateDebut, "Date du mois", {'label_attr': {'class': 'col-xs-4 contral-label'}}) }}
                            <div class="col-xs-8">
                                {{ form_widget(exportForm.form.dateDebut) }}
                            </div>
                        </div>
                        {% endif %}
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                                <button class="btn btn-primary" type="submit">Exporter</button>
                        </div>
                    </div>
                </div>
                    {{ form_end(exportForm.form) }}
            </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}
