{% set _menu_active = 'paiements' %}
{% extends 'base.html.twig' %}
{% block title %}Campagnes de paiements{% endblock title %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('paiements_liste') }}">Paiements</a></li>

    </ol>


	<h2>
		Campagnes de paiements
		<a class="btn btn-default pull-right" href="{{ path('paiements_nouveau') }}"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span>&nbsp;Nouvelle saisie</a>
	</h2>

	<form action="" method="get" class="form-inline" style="margin: 20px 0 10px 0;">
		<label for="periode">Période : </label>
        <input style="width: auto;" type="text" id="periode" name="periode" class="periodepicker form-control" value="{{ periode }}" placeholder="Sélection période" />
    </form>


    <div id="wrapper">
    {{ include('paiements/paiementsTableau.html.twig', {'paiementsDocs': paiementsDocs, 'prelevement' : false }) }}
    </div>
    <br/>
    <h2>
        Prélévements bancaires
        <a class="btn btn-default pull-right" href="{{ path('paiements_prelevement') }}" onclick="return confirm('Voulez vous générer le fichier bancaire?');" >&nbsp;Créer un export pour la banque</a>
    </h2>
    <div id="wrapper">
    {{ include('paiements/paiementsTableau.html.twig', {'paiementsDocs': paiementsDocsPrelevement, 'prelevement' : true }) }}
    </div>

{% endblock %}
