{% extends 'base_pdf.html.twig' %}

{% block body %}
<h2 style="margin-bottom: 10px; font-size: 21px;" class="text-center"><strong>Paiements du {{ paiements.dateCreation | localizeddate("full", "none") }}</strong>
</h2>

<hr style="border-color: #ddd; margin-bottom: 30px;" />
<div class="row">


    <div class="col-xs-12"  >
        <table style="font-size: 14px;" >
            <thead>
                <tr style="border-color: #ddd; border: 1px solid;">
                    <th style=" width: 100px;" >Date</th>
                    <th style=" width: 180px;">Type Règlement</th>
                    <th style=" width: 100px;" >Moyen</th>
                    <th style=" width: 270px;" >Libelle</th>
                    <th  style=" width: 100px; text-align: right;" >Montant</th>
                </tr>
            </thead>
            <tbody>
                {% for paiement in paiements.paiement %}
                    <tr style="border-color: #ddd; border: 1px solid;">
                        <td style="border-color: #ddd; border: 1px solid;">{{ paiements.dateCreation | localizeddate("medium", "none", null, null, "d MMM YYYY") }}</td>
                        <td style="border-color: #ddd; border: 1px solid;">{{ paiement.typeReglementLibelle }}</td>
                        <td style="border-color: #ddd; border: 1px solid;">{{ paiement.getMoyenPaiementLibelle() }}</td>

                        <td style="border-color: #ddd; border: 1px solid;" class="col-xs-3"> 
                            {% if(paiement.libelle) %}{{ paiement.libelle }}{% endif %}
                        </td>
                        <td style="border-color: #ddd; border: 1px solid; text-align: right;">{{ paiement.montant | number_format(2, ',', ' ')}}&nbsp;€&nbsp;</td>

                    </tr>
                {% endfor %}
                 <tr>
                     <td colspan="5"></td>
                </tr>
                <tr style="border-color: #ddd; border: 1px solid;">
                    <td style="border-color: #ddd; border: 1px solid;" class="text-right" colspan="4"><strong>TOTAL</strong></td>
                  
                    <td style="border-color: #ddd; border: 1px solid;" >{{ paiements.getMontantTotal() | number_format(2, ',', ' ') }}&nbsp;€&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
