{% extends 'base_pdf.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-6">
            <br />
            <p>
                <span class="lead">{{ parameters.emetteur.nom }}</span><br />
                {{ parameters.emetteur.adresse }}<br />
                {{ parameters.emetteur.code_postal }} {{ parameters..emetteur.commune }}<br />
                Tél. : {{ parameters.emetteur.telephone }}<br />
                Fax : {{ parameters.emetteur.fax }}
            </p>
        </div>

        <div class="col-xs-6">
            <div class="text-left">
                {% if(paiements.isRemiseEspece) %}<h3>Remise d'espèce </h3>{% else %} <h3>Remise de chèques </h3> {% endif %}

                <strong>N° {{ paiements.numeroRemise }} du {{ paiements.dateCreation | date("d/m/Y") }} </strong>
                <br />
                <br />
                <br />
                <br />
                {% if(paiements.isRemiseEspece) %}
                <strong>{{ parameters.banqueEspece.nom }}</strong><br />
                {{ parameters.banqueEspece.adresse }}<br />
                {{ parameters.banqueEspece.code_postal }} {{ parameters..banqueEspece.commune }}<br />
                {% else %}
                <strong>{{ parameters.banque.nom }}</strong><br />
                {{ parameters.banque.adresse }}<br />
                {{ parameters.banque.code_postal }} {{ parameters..banque.commune }}<br />
                {% endif %}
            </div>
            <br />
            <br />
        </div>
    </div>
    <br />
    <h2 style="margin-bottom: 10px; font-size: 21px;" class="text-center"><strong>Paiements du {{ paiements.dateCreation | localizeddate("full", "none") }}</strong>
    </h2>


           {% set nb_lignes = 0 %}
           {% for paiementsPage in paiementsLists %}
           <div class="row">
               <div class="col-xs-12"  >
            <table style="font-size: 14px;" >
                <thead>
                    <tr style="border-color: #ddd; border: 1px solid;">
                        <th colspan="4"  style=" width: 750px; border-color: #ddd; border: 1px solid;" >&nbsp;Pièce</th>
                    </tr>
                    <tr style="border-color: #ddd; border: 1px solid;">
                        <th style=" width: 150px;" >&nbsp;Date</th>
                        <th style=" width: 380px;">&nbsp;Facture</th>
                        <th style=" width: 320px;" >&nbsp;Libelle</th>
                        <th  style=" width: 200px; text-align: right; border-color: #ddd; border: 1px solid;" >Montant&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% if(not paiements.isRemiseEspece) %}
                    {% for paiement in paiementsPage %}
                        {% if paiement.moyenPaiement == 'CHEQUE' %}
                        <tr style="border-color: #ddd; border: 1px solid;">
                            <td style="border-color: #ddd; border: 1px solid;">&nbsp;{{ paiements.dateCreation | date("d/m/Y") }}</td>
                              {% if paiement.factureTemporaire %}
                              <td style="border-color: #ddd; border: 1px solid;">
                                  &nbsp;Factures n° {% for factureTemp in paiement.factureTemporaire %}{{ factureTemp.numeroFacture }}{% if not loop.last %}, {% endif %}{% endfor %}
                              </td>
                              {% else %}
                                <td style="border-color: #ddd; border: 1px solid;">&nbsp;Facture n° {{ paiement.facture.numeroFacture }}</td>
                              {% endif %}
                            <td style="border-color: #ddd; border: 1px solid; text-align: left;" >
                                {% if(paiement.libelle) %}&nbsp;{{ paiement.libelle }}{% endif %}
                            </td>
                            {% if paiement.montantTemporaire %}
                              <td style="border-color: #ddd; border: 1px solid; text-align: right;">{{ paiement.montantTemporaire | number_format(2, ',', ' ')}}&nbsp;€&nbsp;</td>
                            {% else %}
                              <td style="border-color: #ddd; border: 1px solid; text-align: right;">{{ paiement.montant | number_format(2, ',', ' ')}}&nbsp;€&nbsp;</td>
                            {% endif %}
                        </tr>
                        {% set nb_lignes = nb_lignes + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if loop.last %}
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                    <tr style="border-color: #ddd; border: 1px solid;">
                        <td style="border-color: #ddd; border: 1px solid; text-align: left;" colspan="3"><strong>&nbsp;TOTAL</strong></td>

                        <td style="border-color: #ddd; border: 1px solid; text-align: right;" >{{ paiements.getMontantTotalByMoyenPaiement('CHEQUE') | number_format(2, ',', ' ') }}&nbsp;€&nbsp;</td>
                    </tr>
                    {% endif %}
                    {% else %}
                      {% for paiement in paiementsPage %}
                          {% if paiement.moyenPaiement == 'ESPECE' %}
                          <tr style="border-color: #ddd; border: 1px solid;">
                              <td style="border-color: #ddd; border: 1px solid;">&nbsp;{{ paiements.dateCreation | date("d/m/Y") }}</td>
                                  <td style="border-color: #ddd; border: 1px solid;">&nbsp;Facture n° {{ paiement.facture.numeroFacture }}</td>
                              <td style="border-color: #ddd; border: 1px solid; text-align: left;" >
                                  {% if(paiement.libelle) %}&nbsp;{{ paiement.libelle }}{% endif %}
                              </td>
                                <td style="border-color: #ddd; border: 1px solid; text-align: right;">{{ paiement.montant | number_format(2, ',', ' ')}}&nbsp;€&nbsp;</td>
                          </tr>
                          {% set nb_lignes = nb_lignes + 1 %}
                          {% endif %}
                      {% endfor %}
                      {% if loop.last %}
                      <tr>
                          <td colspan="5"></td>
                      </tr>
                      <tr style="border-color: #ddd; border: 1px solid;">
                          <td style="border-color: #ddd; border: 1px solid; text-align: left;" colspan="3"><strong>&nbsp;TOTAL</strong></td>
                          <td style="border-color: #ddd; border: 1px solid; text-align: right;" >{{ paiements.getMontantTotalByMoyenPaiement('ESPECE') | number_format(2, ',', ' ') }}&nbsp;€&nbsp;</td>
                      </tr>
                      {% endif %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% if not loop.last %}
    <div style="page-break-after: always;"></div>
    <br/>
    <br/>
    <br/>
    {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-xs-12"  >
            <br />
            <div class="text-left">
            {% if(not paiements.isRemiseEspece) %}
                <strong>Nombre de chèque : {{ nb_lignes }}</strong>
                <br />
              {% endif %}
                {% if(paiements.isRemiseEspece) %}
                  <strong>Total des montants : {{ paiements.getMontantTotalByMoyenPaiement('ESPECE') | number_format(2, ',', ' ')}}&nbsp;€&nbsp;</strong>
                {% else %}
                  <strong>Total des montants : {{ paiements.getMontantTotalByMoyenPaiement('CHEQUE') | number_format(2, ',', ' ')}}&nbsp;€&nbsp;</strong>
                {% endif %}
                <br />
                <br />
                {% if(paiements.isRemiseEspece) %}
                Banque : <strong>{{ parameters..banqueEspece.nom }}</strong>
                <br />
                A déposer sur le compte : <strong>{{ parameters..emetteur.numero_compte_especes }}</strong>
                <br />
                Titulaire du compte : <strong>{{ parameters..emetteur.nom | upper }}</strong>
                  {% else %}
                Banque : <strong>{{ parameters..banque.nom }}</strong>
                <br />
                A déposer sur le compte : <strong>{{ parameters..emetteur.numero_compte }}</strong>
                <br />
                Titulaire du compte : <strong>{{ parameters..emetteur.nom | upper }}</strong>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12"  >
            <hr style="border-color: #ddd; margin-bottom: 30px;" />

            <div class="text-center">
                <strong>{{ parameters..emetteur.infos  }}</strong>
                <br />
                <strong>{{ parameters..emetteur.banque }}</strong>
                <br />
                <strong>{{ parameters..emetteur.virement  }}</strong>
                <br />
                {% if parameters.emetteur.numero_agrement is defined %}Agrément du Ministère de l'Agriculture A. I. F. {{ parameters.emetteur.numero_agrement }}<br />{% endif %}
            </div>
            <hr style="border-color: #ddd; margin-bottom: 30px;" />
        </div>
    </div>
{% endblock %}
