{% set _menu_active = 'passage' %}
{% extends 'base.html.twig' %}

{% block body %}
<div class="modal openOnLoad" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    {{ form_start(form) }}
    <div class="modal-content">
      <div class="modal-header">
        <a href="{{ path('passage') }}" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">Passage {{ passage.etablissementInfos.nom }} en {{ passage.datePrevision | localizeddate("medium", "none", null, null, "MMM yyyy") | capitalize }} pour  {% for prestation in passage.prestations %}
            {% if(prestation.wordToPicto) %}
                <span class="step size-16" data-toggle="tooltip" title="{{  prestation.nomToString }}" >
                    <i class="mdi-{{prestation.wordToPicto}}">&nbsp;</i></span>
                {%else%}
                <span class="label label-xs label-primary">{{  prestation.nomToString }}</span>
            {%endif%}
        {% endfor %}</h4>
      </div>
      <div class="modal-body">

        {{ form_rest(form) }}
      </div>
      <div class="modal-footer">
        <a href="{{ (service | default(null)) ? service : path('passage') }}" class="btn btn-default pull-left">Annuler</a>
        <button type="submit" class="btn btn-primary">Valider</button>
      </div>
    </div><!-- /.modal-content -->
    {{ form_end(form) }}
  </div><!-- /.modal-dialog -->
</div>
{% endblock %}
