{% set _menu_active = 'passage' %}
{% extends 'base.html.twig' %}

{% block body %}
<div class="modal openOnLoad" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    {{ form_start(form) }}
    <div class="modal-content">
      <div class="modal-header">
        <a href="{{ path('passage') }}" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">Commentaires de l'établissement {{ passage.etablissementInfos.nom }}</h4>
      </div>

      <div class="modal-body">
        {% if (passage.commentaire) %}
            <h4>Ce commentaire est un commentaire de passage (peut-être à déplacer dans l'établissement) </h4>
            <p>{{ passage.commentaire | nl2br }}</p>
        {% endif %}
        {{ form_rest(form) }}
      </div>
      <div class="modal-footer">
        <a href="{{ (service | default(null)) ? service : path('passage') }}" class="btn btn-default pull-left">Annuler</a>
        <button type="submit" class="btn btn-primary">Valider</button>
      </div>
    </div><!-- /.modal-content -->
    {{ form_end(form) }}
  </div><!-- /.modal-dialog -->
</div>
{% endblock %}
