{% set _menu_active = 'etablissement' %}
{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block _interventionRapide_prestations_entry_row %}
    <div class="form-group dynamic-collection-item">
        <div class="col-xs-9">
            {{ form_widget(form.identifiant) }}
        </div>
        <div class="col-xs-2 text-right">
            {{ form_widget(form.nbPassages) }}
        </div>
        <div class="col-xs-1 text-right">
            <button type="button" tabindex="-1" class="btn btn-default dynamic-collection-remove"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 form-horizontal">

            <ol class="breadcrumb">
                <li><a href="{{ path('passage') }}">Passage</a></li>
                <li><a href="{{ path('passage_etablissement',{ 'id' : etablissement.id }) }}">{{ etablissement.nom }}&nbsp;<small>{{ etablissement.adresse.intitule }}</small></a></li>
                <li><a href="">Création d'un contrat en intervention rapide (Bon bleu)</a></li>
            </ol>

            {{ form_start(form) }}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Création d'un contrat en intervention rapide (Bon bleu)</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
    	                {{ form_errors(form.commercial) }}
                        {{ form_label(form.commercial, "Commercial", {'label_attr': {'class': 'col-xs-2 contral-label'}}) }}
                        <div class="col-xs-4">
    	                    {{ form_widget(form.commercial, {'attr': {'autofocus': 'autofocus'}}) }}
                        </div>
    	            </div>
                    <div class="form-group">
    	                {{ form_errors(form.technicien) }}
                        {{ form_label(form.technicien, "Technicien", {'label_attr': {'class': 'col-xs-2 contral-label'}}) }}
                        <div class="col-xs-4">
    	                    {{ form_widget(form.technicien) }}
                        </div>
    	            </div>
                    <div class="form-group">
    	                {{ form_errors(form.technicien) }}
                        {{ form_label(form.technicien, "Prix HT", {'label_attr': {'class': 'col-xs-2 contral-label'}}) }}
                        <div class="col-xs-3">
                            <div class="input-group ">
                                {{ form_widget(form.prixHt) }} <div class="input-group-addon">€ HT</div>
                            </div>
                        </div>
    	            </div>
                    <div class="form-group">
    	                {{ form_errors(form.dateDebut) }}
                        {{ form_label(form.dateDebut, "Date du passage", {'label_attr': {'class': 'col-xs-2 contral-label'}}) }}
                        <div class="col-xs-4">
        	                <div class="input-group">
        	                    {{ form_widget(form.dateDebut) }}
        	                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
        	                </div>
                        </div>
    	            </div>
                    <div class="form-group">
    	                {{ form_errors(form.uniquePrestations) }}
                        {{ form_label(form.uniquePrestations, "Prestations", {'label_attr': {'class': 'col-xs-2 contral-label'}}) }}
                        <div class="col-xs-9">
    	                    {{ form_widget(form.uniquePrestations) }}
                        </div>
    	            </div>
                    <div class="form-group">
    	                {{ form_errors(form.referenceClient) }}
                        {{ form_label(form.referenceClient, "Numéro de commande", {'label_attr': {'class': 'col-xs-2 contral-label'}}) }}
                        <div class="col-xs-4">
                                {{ form_widget(form.referenceClient) }}
                        </div>
    	            </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary">Créer le contrat et saisir le rapport de visite</button>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
