{% set _menu_active = 'etablissement' %}
{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block _interventionRapide_prestations_entry_row %}
    <div class="row form-group dynamic-collection-item">
        <div class="col-xs-9">
            {{ form_widget(form.identifiant) }}
        </div>
        <div class="col-xs-2 text-right">
            {{ form_widget(form.nbPassages) }}
        </div>
        <div class="col-xs-1 text-right">
            <button type="button" tabindex="-1" class="btn btn-default dynamic-collection-remove"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Création d'un contrat rapide et d'un passage</h3>
            <h4>Etablissement : {{ etablissement.intitule }}</h4>

            {{ form_start(form) }}

            <div class="row">
                <div class="form-group col-xs-3">
                    {{ form_label(form.commercial) }}
                    {{ form_errors(form.commercial) }}
                    {{ form_widget(form.commercial) }}
                </div>
                <div class="form-group col-xs-3">
                    {{ form_label(form.technicien) }}
                    {{ form_errors(form.technicien) }}
                    {{ form_widget(form.technicien) }}
                </div>
                <div class="form-group col-xs-3">
                    {{ form_label(form.dateDebut) }}
                    {{ form_errors(form.dateDebut) }}
                    <div class="input-group">
                        {{ form_widget(form.dateDebut) }}
                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                    </div>
                </div>

                <div class="form-group col-xs-3">
                    {{ form_label(form.duree) }}
                    {{ form_errors(form.duree) }}
                    <div class="input-group ">
                        {{ form_widget(form.duree) }}
                        <div class="input-group-addon">mois</div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><strong>Prestations</strong></div>
                <div class="panel-body">
                    {{ form_widget(form.prestations, { 'attr': {'class': 'dynamic-collection'} }) }}
                    <div class="row form-group">
                        <div class="col-xs-12 text-right">
                            <a href="javascript:void(0);" data-collection-target="#interventionRapide_prestations" class="btn btn-primary dynamic-collection-add"><span class="glyphicon glyphicon-plus-sign"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_widget(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
