{% set _menu_active = 'passage' %}
{% extends 'base.html.twig' %}
{% block body %}

    {{ include('etablissement/choixForm.html.twig', {'form': formEtablissement}) }}

    <div class="row" style="margin-top: 10px; height: 130px;">
        <div class="col-xs-8">
            <h3 style="margin-top: 5px;"><i style="cursor: default;" class="mdi mdi-{{ etablissement.icon }} mdi-lg" title="{{ etablissement.type }}" data-toggle="tooltip" ></i> {{ etablissement.nom }} <small class="text-muted">({{ etablissement.raisonSociale }})</small></h3>
            <p class="lead">
                {% if etablissement.contactCoordonnee.telephoneFixe %}
                    {{ etablissement.contactCoordonnee.telephoneFixe }}
                {% endif %}
                {% if etablissement.contactCoordonnee.telephoneMobile %}
                    {{ etablissement.contactCoordonnee.telephoneMobile }}
                {% endif %}
            </p>
            {% if etablissement.commentaire %}
                <p>
                    Informations complémentaires : {{ etablissement.commentaire }} <a href="{{ path('etablissement_modification', {'societe': etablissement.getSociete().getId(),'id': etablissement.getId()}) }}"><small>(Modifier)</small></a>
                </p>
            {% endif %}
        </div>
        <div class="col-xs-4">
            {% set lat = '' %}
            {% set lon = '' %}
            {% if(etablissement.adresse.coordonnees is defined)  %}
                {% set lat = etablissement.adresse.coordonnees.lat  %}
                {% set lon = etablissement.adresse.coordonnees.lon  %}
            {%  endif  %}
            <div id="map" style="width: 100%; height: 130px;" data-geojson="{{ geojson | json_encode(constant('JSON_HEX_QUOT')) }}" data-lat="{{ lat }}" data-lon="{{ lon }}"></div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12">
            {% for contrat in contrats %}
                {% set passagesEtablissement = contrat.getPassagesEtablissementNode(etablissement) %}
                {% if(passagesEtablissement is not null) %}
                    <div id="contrat-{{ contrat.id }}" class="panel panel-default
                         {% if(contrat.isResilie) %} panel-danger {% endif %}
                         {% if(contrat.isFini) %} panel-success {% endif %}
                         {% if(contrat.isBrouillon or contrat.isEnAttenteAcceptation) %} panel-warning {% endif %}
                         " {% if(contrat.isAVenir) %}style="opacity: 0.5;"{% endif %}
                         >
                        <div data-toggle="collapse" data-parent="contrat-{{ contrat.id }}" href="#contrat-{{ contrat.id }}-passages" aria-controls="contrat-{{ contrat.id }}-passages" style="{% if(not contrat.isFini and not contrat.isResilie) %}background: #fff;{% else %}{% endif %} border-bottom: 0;" class="panel-heading">
                            <h4 style="cursor: pointer; margin-top: 0; margin-bottom: 0;">

                                {% if(contrat.isResilie) %}
                                    Contrat résilié le {{ contrat.dateResiliation | localizeddate("medium", "none", null, null, "d MMMM YYYY") }}
                                {% elseif (contrat.isEnCours) %}
                                    Contrat en cours jusqu'au {{ contrat.dateFin | localizeddate("medium", "none", null, null, "d MMMM YYYY") }}
                                {% elseif (contrat.isEnAttenteAcceptation) %}
                                    Contrat en cours d'acceptation prévu jusqu'au {{ contrat.dateFin | localizeddate("medium", "none", null, null, "d MMMM YYYY") }}
                                {% elseif (contrat.isFini) %}
                                    Contrat terminé en {{ contrat.dateFin | localizeddate("medium", "none", null, null, "MMMM YYYY") | capitalize }}
                                {% elseif (contrat.isAVenir) %}
                                    Contrat non commencé (début {{ contrat.dateDebut | localizeddate("medium", "none", null, null, "MMMM YYYY") | capitalize }})

                                {% endif %}
                                <small>n° {{ contrat.numeroArchive }}</small>&nbsp;
                                {% for prestation in contrat.prestations %}
                                    {% if(prestation.wordToPicto) %}
                                        &nbsp;<span class="step size-18" title="{{  prestation.nomToString }}" data-toggle="tooltip" >
                                            <i class="mdi-{{prestation.wordToPicto}}">&nbsp;</i>&nbsp;<span>{{ prestation.nbPassages }}</span></span>
                                        {%else%}
                                        <span class="btn btn-xs label-primary">{{  prestation.nomToString }}&nbsp;<span>{{ prestation.nbPassages }}</span></span>
                                    {%endif%}

                                {% endfor %}
                                <span class="pull-right"><span class="glyphicon glyphicon-chevron-down"></span></span>
                            </h4>
                        </div>
                        <div id="contrat-{{ contrat.id }}-passages" class="collapse {% if(not contrat.isEnCours) %}out{% else%}in{% endif %} list-group">
                            <div class="list-group-item {% if(contrat.isResilie) %} list-group-item-danger{% endif %}
                                 {% if(contrat.isFini) %}list-group-item-success{% endif %}
                                 {% if(contrat.isBrouillon or contrat.isEnAttenteAcceptation) %} list-group-item-warning {% endif %}
                                 " {% if(contrat.isAVenir) %}style="opacity: 0.5;"{% endif %}>
                                <div class="row">
                                    <div class="col-xs-2">
                                        {{ passagesEtablissement.nbPassagePrevu}} passages prévus
                                    </div>
                                    <div class="col-xs-3">
                                        sur {{ contrat.duree }} mois
                                    </div>
                                    <div class="col-xs-2">
                                        <a href="" title="{{ contrat.nomenclature | nl2br }}" data-html="true" data-toggle="tooltip">Voir la nomenclature</a>
                                    </div>
                                    <div class="col-xs-1">
                                        {% if(contrat.dureePassage) %}<span><i class="mdi mdi-schedule mdi-lg"></i>&nbsp;{{ contrat.dureePassage }}</span>{% endif %}
                                    </div>
                                    <div class="col-xs-2">
                                        {% if contrat.commentaire %}
                                            <a href="" title="{{ contrat.commentaire | nl2br }}" data-html="true" data-toggle="tooltip">Voir le commentare</a>
                                        {% else %}
                                            <small><em class="text-muted">Aucun commentaire</em> <a href="{{ path('contrat_acceptation',{id : contrat.id}) }}">(Ajouter)</a></small>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-2">
                                        <a href="{{ path('contrat_visualisation', {'id': contrat.id })}}" class="btn btn-block btn-xs btn-default">Voir le contrat</a>
                                    </div>
                                </div>
                            </div>
                            {% for pe in passagesEtablissement.getPassagesSorted(true) %}
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <span style="cursor: help;" title="{{ pe.libelle }}" data-toggle="tooltip" class="badge {% if(pe.isGarantie) %}badge-warning{% elseif(pe.isControle)%}badge-warning{% else %}badge-default{% endif %} {% if(pe.mouvementDeclenchable) %}badge-inverse{% endif %} btn-xs">{{ pe.getNumeroPassage() }}</span>
                                                </div>
                                                <div class="col-xs-9">
                                                    {% if (pe.enAttente) %}
                                                        <button class="btn btn-xs btn-block btn-default">{{ pe.getStatutLibelle() }}</button>
                                                    {% elseif (pe.aPlanifie) %}
                                                        <button class="btn btn-xs btn-block btn-primary">{{ pe.getStatutLibelle() }}</button>
                                                    {% elseif (pe.planifie) %}
                                                        <button class="btn btn-xs btn-block btn-warning">{{ pe.getStatutLibelle() }}</button>
                                                    {% elseif (pe.annule) %}
                                                        <button class="btn btn-xs btn-block btn-danger">{{ pe.getStatutLibelle() }}</button>
                                                    {% elseif (pe.realise) %}
                                                        <button class="btn btn-xs btn-block btn-success">{{ pe.getStatutLibelle() }}</button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <a data-toggle="modal" data-remote="false" data-target="#modal-passage" href="{{path('calendarRead', { 'id': pe.id })}}">
                                                {% if (pe.enAttente) %}
                                                    {{ pe.datePrevision | localizeddate("medium", "none", null, null, "MMMM YYYY") | capitalize }}
                                                {% elseif (pe.APlanifie) %}
                                                    {{ pe.dateDebut | localizeddate("medium", "none", null, null, "MMMM YYYY") | capitalize }}
                                                {% else %}
                                                    {{ pe.dateDebut | localizeddate('full', 'none') | capitalize }}
                                                {% endif %}

                                                {% if(pe.duree) %} à {{pe.dateDebut | date("H") }}h{{pe.dateDebut | date("i") }}{% endif %}
                                            </a>

                                        </div>
                                        <div class="col-xs-2">
                                            {% for prestation in pe.prestations %}
                                                {% if(prestation.wordToPicto) %}
                                                    <span class="step size-24" title="{{  prestation.nomToString }}" data-toggle="tooltip" >
                                                        <i class="mdi-{{prestation.wordToPicto}}" style="cursor: pointer;" >&nbsp;</i></span>
                                                    {%else%}
                                                    <span class="label label-xs label-primary">{{  prestation.nomToString }}</span>
                                                {%endif%}
                                            {% endfor %}
                                        </div>
                                        <div class="col-xs-1">
                                            {% if(pe.duree) %}<span><i class="mdi mdi-schedule mdi-lg"></i>&nbsp;{{ pe.duree }}</span>{% endif %}
                                        </div>
                                        <div class="col-xs-2">
                                            <ul class="list-inline list-unstyled">
                                                {% for technicien in pe.techniciens %}
                                                    <li>
                                                        <i class="mdi mdi-face mdi-lg"></i>&nbsp;{{ technicien.identite }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-xs-2 text-right">
                                            {% if pe.planifie  %}
                                                <a class="btn btn-sm btn-block btn-warning" href="{{ path('passage_edition', { id: pe.id })}}">Saisir le rapport</a>
                                            {% elseif pe.realise %}<a class="btn btn-block btn-xs btn-default" href="{{ path('passage_edition', { id: pe.id })}}">Modifier le rapport</a>
                                            {% elseif pe.aPlanifie %}
                                                {% for technicien in pe.techniciens %}
                                                    <a class="btn btn-sm btn-block btn-primary" href="{{path('calendar', {'passage' : pe.id,'technicien' : technicien.id, 'calendrier' : pe.datedebut|date('d-m-Y')})}}">Planifier</a>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <a href="{{ path('contrat_creation_etablissement', {'id': etablissement.getId()}) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Créer un nouveau contrat</a>
    <a href="{{ path('passage_creation_rapide', {'id': etablissement.getId()}) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Créer une intervention rapide</a>
    <div class="modal fade" id="modal-passage" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-title"></h4>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
