{% set _menu_active = 'passage' %}
{% extends 'base.html.twig' %}
{% block title %}Passages{% endblock title %}
{% block body %}

    <div class="row hide-print">
        <div class="col-xs-12">
            {{ include('etablissement/choixForm.html.twig', {'form': formEtablissement}) }}
        </div>

    </div>
    <div class="row hide-print">
        <div class="col-xs-12">
            <h3 class="hide-print">Liste des passages à planifier pour {{ etablissementManager.secteursNom(secteur) }}{% if anneeMois %} en {{ dateFin | localizeddate("medium", "none", null, null, "MMMM yyyy") | capitalize }} {% else %} jusqu'au {{ dateFin | localizeddate("medium", "none", null, null, "d MMMM yyyy") }} {% endif %} </h3>
        </div>
      </div>
      <div class="row hide-print">
        <div class="col-xs-12">
          <ul class="nav nav-pills">
                {% for key,moisPassage in moisPassagesArray %}
                <li role="presentation" class="{% if key == anneeMois %} active {% endif %}">
                    <a href='{{ path('passage',{"secteur" : secteur, "mois" : key, "lat" : coordinatesCenter.lat, "lon" : coordinatesCenter.lon, "zoom": coordinatesCenter.zoom }) }}' >
                        <small><strong>
                          {% if key == 'courant' %}
                            D'ici le {{ dateFinCourant | localizeddate("medium", "none", null, null, "d/MM/Y") }}
                          {% else %}
                            {{ moisPassage.date | localizeddate("medium", "none", null, null, "MMMM yyyy") | capitalize }}
                          {% endif %}
                      </strong></small>&nbsp;&nbsp;&nbsp;<span class="badge">{{ moisPassage.nb }}</span>&nbsp;</a>
                </li>
                {% endfor %}
          </ul>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-12">
            <div class="form-horizontal hide-print">
                <div class="form-group">
                    <div class="col-xs-9">
                        <select mulitple="multiple" data-placeholder="Filtrer la liste en saisissant un techinicien, un code postal, ..." data-hamzastyle-container="#liste_passage" class="hamzastyle form-control select2"></select>
                    </div>
                    <div class="col-xs-3 text-right">
                        <div class="btn-group">
                            <a class="btn btn-default {% if secteur == "PARIS" %}active{% endif %}" href="{{ path('passage', {'secteur' :"PARIS"}) }}">{{ etablissementManager.secteursNom("PARIS") }}</a>
                            <a class="btn btn-default {% if secteur == "SEINE_ET_MARNE" %}active{% endif %}" href="{{ path('passage', {'secteur' :"SEINE_ET_MARNE"}) }}">{{ etablissementManager.secteursNom("SEINE_ET_MARNE") }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 enlarge-print">
                    <div id="liste_passage" class="list-group well" style="height: 650px; overflow: auto; position: relative;">
                        {% for passage in passages %}
                            {% set words = "" %}
                            {% set techColor = "" %}
                            {% set techBgColor = "" %}
                            {% set techIdentite = "" %}
                            {% set dptKeyWord = (passage.etablissementInfos.adresse.codePostal | slice(0, 2))? "Département "~passage.etablissementInfos.adresse.codePostal | slice(0, 2) : "" %}
                            {% if(passage.techniciens | length == 0) %}
                                {% set words = [dptKeyWord, "Sans technicien", passage.etablissementInfos.adresse.codePostal | trim, passage.etablissementInfos.adresse.commune | trim, passage.etablissementInfos.type, passage.datePrevision | localizeddate("medium", "none", null, null, "MMMM yyyy") | capitalize, passage.etablissementInfos.nom] | merge(passage.prestationsNom) |json_encode(constant('JSON_UNESCAPED_UNICODE')) %}
                                {% set techColor = 'white' %}
                                {% set techBgColor = 'transparent' %}
                                {% set techIdentite = "" %}
                                {% set urlPlanif = path('calendarManuel',{'passage' : passage.id, 'id': passage.etablissement.id , 'date' : passage.dateForPlanif|date('d-m-Y')}) %}
                            {% else %}
                                {% set words = [dptKeyWord, passage.techniciens[0].identite, passage.etablissementInfos.adresse.codePostal | trim, passage.etablissementInfos.adresse.commune | trim, passage.etablissementInfos.type, passage.datePrevision | localizeddate("medium", "none", null, null, "MMMM yyyy") | capitalize, passage.etablissementInfos.nom, passage] | merge(passage.prestationsNom) | json_encode(constant('JSON_UNESCAPED_UNICODE')) %}
                                {% set techColor = passage.techniciens[0].couleurText %}
                                {% set techBgColor = passage.techniciens[0].couleur %}
                                {% set techIdentite = passage.techniciens[0].identiteCourt %}
                                {% set urlPlanif = path('calendar', {'passage' : passage.id, 'id': passage.etablissement.id ,'technicien' : passage.techniciens[0].id, 'date' : passage.dateForPlanif|date('d-m-Y')}) %}
                            {% endif %}
                            <a data-words='{{ words }}' href="{{path('passage_etablissement', {'id': 'ETABLISSEMENT-'~passage.etablissementIdentifiant })}}" id="{{ passage.id }}" class="list-group-item hamzastyle-item hide-print">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <i class="mdi mdi-{{ passage.etablissementInfos.icon }} mdi-lg"></i>
                                        <strong>{{ passage.etablissementInfos.nom|capitalize }}</strong>
                                        <small>{{ passage.etablissementInfos.adresse.codePostal }} {{ passage.etablissementInfos.adresse.commune }}</small>
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        {% for prestation in passage.prestations %}
                                            {% if(prestation.wordToPicto) %}
                                                <span class="step size-21" title="{{  prestation.nomToString }}">
                                                    <i class="mdi-{{prestation.wordToPicto}}">&nbsp;</i></span>
                                                {% else %}
                                                <span class="label label-xs label-primary">{{  prestation.nomToString }}</span>
                                            {%endif%}
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-12" style="min-height: 21px; margin-top:10px;">
                                        {% if passage.etablissementInfos.telephoneFixe or passage.etablissementInfos.telephonePortable %}
                                            <i class="mdi mdi-call mdi-lg"></i>
                                            <small>{{ passage.etablissementInfos.telephoneFixe }}</small>
                                            {% if passage.etablissementInfos.telephoneFixe and passage.etablissementInfos.telephonePortable %}
                                                /
                                            {% endif %}
                                            <small>{{ passage.etablissementInfos.telephonePortable }}</small>
                                            {% if  passage.etablissementInfos.libelle %}
                                            <small> ({{ passage.etablissementInfos.libelle }})</small>
                                            {% endif %}
                                        {% endif %}

                                        <span title="{{ passage.libelle }}"
                                              class="pull-right badge {% if(passage.isGarantie) %}badge-warning{% elseif(passage.isControle)%}badge-warning{% else %}badge-default{% endif %} {% if(passage.mouvementDeclenchable) %}badge-inverse{% endif %} btn-xs">{{
                                                    passage.getNumeroPassage() }}</span>
                                        {% if(passage.audit) %}<span class="pull-right glyphicon glyphicon-user text-danger" data-toggle="tooltip" data-placement="top" title="Audit {{ passage.audit }}">&nbsp;</span> {% endif %}
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-sm-3 text-left">
                                        <span class="label" style="background-color: {{ techBgColor }};color: {{ techColor }};"><small>{{ techIdentite }}</small></span>{% if passage.multiTechnicien > 1 %}&nbsp;<span data-toggle="tooltip" title="{{ passage.multiTechnicien }} techniciens nécessaire sur ce passage"><i class="mdi mdi-group mdi-lg"></i></span>{% endif %}
                                    </div>
                                    <div class="col-sm-6 text-center">
                                            {% if passage.datePrecedente %}
                                            <small>Préc.&nbsp;le&nbsp;{{ passage.datePrecedente | localizeddate("medium", "none", null, null, "dd/MM/YYYY") | capitalize }}&nbsp;à&nbsp;{{passage.datePrecedente | date("H") }}h{{passage.datePrecedente | date("i") }}</small>
                                            {% endif %}
                                            {% if passage.dureePrecedente %}
                                            <i class="mdi mdi-schedule mdi-lg"></i>
                                            <small>{{ passage.dureePrecedente }}</small>
                                            {% endif %}
                                            <span title="{% if(passage.commentaire) %}{{ passage.commentaire }}{% else %}Ajouter un commentaire{% endif %}" data-url="{{ path('passage_commentaire', {'id': passage.id }) }}" data-toggle="tooltip" class="{% if(passage.commentaire) %}text-primary{% endif %} commentaire_lien" style="{% if(not passage.commentaire) %}opacity: 0.3;{% endif %}"><span class="glyphicon glyphicon-comment"></span></span>
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        <div data-url="{{ urlPlanif }}" class="btn btn-link calendar_lien" >
                                            <i class="mdi mdi-date-range mdi-lg"></i>
                                            {{ passage.datePrevision | localizeddate("medium", "none", null, null, "MMM yyyy") | capitalize }}
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <div data-words='{{ words }}' class="hamzastyle-item show-print">
								<div class="row">
									<div class="col-sm-6">
										<i class="mdi mdi-{{ passage.etablissementInfos.icon }} mdi-lg"></i> <strong>{{ passage.etablissementInfos.nom|capitalize }}</strong>
									</div>
									<div class="col-sm-6 text-right">
										<small>{{ passage.libelle }}{% if(passage.mouvementDeclenchable) %} - facturant{% endif %} -</small> <strong>{{ passage.datePrevision | localizeddate("medium", "none", null, null, "dd MMM yyyy") | capitalize }}</strong>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										{{ passage.etablissementInfos.adresse.adresse }} {{ passage.etablissementInfos.adresse.codePostal }} {{ passage.etablissementInfos.adresse.commune }}<br />
								        {{ passage.etablissementInfos.telephoneFixe }}{% if passage.etablissementInfos.telephonePortable and passage.etablissementInfos.telephoneFixe %} - {% endif %} {{ passage.etablissementInfos.telephonePortable }}
								    </div>
								    <div class="col-sm-6 text-right">
								    	<ul>
								    	{% for prestation in passage.prestations %}
								    		<li>{{ prestation.nomToString }}</li>
								        {% endfor %}
								        </ul>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<strong>{{ techIdentite }}</strong>
									</div>
							        <div class="col-sm-6 text-right">
							                {% if passage.datePrecedente %}
							                Préc.&nbsp;à&nbsp;{{passage.datePrecedente | date("H") }}h{{passage.datePrecedente | date("i") }}
							                {% endif %}
							                {% if passage.dureePrecedente %}
							                d'une durée de {{ passage.dureePrecedente }}
							                {% endif %}
							        </div>
								</div>
							</div>

                        {% endfor %}
                    </div>
                </div>
                <div class="col-xs-6 hide-print">
                    <div id="map" class="well" style="width: 100%; height: 650px;" data-geojson="{{ geojson | json_encode(constant('JSON_HEX_QUOT')) }}" data-lat="{{ coordinatesCenter.lat }}" data-lon="{{ coordinatesCenter.lon }}" data-zoom="{{ coordinatesCenter.zoom }}" data-historyrewrite="1" ></div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
