{% set _menu_active = 'passage' %}
{% extends 'base.html.twig' %}
{% block title %}Passages{% endblock title %}
{% block body %}

    <div class="row hide-print">
        <div class="col-xs-12">
            {{ include('etablissement/choixForm.html.twig', {'form': formEtablissement}) }}
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="hide-print">Liste des passages à planifier pour {{ etablissementManager.secteursNom(secteur) }}{% if anneeMois %} en {{ dateFin | localizeddate("medium", "none", null, null, "MMMM YYYY") | capitalize }} {% else %} jusqu'au {{ dateFin | localizeddate("medium", "none", null, null, "d MMMM YYYY") }} {% endif %} </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav nav-pills">
                {% for key,moisPassage in moisPassagesArray %}
                <li role="presentation" class="{% if key == anneeMois %} active {% endif %}">
                    <a href='{{ path('passage',{"secteur" : secteur, "mois" : key }) }}' >
                        <small><strong>
                          {% if key == 'courant' %}
                            D'ici le {{ dateFinCourant | localizeddate("medium", "none", null, null, "d/MM/Y") }}
                          {% else %}
                            {{ moisPassage.date | localizeddate("medium", "none", null, null, "MMMM YYYY") | capitalize }}
                          {% endif %}
                      </strong></small>&nbsp;&nbsp;&nbsp;<span class="badge">{{ moisPassage.nb }}</span>&nbsp;</a>
                </li>
                {% endfor %}
          </ul>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-12">
            <div class="form-horizontal hide-print">
                <div class="form-group">
                    <div class="col-xs-9">
                        <select mulitple="multiple" data-placeholder="Filtrer la liste en saisissant un techinicien, un code postal, ..." data-hamzastyle-container="#liste_passage" class="hamzastyle form-control select2"></select>
                    </div>
                    <div class="col-xs-3 text-right">
                        <div class="btn-group">
                            <a class="btn btn-default {% if secteur == "PARIS" %}active{% endif %}" href="{{ path('passage', {'secteur' :"PARIS"}) }}">{{ etablissementManager.secteursNom("PARIS") }}</a>
                            <a class="btn btn-default {% if secteur == "SEINE_ET_MARNE" %}active{% endif %}" href="{{ path('passage', {'secteur' :"SEINE_ET_MARNE"}) }}">{{ etablissementManager.secteursNom("SEINE_ET_MARNE") }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 enlarge-print">
                    <div id="liste_passage" class="list-group well" style="height: 650px; overflow: auto; position: relative;">
                        {% for passage in passages %}
                            {% set words = "" %}
                            {% set techColor = "" %}
                            {% set techBgColor = "" %}
                            {% set techIdentite = "" %}
                            {% set dptKeyWord = (passage.etablissementInfos.adresse.codePostal | slice(0, 2))? "Département "~passage.etablissementInfos.adresse.codePostal | slice(0, 2) : "" %}
                            {% if(passage.techniciens | length == 0) %}
                                {% set words = [dptKeyWord, "Sans technicien", passage.etablissementInfos.adresse.codePostal | trim, passage.etablissementInfos.adresse.commune | trim, passage.etablissementInfos.type, passage.datePrevision | localizeddate("medium", "none", null, null, "MMMM YYYY") | capitalize, passage.etablissementInfos.nom] | merge(passage.prestationsNom) |json_encode(constant('JSON_UNESCAPED_UNICODE')) %}
                                {% set techColor = 'white' %}
                                {% set techBgColor = 'black' %}
                                {% set techIdentite = "Sans technicien" %}
                                {% set urlPlanif = path('calendarManuel') %}
                            {% else %}
                                {% set words = [dptKeyWord, passage.techniciens[0].identite, passage.etablissementInfos.adresse.codePostal | trim, passage.etablissementInfos.adresse.commune | trim, passage.etablissementInfos.type, passage.datePrevision | localizeddate("medium", "none", null, null, "MMMM YYYY") | capitalize, passage.etablissementInfos.nom, passage] | merge(passage.prestationsNom) | json_encode(constant('JSON_UNESCAPED_UNICODE')) %}
                                {% set techColor = passage.techniciens[0].couleurText %}
                                {% set techBgColor = passage.techniciens[0].couleur %}
                                {% set techIdentite = passage.techniciens[0].identite %}
                                {% set urlPlanif = path('calendar', {'passage' : passage.id,'technicien' : passage.techniciens[0].id, 'calendrier' : passage.datedebut|date('d-m-Y')}) %}
                            {% endif %}
                            <a data-words='{{ words }}' href="{{path('passage_etablissement', {'id': 'ETABLISSEMENT-'~passage.etablissementIdentifiant })}}" id="{{ passage.id }}" class="list-group-item hamzastyle-item">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <i class="mdi mdi-{{ passage.etablissementInfos.icon }} mdi-lg"></i>
                                        <strong>{{ passage.etablissementInfos.nom|capitalize }}</strong>
                                        <small>{{ passage.etablissementInfos.adresse.codePostal }} {{ passage.etablissementInfos.adresse.commune }}</small>
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        {% for prestation in passage.prestations %}
                                            {% if(prestation.wordToPicto) %}
                                                <span class="step size-24" title="{{  prestation.nomToString }}" >
                                                    <i class="mdi-{{prestation.wordToPicto}}">&nbsp;</i></span>
                                                {%else%}
                                                <span class="label label-xs label-primary">{{  prestation.nomToString }}</span>
                                            {%endif%}
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-12" style="min-height: 21px; margin-top:10px;">
                                        {% if passage.etablissementInfos.telephoneFixe or passage.etablissementInfos.telephonePortable %}
                                            <i class="mdi mdi-call mdi-lg"></i>
                                            <small>{{ passage.etablissementInfos.telephoneFixe }}</small>
                                            {% if passage.etablissementInfos.telephoneFixe and passage.etablissementInfos.telephonePortable %}
                                                /
                                            {% endif %}
                                            <small>{{ passage.etablissementInfos.telephonePortable }}</small>
                                        {% endif %}
                                        <span title="{{ passage.libelle }}"
                                              class="pull-right badge {% if(passage.isGarantie) %}badge-warning{% elseif(passage.isControle)%}badge-warning{% else %}badge-default{% endif %} {% if(passage.mouvementDeclenchable) %}badge-inverse{% endif %} btn-xs">{{
                                                    passage.getNumeroPassage() }}</span>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-sm-3 text-left">
                                        <span class="label" style="background-color: {{ techBgColor }};color: {{ techColor }};"><small>{{ techIdentite }}</small></span>
                                    </div>
                                    <div class="col-sm-6 text-center">
                                            {% if passage.datePrecedente %}
                                            <small>Préc.&nbsp;à&nbsp;{{passage.datePrecedente | date("H") }}h{{passage.datePrecedente | date("i") }}</small>
                                            {% endif %}
                                            {% if passage.dureePrecedente %}
                                            <i class="mdi mdi-schedule mdi-lg"></i>
                                            <small>{{ passage.dureePrecedente }}</small>
                                            {% endif %}
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        <div data-url="{{ urlPlanif }}" class="btn btn-link calendar_lien" >
                                            <i class="mdi mdi-date-range mdi-lg"></i>
                                            {{ passage.datePrevision | localizeddate("medium", "none", null, null, "MMM YYYY") | capitalize }}
                                        </div>
                                    </div>
                                </div>
                            </a>

                        {% endfor %}
                    </div>
                </div>
                <div class="col-xs-6 hide-print">
                    <div id="map" class="well" style="width: 100%; height: 650px;" data-geojson="{{ geojson | json_encode(constant('JSON_HEX_QUOT')) }}"></div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
