{% set _menu_active = 'passage' %}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Modification du passage <small class="text-muted">{{ passage.identifiant }}</small></h3>
            <p>Etablissement : {{ passage.intitule }}</p>
            <p>Contrat : {{ passage.getContrat().getId() }}</p>

            {{ form_start(form) }}
        	{{ form_end(form) }}

            <a class="btn btn-default" href="{{ path('passage_etablissement', {'id': passage.etablissement.id })}}">Annuler</a>
        </div>
    </div>
{% endblock %}
