{% set words = "" %}
{% set techColor = "" %}
{% set techBgColor = "" %}
{% set techIdentite = "" %}
{% set dptKeyWord = (passage.etablissement.adresse.codePostal | slice(0, 2))? "departement "~passage.etablissement.adresse.codePostal | slice(0, 2) : "" %}
{% if(passage.techniciens | length == 0) %}
    {% set words = [dptKeyWord, "sans technicien", passage.etablissement.adresse.codePostal, passage.etablissement.adresse.commune, passage.etablissement.type, passage.datePrevision | localizeddate("medium", "none", null, null, "MMMM YYYY") | capitalize, passage.etablissement.nom] | merge(passage.prestationsNom) |json_encode(constant('JSON_UNESCAPED_UNICODE')) %}
    {% set techColor = 'white' %}
    {% set techBgColor = 'black' %}
    {% set techIdentite = "sans technicien" %}
    {% set urlPlanif = path('calendarManuel') %}
{% else %}
    {% set words = [dptKeyWord, passage.techniciens[0].identite, passage.etablissement.adresse.codePostal, passage.etablissement.adresse.commune, passage.etablissement.type, passage.datePrevision | localizeddate("medium", "none", null, null, "MMMM YYYY") | capitalize, passage.etablissement.nom, passage] | merge(passage.prestationsNom) | json_encode(constant('JSON_UNESCAPED_UNICODE')) %}
    {% set techColor = passage.techniciens[0].couleurText %}
    {% set techBgColor = passage.techniciens[0].couleur %}
    {% set techIdentite = passage.techniciens[0].identite %}
    {% set urlPlanif = path('calendar', {'passage' : passage.id,'technicien' : passage.techniciens[0].id, 'calendrier' : passage.datedebut|date('d-m-Y')}) %}
{% endif %}
{% set passagePec = passage.getPrevious() %}
{#{% set passagePec = passageManager.passagePrecedent(passage) %}#}
<a data-words='{{ words }}' href="{{path('passage_etablissement', {'id': 'ETABLISSEMENT-'~passage.etablissementIdentifiant })}}" id="{{ passage.id }}" class="list-group-item hamzastyle-item hide-print">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-9">
                    <i class="mdi mdi-{{ passage.etablissement.icon }} mdi-lg"></i>
                    <strong>{{ passage.etablissement.nom|capitalize }}</strong>
                    <small>{{ passage.etablissement.adresse.codePostal }} {{ passage.etablissement.adresse.commune }}</small>
                </div>
                <div class="col-sm-3 text-right">
                    {% for prestation in passage.prestations %}
                        {% if(prestation.wordToPicto) %}
                            <span class="step size-24" title="{{  prestation.nomToString }}" data-toggle="tooltip" >
                                <i class="mdi-{{prestation.wordToPicto}}">&nbsp;</i></span>
                            {%else%}
                            <span class="label label-xs label-primary">{{  prestation.nomToString }}</span>
                        {%endif%}
                    {% endfor %}
                </div>
            </div>
        </div>
                <div class="col-sm-12" style="min-height: 21px; margin-top:10px;">
            {% if passage.etablissement.telephoneFixe or passage.etablissement.telephonePortable %}
                <i class="mdi mdi-call mdi-lg"></i>
                <small>{{ passage.etablissement.telephoneFixe }}</small>
                {% if passage.etablissement.telephoneFixe and passage.etablissement.telephonePortable %}
                    /
                {% endif %}
                <small>{{ passage.etablissement.telephonePortable }}</small>
            {% endif %}
            <span style="cursor: help;" title="{{ passage.libelle }}"
                  data-toggle="tooltip"
                  class="pull-right badge {% if(passage.isGarantie) %}badge-warning{% elseif(passage.isControle)%}badge-warning{% else %}badge-default{% endif %} {% if(passage.mouvementDeclenchable) %}badge-inverse{% endif %} btn-xs">{{
						passage.getNumeroPassage() }}</span>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-3 text-left">
            <span class="label" style="background-color: {{ techBgColor }};color: {{ techColor }};"><small>{{ techIdentite }}</small></span>
        </div>
        <div class="col-sm-6 text-center">
            {% if(passagePec and passagePec.duree) %}
                <small>Préc.&nbsp;à&nbsp;{{passagePec.dateDebut | date("H") }}h{{passagePec.dateDebut | date("i") }}</small>
                <i class="mdi mdi-schedule mdi-lg"></i>
                <small>{{ passagePec.duree }}</small>
            {% endif %}
        </div>
        <div class="col-sm-3 text-right">
            <div data-url="{{ urlPlanif }}" class="btn btn-link calendar_lien" >
                <i class="mdi mdi-date-range mdi-lg"></i>
                {{ passage.datePrevision | localizeddate("medium", "none", null, null, "MMM YYYY") | capitalize }}
            </div>
        </div>
    </div>
</a>


<div data-words='{{ words }}' class="hamzastyle-item show-print">
	<div class="row">
		<div class="col-sm-6">
			<i class="mdi mdi-{{ passage.etablissement.icon }} mdi-lg"></i> <strong>{{ passage.etablissement.nom|capitalize }}</strong>
		</div>
		<div class="col-sm-6 text-right">
			<small>{{ passage.libelle }}{% if(passage.mouvementDeclenchable) %} - facturant{% endif %} -</small> <strong>{{ passage.datePrevision | localizeddate("medium", "none", null, null, "dd MMM YYYY") | capitalize }}</strong>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			{{ passage.etablissement.adresse.adresse }} {{ passage.etablissement.adresse.codePostal }} {{ passage.etablissement.adresse.commune }}<br />
	        {{ passage.etablissement.telephoneFixe }}{% if passage.etablissement.telephonePortable and passage.etablissement.telephoneFixe %} - {% endif %} {{ passage.etablissement.telephonePortable }}
	    </div>
	    <div class="col-sm-6 text-right">
	    	<ul>
	    	{% for prestation in passage.prestations %}
	    		<li>{{ prestation.nomToString }}</li>
	        {% endfor %}
	        </ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<strong>{{ techIdentite }}</strong>
		</div>
		<div class="col-sm-6 text-right">
	            {% if(passagePec and passagePec.duree) %}
	                Préc.&nbsp;à&nbsp;{{passagePec.dateDebut | date("H") }}h{{passagePec.dateDebut | date("i") }} d'une durée de {{ passagePec.duree }}
	            {% endif %}
		</div>
	</div>
</div>
