<h4 class="text-center">Bon de passage n° {{ passage.identifiant }}</h4>
<br />
<div class="row">
    <div class="col-xs-6">
        <p>
            <span class="lead" style="font-weight: 400; font-size: 19px">{{ parameters.emetteur.nom }}</span><br />
            {{ parameters.emetteur.adresse }}<br />
            {{ parameters.emetteur.code_postal }} {{ parameters.emetteur.commune }} <br />
            Tél : {{ parameters.emetteur.telephone }}<br />
            Email : 
        </p>
    </div>
    <div class="col-xs-6 text-left form-horizontal">
        <p><span class="lead" style="font-weight: 400; font-size: 19px">{{ passage.etablissementInfos.nom }}</span><br />
            {{ passage.etablissementInfos.adresse.adresse }}<br />
            {{ passage.etablissementInfos.adresse.codePostal }}
            {{ passage.etablissementInfos.adresse.Commune }}
        </p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        <h3>Passage du {{ passage.dateDebut | localizeddate("full", "none") }} à {{ passage.dateDebut | localizeddate('none', 'short') }} par Laurent TOUYA</h3>
        <p class="lead">n° 1 / 6 pour le contrat n° {{ passage.contrat.numeroArchive }}</p>
        <p>{% for prestation in passage.prestations %}
            <span class="btn btn-xs btn-default">{{ prestation.nom }}</span>
        {% endfor %}</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        <div class="well" style="background: #fff; padding: 10px;">
            Observations :
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="col-xs-4">
        <div class="well" style="background: #fff; padding: 10px;">
            <p>Date :</p>
            <p>Heure d'arrivée :</p>
            <p>Heure de départ :</p>
            <br />
        </div>
    </div>
    <div class="col-xs-4">
        <div class="well" style="background: #fff; padding: 10px;">
            <p>Signature du technicien :<br />
            <br />
            <br />
            <br />
            <br />
            </p>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="well" style="background: #fff; padding: 10px;">
            <p>Signature du client :<br />
            <br />
            <br />
            <br />
            <br />
            </p>
        </div>
    </div>
</div>
