<h2 style="margin-bottom: 10px; font-size: 21px;" class="text-center"><strong>Bon de passage du {{ passage.dateDebut | localizeddate("full", "none") }} à {{ passage.dateDebut | date("H") }}h{{ passage.dateDebut | date("i") }}</strong> <small>n° {{ passage.numeroArchive }}</small>
</h2>
<hr style="border-color: #ddd; margin-bottom: 30px;" />
<div class="row">
    <div class="col-xs-6">
        <p>
            <span class="lead" style="font-weight: 400; font-size: 18px">{{ parameters.emetteur.nom }}</span><br />
            {{ parameters.emetteur.adresse }}<br />
            {{ parameters.emetteur.code_postal }} {{ parameters.emetteur.commune }} <br />
            Tél : {{ parameters.emetteur.telephone }}<br />
            Email : {{ parameters.emetteur.email }}
        </p>
    </div>
    <div class="col-xs-6 text-left form-horizontal">
        <p><span class="lead" style="font-weight: 400; font-size: 18px">{{ passage.etablissementInfos.nom }}</span><br />
            {{ passage.etablissementInfos.adresse.adresseFormatee | nl2br }}<br />
            {{ passage.etablissementInfos.adresse.codePostal }}
            {{ passage.etablissementInfos.adresse.Commune }}
        </p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        <p class="lead" style="font-weight: 400;">{{ passage.libelle }} effectué par {{ passage.getTechniciensIdentite() | join(", ")}} <small> - Contrat n° {{ passage.contrat.numeroArchive }}</small></p>
        <p>{% for prestation in passage.prestations %}
            <span class="btn btn-sm btn-default">{{ prestation.nomToString }}</span>
        {% endfor %}</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        <div class="well" style="background: #fff; padding: 10px;">
            Observations :
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="col-xs-4">
        <div class="well" style="background: #fff; padding: 10px;">
            <p>Date :</p>
            <p>Heure d'arrivée :</p>
            <p>Heure de départ :</p>
            <br />
        </div>
    </div>
    <div class="col-xs-4">
        <div class="well" style="background: #fff; padding: 10px;">
            <p>Signature du technicien :<br />
            <br />
            <br />
            <br />
            <br />
            </p>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="well" style="background: #fff; padding: 10px;">
            <p>Signature du client :<br />
            <br />
            <br />
            <br />
            <br />
            </p>
        </div>
    </div>
</div>
