<h2 style="margin-bottom: 10px; font-size: 22px;" class="text-center"><strong>Suivi client : Passage du {{ passage.dateDebut | localizeddate("full", "none") }} à {{ passage.dateDebut | date('H') }}h{{ passage.dateDebut | date('i') }} n° {{ passage.numeroArchive }}
</strong>
</h2>
<hr style="border-color: #ddd; margin-bottom: 40px;" />
<div class="row">
    <div class="col-xs-6">
        <h3 style="margin-top: 0;">{{ passage.etablissement.nom }}</h3>
        {{ passage.etablissement.adresse.adresseFormatee }}<br />
        {{ passage.etablissement.adresse.codePostal }} {{ passage.etablissement.adresse.commune }}
    </div>
    <div class="col-xs-6">
        Contact : {{ passage.etablissement.contactCoordonnee.telephoneFixe }}{% if passage.etablissement.contactCoordonnee.telephoneFixe and passage.etablissement.contactCoordonnee.telephoneMobile %} / {% endif %}{{ passage.etablissement.contactCoordonnee.telephoneMobile }}{% if  passage.etablissement.contactCoordonnee.libelle %} ({{ passage.etablissement.contactCoordonnee.libelle }}){% endif %}<br />
        {% if(passage.etablissement.commentaire or passage.contrat.commentaire) %}
        Commentaire :
        {% endif %}
        {% if(passage.etablissement.commentaire) %}
            {{ passage.etablissement.commentaire }}<br />
        {% endif %}
        {% if(passage.contrat.commentaire) %}
            {{ passage.contrat.commentaire }}<br />
        {% endif %}
    </div>
</div>
<br />
{% if(passage.commentaire) %}
<p><strong>Informations :</strong> {{ passage.commentaire }}</p>
{% endif %}
<p>
    <strong>Traitement :</strong> {% for prestation in passage.prestations %}
    <span class="btn btn-default">{{ prestation.nomToString }}</span>
{% endfor %}
<br />
<br />
<strong>{{ passage.libelle }}</strong> <small>- Contrat n° {{ passage.contrat.numeroArchive }} (réalisé par {{ passage.contrat.commercial.identite }})</small>
</p>
<table style="margin-top: 20px;" class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th class="col-xs-2 text-center">Quantité utilisée</th>
            <th class="col-xs-8">Produit</th>
            <th class="col-xs-2 text-center">Quantité totale</th>
        </tr>
    </thead>
    <tbody>
        {% for produit in passage.produits  %}
        <tr>
            <td></td>
            <td>{{ produit.nom}} <small class="text-muted">({{ produit.conditionnement }})</small></td>
            <td class="text-right">{{ passage.getNbProduitsContrat(produit.identifiant)  }}</td>
        </tr>
        {% endfor %}
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
    </tbody>
</table>
<strong>Détail de la prestation : </strong>
<p style="line-height: 15px;margin-top: 10px;">{{ passage.contrat.getHtmlNomenclature() | raw | nl2br }}</p>

<h5 style="margin-bottom: 10px; margin-top: 40px;"><strong>Historique des passages</strong></h5>
<hr style="border-color: #ddd; margin-bottom: 5px; margin-top: 0px;" />
<small>
    {% for passageHistory in passagesHistory %}
        <p><strong>{{ passageHistory.dateDebut | localizeddate("full", "none") | capitalize }}</strong> réalisé par {{ passageHistory.techniciens.first() }}</p>
        <p>Traitement : {% for prestation in passageHistory.prestations %}
            <span class="btn btn-xs btn-default">{{ prestation.nomToString }}</span>
        {% endfor %}</p>
        <p>{{ passageHistory.description | replace({"\n\n": "\n"}) | nl2br }}</p>
        <table style="margin-bottom: 10px;" class="table table-bordered table-condensed">
            <tbody>
                {% for produit in passageHistory.produits  %}
                    {% if (produit.nbUtilisePassage) %}
                    <tr>
                        <td style="padding-top: 2px; padding-bottom: 2px;" class="col-xs-2 text-right">{{ produit.nbUtilisePassage }}</td>
                        <td style="padding-top: 2px; padding-bottom: 2px;" class="col-xs-10">{{ produit.nom}} <small class="text-muted">({{ produit.conditionnement }})</small></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</small>

<!--<p style="margin-bottom: 10px; margin-top: 10px"><strong>Prochain passage</strong></p>
<hr style="border-color: #ddd; margin-bottom: 10px; margin-top: 0px;" />
<small>
    <p>Juin 2015 <small>Passage n° 6 / 6</small></p>
    <p>Traitement : {% for prestation in passage.prestations %}
        <span class="btn btn-xs btn-default">{{ prestation.nomToString }}</span>
    {% endfor %}</p>
</small>-->
